@page "/Label"

@using FluentUI.Demo.Shared.Pages.Label.Examples

<PageTitle>@App.PageTitle("Label")</PageTitle>

<h1>Label</h1>

<p>
    <code>FluentLabel</code> is a component that can be used to easily insert a small formatted piece of text into your application. You choose a type of element
    from the <code>Typography</code> enum and the necessary styling will be applied automatically
</p>
<p></p>
<p>
    The component exposes the following parameters:
</p>

<h2 id="example">Example</h2>

<DemoSection Title="Label types" Component="typeof(LabelDefault)" />

<DemoSection Title="Colors" Component="typeof(LabelColor)">
    <Description>
        The <code>FluentLabel</code> component can be styled with different colors. You can use one of the predefinded colors from the <code>Color</code> enumeration, or provide your own color through the <code>CustomColor</code> parameter or <code>Style</code> parameter.
    </Description>
</DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentLabel)" />
