@page "/Label"

@using FluentUI.Demo.Shared.Pages.Label.Examples

<h1>Label</h1>
<p>
    <code>FluentLabel</code> is a component that can be used to easily insert a small formatted piece of text into your application. You choose a type of element 
    from the <code>Typography</code> enum and the necessary styling will be applied automatically 
</p>
<p>
    The component exposes th following parameters:
</p>

<h2>Examples</h2>

<DemoSection Title="Label types" Component="typeof(LabelDefault)" />

<h2>API Documentation</h2>

<ApiDocumentation Component="typeof(FluentLabel)" />
