<div><i>color</i> attribute</div>

<FluentStack HorizontalGap="4px" Wrap="true" Margin="8px 0 16px 0">
  <div class="fluent-badge">brand</div>
  <div class="fluent-badge" color="danger">danger</div>
  <div class="fluent-badge" color="important">important</div>
  <div class="fluent-badge" color="informative">informative</div>
  <div class="fluent-badge" color="severe">severe</div>
  <div class="fluent-badge" color="subtle">subtle</div>
  <div class="fluent-badge" color="success">success</div>
  <div class="fluent-badge" color="warning">warning</div>
</FluentStack>

<div><i>appearance</i> attribute</div>

<FluentStack HorizontalGap="4px" Wrap="true" Margin="8px 0 16px 0">
  <div class="fluent-badge">filled</div>
  <div class="fluent-badge" appearance="outline">outline</div>
  <div class="fluent-badge" appearance="ghost">ghost</div>
  <div class="fluent-badge" appearance="tint">tint</div>
</FluentStack>

<div><i>shape</i> attribute</div>

<FluentStack HorizontalGap="4px" Wrap="true" Margin="8px 0 16px 0">
  <div class="fluent-badge">circular</div>
  <div class="fluent-badge" shape="rounded">rounded</div>
  <div class="fluent-badge" shape="square">square</div>
</FluentStack>