@page "/Lists/Autocomplete/Debug/Comparer"

<div>Selected: <b>@string.Join("; ", Selected.Select(x => x.Name))</b></div>

<FluentAutocomplete TOption="MyUser" 
                    TValue="int" 
                    Width="100%" 
                    Label="Name" 
                    Placeholder="Name"
                    OptionText="(option) => option.Name" 
                    OptionValue="(option) => option.UserId" 
                    OptionSelectedComparer="MyComparer.Instance"
                    OnOptionsSearch="@OnSearchAsync" 
                    @bind-SelectedItems="@Selected" />

@code
{
    IEnumerable<MyUser> Selected { get; set; } = [];

    Task OnSearchAsync(OptionsSearchEventArgs<MyUser> e)
    {
        e.Items =
        [
            new MyUser
            {
                UserId = 1,
                Name = "Marvin Klein"
            },
            new MyUser
            {
                UserId = 2,
                Name = "Denis Voituron"
            },
    ];

        return Task.CompletedTask;
    }

    class MyUser
    {
        public int UserId { get; set; }
        public string Name { get; set; } = string.Empty;
    }

    class MyComparer : IEqualityComparer<MyUser>
    {
        public static readonly MyComparer Instance = new MyComparer();

        public bool Equals(MyUser? x, MyUser? y)
        {
            if (ReferenceEquals(x, y))
            {
                return true;
            }

            if (x is null || y is null)
            {
                return false;
            }

            return x.UserId == y.UserId;
        }

        public int GetHashCode(MyUser obj) => obj.UserId.GetHashCode();
    }
}