<h5>Filled</h5>
<FluentCombobox Id="combobox" Appearance="Appearance.Filled" @bind-Value="@comboboxValue">
    <FluentOption>Please Please Me</FluentOption>
    <FluentOption>With The Beatles</FluentOption>
    <FluentOption>A Hard Day's Night</FluentOption>
    <FluentOption>Beatles for Sale</FluentOption>
    <FluentOption>Help!</FluentOption>
    <FluentOption>Rubber Soul</FluentOption>
    <FluentOption>Revolver</FluentOption>
    <FluentOption>Sgt. Pepper's Lonely Hearts Club Band</FluentOption>
    <FluentOption>Magical Mystery Tour</FluentOption>
    <FluentOption>The Beatles</FluentOption>
    <FluentOption>Yellow Submarine</FluentOption>
    <FluentOption>Abbey Road</FluentOption>
    <FluentOption>Let It Be</FluentOption>
</FluentCombobox>

@code {
    string? comboboxValue;
}
