.header {
    padding: 0;
    z-index: 3;
}

.sticky-header {
    z-index: 3;
}

.hover:not([row-type='header'],[row-type='sticky-header']):hover {
    cursor: pointer;
    background-color: var(--datagrid-hover-color, var(--neutral-fill-stealth-hover));
}
