.fluent-data-grid [row-type='sticky-header'] {
  z-index: 3;
}

.fluent-data-grid tr[hover]:not([row-type='header'], [row-type='sticky-header'], [row-state='loading-content'], [row-state='detail-content'], [row-state='empty-content'], [row-state='error-content']):hover td {
  cursor: pointer;
  background-color: var(--datagrid-hover-color, var(--colorNeutralStroke2));
}


