.fluent-data-grid th,
.fluent-data-grid td {
  border-bottom: var(--strokeWidthThin) solid var(--colorNeutralStroke2);
}

.fluent-data-grid td:not(.col-select) {
  padding: 0 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-content: center;
}
  .fluent-data-grid td:focus-visible {
    outline-offset: -1px;
  }

  .fluent-data-grid td.col-justify-center {
    text-align: center;
  }

  .fluent-data-grid td.col-justify-end,
  .fluent-data-grid td.col-justify-right {
    text-align: end;
  }

.fluent-data-grid th.col-justify-end > div {
  justify-content: flex-end;
}


.fluent-data-grid td.grid-cell-placeholder:after {
  content: '\2026'; /*horizontal ellipsis*/
  opacity: 0.75;
}


.fluent-data-grid .empty-content-cell,
.fluent-data-grid .loading-content-cell {
  font-weight: 600;
  text-align: center;
  height: 100%;
  user-select: none;
}

.fluent-data-grid td.multiline-text {
  white-space: inherit;
  overflow: auto;
  word-break: break-word;
  align-content: start;
}

.fluent-data-grid .column-header {
  font-weight: 600;
  text-align: center;
  position: relative;
  padding: 2px 2px;
}

.fluent-data-grid .col-sort-button {
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.fluent-data-grid .col-sort-button {
  overflow: hidden;
}

.fluent-data-grid .col-justify-start .col-sort-button {
  justify-content: start;
  overflow: hidden;
  opacity: 1
}

.fluent-data-grid .col-justify-center .col-sort-button {
  justify-content: center;
  overflow: hidden;
  opacity: 1
}

.fluent-data-grid .col-justify-end .col-sort-button  {
  justify-content: end;
  overflow: hidden;
  opacity: 1
}


.fluent-data-grid .col-justify-end .col-sort-button::part(start) {
  margin-inline-end: 2px;
}

.fluent-data-grid .col-justify-start .col-sort-button::part(end),
.fluent-data-grid .col-justify-center .col-sort-button::part(end) {
  margin-inline-start: 2px;
}

.fluent-data-grid .col-title {
  padding: 6px 12px;
  user-select: none;
  text-align: start;
}

.fluent-data-grid .col-title-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}

.fluent-data-grid th.col-justify-center svg {
  align-content: center;
  text-align: center;
}

.fluent-data-grid .col-justify-center .col-title {
  text-align: center;
}

.fluent-data-grid .col-justify-end .col-title {
  text-align: end;
}

.fluent-data-grid .hierarchical-toggle-container {
  height: 24px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  column-gap: var(--spacingHorizontalXS);
  position: relative;
  left: calc(var(--spacingHorizontalXS) * -1.5);
}

.fluent-data-grid .hierarchical-expander {
  display: inline-block;
  width: 20px;
  position: relative;
  top: -1px;
}

  .fluent-data-grid .hierarchical-expander svg {
    transition: transform 0.1s linear;
    pointer-events: none;
  }

.fluent-data-grid .hierarchical-collapsed svg {
  transform: rotate(0deg);
}

[dir=rtl] .fluent-data-grid .hierarchical-collapsed svg {
  transform: rotate(180deg);
}

.fluent-data-grid .hierarchical-expanded svg {
  transform: rotate(90deg);
}

.fluent-data-grid .hierarchical-expand-button {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  vertical-align: middle;
}
