th, td {
    border-bottom: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-divider-rest);
}

td {
    padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width))* 1px) calc(((var(--design-unit)* 3) + var(--focus-stroke-width) - var(--stroke-width))* 1px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-content: center;
}


    td.col-justify-center {
        text-align: center;
        padding-inline-start: 0;
    }

    td.col-justify-end,
    td.col-justify-right {
        text-align: end;
        padding-inline-end: calc(var(--design-unit) * 7px);
    }

    td.grid-cell-placeholder:after {
        content: '\2026'; /*horizontal ellipsis*/
        opacity: 0.75;
    }


.empty-content-cell,
.loading-content-cell {
    font-weight: 600;
    text-align: center;
    height: 100%;
    user-select: none;
}

.multiline-text {
    white-space: inherit;
    overflow: auto;
    word-break: break-word;
    align-content: start;
}

.column-header {
    font-weight: 600;
    position: relative;
    padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px) 1px calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
}

::deep .col-sort-button {
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}

    ::deep .col-sort-button::part(content) {
        overflow: hidden;
    }

.col-justify-start ::deep .col-sort-button::part(control) {
    justify-content: start;
    overflow: hidden;
    opacity: 1
}

.col-justify-center ::deep .col-sort-button::part(control) {
    justify-content: center;
    overflow: hidden;
    opacity: 1
}

.col-justify-end ::deep .col-sort-button::part(control) {
    justify-content: end;
    overflow: hidden;
    opacity: 1
}


.col-justify-end ::deep .col-sort-button::part(start) {
    margin-inline-end: 2px;
}

.col-justify-start ::deep .col-sort-button::part(end),
.col-justify-center ::deep .col-sort-button::part(end) {
    margin-inline-start: 2px;
}

.col-justify-center ::deep .col-title {
    text-align: center;
}

.col-justify-end ::deep .col-title {
    text-align: end;
    margin-inline-end: calc(var(--design-unit) * 4px);
}
