@inherits LayoutComponentBase

<PageTitle>FluentUIBlazorServerApp</PageTitle>

<div class="container">
        <div class="siteheader">
            <a href="/">Home</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="main">
            <div class="navigation">
                <NavMenu />
            </div>

            <div class="content">
                <main>
                    <article class="content px-4">
                       
                        <ErrorBoundary>
                            <ChildContent>
                                @Body
                            </ChildContent>
                            <ErrorContent Context="ex">
                                 <p class="error">@ex.Message</p>
                            </ErrorContent>
                        </ErrorBoundary>
                    </article>
                </main>
            </div>
        </div>
    </div>