@inject NavigationManager navigationmanager

<h1 class="head">FluentUI Web Components</h1>
<ul>
    <li>
        <FluentAnchor Href="counter" Appearance=@SetAppearance("Counter")>Counter</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="fetchdata" Appearance=@SetAppearance("FetchData")>Fetch Data</FluentAnchor>
    </li>
</ul>

@code {
    private string? target;

    protected override void OnInitialized()
    {
        navigationmanager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        Uri uri = new Uri(e.Location);
        if (uri.Segments.Count() > 1)
            target = uri.Segments[1];
        else
            target = "";
        StateHasChanged();
    }

    private Appearance SetAppearance(string location) => (string.Equals(location, target, StringComparison.OrdinalIgnoreCase)) ? Appearance.Neutral : Appearance.Stealth;


}
