<div id="viewport-rtl-dynamic" style="position:relative;height:400px;width:400px;background: var(--neutral-layer-4);overflow:scroll" dir="rtl">
    <FluentAnchoredRegion Anchor="anchor-rtl-dynamic" Viewport="viewport-rtl-dynamic"
                          VerticalPositioningMode="AxisPositioningMode.Dynamic"
                          VerticalDefaultPosition="VerticalPosition.Top"
                          HorizontalPositioningMode="AxisPositioningMode.Dynamic"
                          HorizontalDefaultPosition="HorizontalPosition.Unset"
                          HorizontalScaling="AxisScalingMode.Content"
                          VerticalScaling="AxisScalingMode.Content"
                          AutoUpdateMode="AutoUpdateMode.Anchor">
        <div style="height:100px;width:100px;background:var(--highlight-bg);" />
    </FluentAnchoredRegion>
    <FluentButton Appearance=Appearance.Neutral id="anchor-rtl-dynamic" style="margin-right:100px;margin-top:100px">anchor</FluentButton>
</div>
