@page "/Footer"

@using FluentUI.Demo.Shared.Pages.Footer.Examples

<PageTitle>@App.PageTitle("Footer")</PageTitle>

<h1>Footer</h1>

<p>
    The <code>FluentFooter</code> component is used to display a colored bar (with text and possibly other components) at the bottom of a site or application. It can be styled with regular CSS.
</p>

<h2 id="example">Example</h2>

<DemoSection Component="typeof(FooterDefault)" Title="Footer" /> 

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentFooter)" />
