@page "/Lab/CounterBadge"
@* Remember to replace the namespace below with your own project's namespace. *@
@namespace FluentUI.Demo.Shared

<h1>CounterBadge</h1>

<p>
    The <code>CounterBadge</code> component is used to display a notification count on top of another component.
</p>

<ApiDocumentation Component="typeof(CounterBadge)" />

<DemoSection Component="typeof(CounterBadge)" Title="CounterBadge" 
             CollocatedFiles="@(new[] {"cs", "css"})" ComponentParameters="@CounterBadgeParameters">

</DemoSection>

<h2>Examples</h2>
<DemoSection Component="typeof(CounterBadgeDefault)" Title="Default">
    <Description>
        <p>
            First example: A "+" can be shown after the <code>Count</code> when its value is larger than the set <code>Max</code> value. To achieve this,
            set the <code>ShowOverflow</code> parameter to true (which is the default).
        </p>
        <p>
            Last example: The <code>CounterBadge</code> is, by default, not shown when the <code>Count</code> equals 0. If you still want to see the
            badge, set the <code>ShowZero</code> parameter to true in that case.
        </p>
    </Description>
</DemoSection>

@code {
    Dictionary<string, object> CounterBadgeParameters = new()
    {
        {"Count", 3},
        {"ChildContent", (RenderFragment)(builder => {
                builder.OpenComponent<FluentIcon>(0);
                builder.AddAttribute(1, "Name", FluentIcons.Mail);
                builder.AddAttribute(2, "Size", IconSize.Size24);
                builder.AddAttribute(3, "Filled", false);
                builder.AddAttribute(4, "Color", Color.Accent);
                builder.CloseComponent();
            }
        )}
    };
}