@page "/Lab/FluentStackPanel"

<h2>StackPanel</h2>

<ApiDocumentation Component="typeof(FluentStackPanel)" />

<DemoSection Component="typeof(FluentStackPanel)" Title="FluentStackPanel" CollocatedFiles="@(new[] {"cs", "css"})">

</DemoSection>

@code {

}
