@page "/Lab/FluentSpacer"

<h2>Spacer</h2>
<ApiDocumentation Component="typeof(FluentSpacer)" />

<DemoSection Component="typeof(FluentSpacer)" Title="FluentSpacer" CollocatedFiles="@(new[] {"cs" })" >
    
</DemoSection>
    
@code {

}
