@page "/Lab/FluentNavMenu"

<h2>NavMenu</h2>

<ApiDocumentation Component="typeof(FluentNavMenu)" />

<DemoSection Component="typeof(FluentNavMenu)" 
             Title="FluentNavMenu" 
             CollocatedFiles="@(new[] {"cs", "css"})" 
             ComponentParameters="@(new Dictionary<string, object>(){ {"ChildContent",(RenderFragment)(builder => builder.AddMarkupContent(1,"NavMenu text")) } })">
        <CodeSnippet>
&lt;FluentNavMenu&gt;
    NavMenu text
&lt;/FluentNavMenu&gt;
        </CodeSnippet>
        <p>Renders as:</p>
</DemoSection>

@code {

}
