@page "/Lab/FluentNavGroup"
<h2>NavGroup</h2>

<ApiDocumentation Component="typeof(FluentNavGroup)" />

<FluentNavMenu Collapsible=false>
<DemoSection Component="typeof(FluentNavGroup)" 
             Title="FluentNavGroup" 
             CollocatedFiles="@(new[] {"cs", "css"})" 
             ComponentParameters="@(new Dictionary<string, object>(){ {"ChildContent",(RenderFragment)(builder => builder.AddMarkupContent(1,"NavGroup text")) } })">
        <CodeSnippet>
&lt;FluentNavGroup&gt;
    NavGroup text
&lt;/FluentNavGroup&gt;
        </CodeSnippet>
        <p>Renders as:</p>
</DemoSection>
</FluentNavMenu>
@code {

}
