@page "/LabOverview"
<h1><FluentIcon Name="@FluentIcons.Beaker" Size="IconSize.Size32" Filled=false /> Incubation Lab Overview</h1>


<p>
    The incubation lab is were we test things out. Some of the expirements might make it into the library, others end up in the trashcan.
</p>
<p>
    We hope you will help us test-drive the components and give us feedback (at our <a href="https://github.com/microsoft/fast-blazor/discussions">repo's discussion board'</a>).
</p>

@code {

}
