@page "/Lab/MonacoEditor"

<h1>MonacoEditor</h1>

<p>
    The editor we all know and love from Visual Studio Code
 </p>

<ApiDocumentation Component="typeof(MonacoEditor)" />

<h2>Example</h2>

<DemoSection Component="typeof(MonacoDefaultExample)" Title="Default example"  />

