@page "/Lab/NavMenu"

<h2>NavMenu, NavMenuGroup and NavMenuLink</h2>
<p>
    The <code>NavMenuGroup</code>, <code>NavMenuLink</code> and <code>NavMenu</code> components can be used to build 
    hierarchical, collapsible and expandable menus. They can range from simple 1-level deep lists to complex multi-level menu 
    structures. 
</p> 
<p>
    None of these components are particulary useful when used stand-alone.
</p>

<ApiDocumentation Component="typeof(NavMenuLink)" />
<DemoSection Component="typeof(NavMenuLink)" 
             Title="NavMenuLink" 
             HideExample=true
             CollocatedFiles="@(new[] {"cs"})">
</DemoSection>

<ApiDocumentation Component="typeof(NavMenuGroup)" />
<DemoSection Component="typeof(NavMenuGroup)"
             Title="NavMenuGroup"
             HideExample=true
             CollocatedFiles="@(new[] {"cs", "css"})">
</DemoSection>

<ApiDocumentation Component="typeof(NavMenu)" />
<DemoSection Component="typeof(NavMenu)"
             Title="NavMenu"
             HideExample=true
             CollocatedFiles="@(new[] {"cs", "css"})">
</DemoSection>


<DemoSection Component="typeof(NavigationDefaultExamples)" Title="Examples" />

<DemoSection Component="typeof(NavigationCollapsibleExample)" Title="Collapsible navigation example" />

@code {
}
