@page "/Lab/NotificationBadge"
@* Remember to replace the namespace below with your own project's namespace. *@
@namespace FluentUI.Demo.Shared

<h1>NotificationBadge</h1>

<p>
    The <code>NotificationBadge</code> component is used to display a notification count on top of another component.
</p>

<ApiDocumentation Component="typeof(NotificationBadge)" />

<DemoSection Component="typeof(NotificationBadge)" Title="NotificationBadge" 
             CollocatedFiles="@(new[] {"cs", "css"})" ComponentParameters="@NotificationBadgeParameters">

</DemoSection>

<h2>Example</h2>
<DemoSection Component="typeof(NotificationBadgeDefault)" Title="Default">

</DemoSection>

@code {
    Dictionary<string, object> NotificationBadgeParameters = new()
    {
        {"Badge", "1"},
        {"ChildContent", (RenderFragment)(builder => {
                builder.OpenComponent<FluentIcon>(0);
                builder.AddAttribute(1, "Name", FluentIcons.Mail);
                builder.AddAttribute(2, "Size", IconSize.Size24);
                builder.AddAttribute(3, "Filled", false);
                builder.AddAttribute(4, "Color", Color.Accent);
                builder.CloseComponent();
            }
        )}
    };
}