@page "/Lab/Spacer"

<h1>Spacer</h1>

<ApiDocumentation Component="typeof(Spacer)" />

<h2>Example</h2>

<DemoSection Component="typeof(Spacer)" Title="Spacer" CollocatedFiles="@(new[] {"cs" })" >
    
</DemoSection>
    
@code {

}
