@page "/Lab/Spacer"

<h2>Spacer</h2>
<ApiDocumentation Component="typeof(Spacer)" />

<DemoSection Component="typeof(Spacer)" Title="Spacer" CollocatedFiles="@(new[] {"cs" })" >
    
</DemoSection>
    
@code {

}
