@page "/Lab/StackPanel"

<h2>StackPanel</h2>

<ApiDocumentation Component="typeof(StackPanel)" />

<DemoSection Component="typeof(StackPanel)" Title="StackPanel" CollocatedFiles="@(new[] {"cs", "css"})">

</DemoSection>

@code {

}
