@page "/Lab/StackPanel"

<h1>StackPanel</h1>

<ApiDocumentation Component="typeof(StackPanel)" />

<h2>Example</h2>

<DemoSection Component="typeof(StackPanel)" Title="StackPanel" CollocatedFiles="@(new[] {"cs", "css"})">

</DemoSection>

<DemoSection Component="typeof(StackPanelExample)" Title="StackPanel usage" />

@code {

}
