fluent-field:has(fluent-dropdown[readonly]) {
  pointer-events: none;
}

fluent-dropdown[readonly] {
  pointer-events: none;
  user-select: none;
}

fluent-dropdown[size="small"] button[slot="control"] {
  max-height: var(--lineHeightBase200);
}

fluent-dropdown:not([size="small"]):not([size="large"]) button[slot="control"] {
  max-height: var(--lineHeightBase300);
}

fluent-dropdown[size="large"] button[slot="control"] {
  max-height: var(--lineHeightBase400);
}

fluent-listbox[no-wrap]>fluent-option::part(content) {
  display: inline-block;
  max-width: var(--no-wrap-max-width, 250px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}