.fluent-listbox[auto-complete] {
  border-radius: unset;
  border: unset;
  box-shadow: unset;
  padding: unset;
  --max-selected-width: unset;
}


fluent-text-input[auto-complete] div[slot="start"] div {
  display: flex;
}

.fluent-listbox[auto-complete] fluent-option[hovered] {
  background-color: var(--colorNeutralBackground1Hover);
  color: var(--colorNeutralForeground2Hover);
}

fluent-text-input[auto-complete] .fluent-badge[auto-complete] {
  background: var(--colorNeutralBackground2);
  color: var(--colorNeutralForeground1);
  border-radius: var(--borderRadiusMedium);
  margin-right: var(--spacingHorizontalS);
  align-items: center;
  white-space: nowrap;
}

fluent-text-input[auto-complete] .fluent-badge[auto-complete] > svg {
  margin-left: var(--spacingHorizontalXS);
}

fluent-text-input[auto-complete] .fluent-badge[auto-complete] > span {
  display: inline-block;
  max-width: var(--max-selected-width, unset);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MaxAutoHeight */

fluent-text-input[auto-complete]:has(div[slot="start"] div[style*="max-height"])::part(root) {
  height: unset;
  min-height: 32px;
  display: grid;
  grid-template-columns: auto minmax(48px, 1fr) 24px; /* Selected items, input (min-width: 48px), clear button (24px) */
}

fluent-text-input[auto-complete] div[slot="start"] div[style*="max-height"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacingVerticalXS) 0;
  padding: var(--spacingVerticalXS) 0;
}