fluent-text-input[auto-complete] {
  --max-selected-width: unset;
  --min-input-width: 48px;
}

.fluent-listbox[auto-complete] {
  border-radius: unset;
  border: unset;
  box-shadow: unset;
  padding: unset;
}

fluent-text-input[auto-complete] div[slot="start"] div {
  display: flex;
}

.fluent-listbox[auto-complete] fluent-option[hovered] {
  background-color: var(--colorNeutralBackground1Hover);
  color: var(--colorNeutralForeground2Hover);
}

fluent-text-input[auto-complete] .fluent-badge[auto-complete] {
  background: var(--colorNeutralBackground2);
  color: var(--colorNeutralForeground1);
  border-radius: var(--borderRadiusMedium);
  margin-right: var(--spacingHorizontalS);
  align-items: center;
  white-space: nowrap;
}

fluent-text-input[auto-complete] .fluent-badge[auto-complete] > svg {
  margin-left: var(--spacingHorizontalXS);
}

fluent-text-input[auto-complete] .fluent-badge[auto-complete] > span {
  display: inline-block;
  max-width: var(--max-selected-width, unset);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MaxAutoHeight */

fluent-text-input[auto-complete]:not([items-wrapped]):not([dismiss]):has(div[slot="start"] div[style*="max-height"])::part(root) {
  height: unset;
  min-height: 32px;
  display: grid;
  grid-template-columns: auto minmax(var(--min-input-width, 48px), 1fr) 24px; /* Selected items, input (min-width: 48px), clear button (24px) */
}

fluent-text-input[auto-complete] div[slot="start"] div[style*="max-height"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacingVerticalXS) 0;
  padding: var(--spacingVerticalXS) 0;
}

/* MaxAutoHeight - Items wrapped - Show Dismiss */

fluent-text-input[auto-complete][items-wrapped]:not([dismiss])::part(root) {
  height: unset;
  min-height: 32px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto auto;
}

fluent-text-input[auto-complete][items-wrapped]:not([dismiss]) div[slot="start"] {
  grid-column: 1 / -1;
}

fluent-text-input[auto-complete][items-wrapped]:not([dismiss]) div[slot="start"] div[style*="max-height"] {
  width: 100%;
}

fluent-text-input[auto-complete][items-wrapped]:not([dismiss])::part(control) {
  grid-column: 1;
  width: 100%;
  padding: var(--spacingVerticalS) 0;
}

fluent-text-input[auto-complete][items-wrapped]:not([dismiss]) div[slot="end"] {
  grid-column: 2;
}

/* MaxAutoHeight - Items wrapped - Hide Dismiss */

fluent-text-input[auto-complete][dismiss=hidden]::part(root) {
  height: unset;
  min-height: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

fluent-text-input[auto-complete][dismiss=hidden] div[slot="start"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}

fluent-text-input[auto-complete][dismiss=hidden]::part(control) {
  flex: 1;
  flex-shrink: 0;
  min-width: var(--min-input-width, 48px);
  padding: var(--spacingVerticalXS) 0;
}