.fluent-persona {
    display: flex;
    width: fit-content;
    border-radius: 999px;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .fluent-persona .initials {
        display: flex;
        color: var(--fill-color);
        background: var(--accent-stroke-control-active);
        font-weight: 600;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
    }

    .fluent-persona[position='start'] .initials {
        order: 3;
    }

        .fluent-persona .initials img {
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

    .fluent-persona .name {
        margin-inline-start: 16px;
    }

    .fluent-persona[position='start'] .name {
        order: 1;
        margin-inline-start: 0px;
        margin-inline-end: 16px;
    } 

    .fluent-persona .close {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0px 4px;
    }

    .fluent-persona[position='start'] .close {
        order: 2;
    }
