fluent-anchor[appearance="hypertext"]::part(control) {
    display: inline-flex !important;
}

fluent-anchor[appearance="hypertext"]::part(start) {
    margin-inline-end: calc(var(--design-unit) * 1px);
}

fluent-anchor[appearance="hypertext"]::part(end) {
    margin-inline-start: calc(var(--design-unit) * 1px);
}
