
fluent-anchor[appearance="hypertext"]::part(start) {
    display: unset;
    position: relative;
    top: calc(var(--design-unit)* 1px);
}

fluent-anchor[appearance="hypertext"]::part(end) {
    display: unset;
    position: relative;
    top: calc(var(--design-unit)* 1px);
}
