
<div id="xxx" class="fluent-dialog-provider" style="z-index: 999;">
  <fluent-dialog fuib="" id="xxx" type="alert" blazor:onkeydown="x" blazor:ondialogbeforetoggle="2" blazor:ondialogtoggle="3">
    <fluent-dialog-body fuib="" style="max-height: 300px;">
      <div slot="title">My title</div>
      <div>
        <div class="fluent-message-box">
          <svg class="icon" style="width: 32px; fill: var(--info);" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
            <path d="M18 10a8 8 0 1 0-16 0 8 8 0 0 0 16 0ZM9.5 8.91a.5.5 0 0 1 1 0V13.6a.5.5 0 0 1-1 0V8.9Zm-.25-2.16a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0Z"></path>
          </svg>
          <div class="message">My message</div>
        </div>
      </div>
      <div slot="action">
        <fluent-button appearance="primary" blazor:onclick="x">OK</fluent-button>
      </div>
    </fluent-dialog-body>
  </fluent-dialog>
</div>