<FluentMenuList>
    <FluentMenuItem Role="MenuItemRole.Checkbox">
        <ChildContent>
            Item 1
            <span slot="@FluentSlot.Indicator">☑️</span>
            <span slot="@FluentSlot.Start">💙</span>
            <span slot="@FluentSlot.End">Ctrl+S</span>
            <span slot="@FluentSlot.SubMenuGlyph">→</span>
        </ChildContent>
        <MenuItems>
            <FluentMenuItem>Submenu 1</FluentMenuItem>
        </MenuItems>
    </FluentMenuItem>
</FluentMenuList>
