@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
﻿<div class="@ClassValue" @ontouchstart="OnTouchStart" @ontouchmove="OnTouchMoveAsync" @ontouchend="OnTouchEndAsync">
    <div class="fluent-pull-wrapper" style="user-select: none; @GetWrapperStyle()">
        @if (Direction == PullDirection.Down)
        {
            <div class="fluent-pull-tip fluent-pull-down-tip">
                @GetTipHtml()
            </div>
        }
        @ChildContent
        @if (Direction == PullDirection.Up)
        {
            <div class="fluent-pull-tip fluent-pull-up-tip">
                @GetTipHtml()
            </div>
        }
    </div>
</div>

