.pull-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
    .pull-container > .pull-wrapper {
        position: relative;
    }

.pull-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeff3;
    color: #999;
    padding: 0.5rem;
    height: var(--pull-refresh-head-height, 50px);
    width: 100%;
}

.pull-down-tip {
    position: absolute;
    transform: translateY(-100%);
}

.pull-up-tip {
}
