<div style="padding:10px;min-width:800px">
    <FluentToolbar id="toolbar-fluent-components-two" style="width:100%">
        <label slot="label">slotted label</label>
        <FluentRadioGroup @bind-Value=value1>
            <FluentRadio Value=@("one") Checked="true">Add</FluentRadio>
            <FluentRadio Value=@("two")>Open</FluentRadio>
            <FluentRadio Value=@("three")>Copy</FluentRadio>
        </FluentRadioGroup>
        <FluentButton Appearance="Appearance.Accent">Refresh</FluentButton>
        <FluentBadge>21 items</FluentBadge>
        <FluentRadioGroup @bind-Value=value2 slot="end">
            <FluentRadio>Filter</FluentRadio>
            <FluentRadio>
                <FluentTextField @bind-Value=text1 Placeholder="Search"></FluentTextField>
            </FluentRadio>
        </FluentRadioGroup>
        <FluentIcon Value="@(new Icons.Filled.Size16.Globe())" Slot="end" Color="Color.Accent" />
    </FluentToolbar>
</div>
@code {
    string? value1, value2, text1;
}