<div>
    <FluentHorizontalScroll class="full-width" Speed="1200" Easing="ScrollEasing.EaseInOut">
        <FluentCard>Card number 1</FluentCard>
        <FluentCard>Card number 2</FluentCard>
        <FluentCard>Card number 3</FluentCard>
        <FluentCard>Card number 4</FluentCard>
        <FluentCard>Card number 5</FluentCard>
        <FluentCard>Card number 6</FluentCard>
    </FluentHorizontalScroll>
</div>