@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

@inherits FluentComponentBase

<div id=@Id @attributes="AdditionalAttributes" class="@ClassValue" style="@Style" title="@(Tooltip ?? Text)">
    <NavLink href="@Href" class="appbar-item-navlink" Match="Match">
        <FluentStack Orientation="Orientation.Vertical"
                     HorizontalAlignment="HorizontalAlignment.Center"
                     VerticalAlignment="VerticalAlignment.Center"
                     VerticalGap="0">
            <FluentIcon Value="IconRest" Color="Color.Neutral" Class="appbar-item-icon" />
            <FluentIcon Value="IconActive ?? IconRest" Class="appbar-item-icon-secondary" />
            <div class="appbar-item-text">
                @if (Text is not null)
                {
                    @Text
                }
                else
                {
                    @ChildContent
                }
            </div>
        </FluentStack>
    </NavLink>
</div>
