@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

@inherits FluentComponentBase

<div id=@Id @attributes="AdditionalAttributes" class="@ClassValue" style="@Style" title="@(Tooltip ?? Text)">
    <NavLink role="listitem" href="@Href" Match="Match">
        <FluentStack Orientation="Orientation.Vertical"
                     HorizontalAlignment="HorizontalAlignment.Center"
                     VerticalAlignment="VerticalAlignment.Center"
                     VerticalGap="0">
            <FluentIcon Value="IconRest" Color="Color.Neutral" part="icon-rest" />
            <FluentIcon Value="IconActive ?? IconRest" part="icon-active" />
            <div part="label">
                @if (Text is not null)
                {
                    @Text
                }
                else
                {
                    @ChildContent
                }
            </div>
        </FluentStack>
    </NavLink>
</div>
