<div>
    <AccentBaseColor Value=@("#00ffff".ToSwatch())>
        <FluentCard ParentReference="@context">
            <div class="contents" style="display: grid;">
                <p>Accent color set with Design Token component</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>
    </AccentBaseColor>
</div>