@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;
@using System.Globalization;

<select @bind="Culture">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.NativeName</option>
    }
</select>

@code {
    [Inject]
    public NavigationManager NavManager { get; set; }
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    public CultureInfo[] cultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("fr-FR")
    };
    public CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}
