@inject DemoNavProvider NavProvider

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Neutral" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" >
        <FluentNavMenu Id="main-menu" Title="Main menu" CustomToggle="true" >
            @foreach(var item in NavProvider.NavMenuItems)
            {
                <DemoNavMenuItem Value="item"/>
            }
        </FluentNavMenu>
    </nav>
</div>
