<html>
	<head></head>
	<body>
		<span class="fluent-label-info">fluent label info<button id="xxx" type="button" aria-label="More information" aria-expanded="false" blazor:onclick="x">
				<svg style="width: 20px; fill: currentColor;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x" part="rest" blazor:elementreference="xxx">
					<path d="M10.5 8.91a.5.5 0 0 0-1 .09v4.6a.5.5 0 0 0 1-.1V8.91Zm.3-2.16a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0ZM18 10a8 8 0 1 0-16 0 8 8 0 0 0 16 0ZM3 10a7 7 0 1 1 14 0 7 7 0 0 1-14 0Z"></path>
				</svg>
				<svg style="width: 20px; fill: var(--colorBrandForeground1);" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x" part="active" blazor:elementreference="xxx">
					<path d="M18 10a8 8 0 1 0-16 0 8 8 0 0 0 16 0ZM9.5 8.91a.5.5 0 0 1 1 0V13.6a.5.5 0 0 1-1 0V8.9Zm-.25-2.16a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0Z"></path>
				</svg>
			</button>
			<fluent-popover-b id="xxx" anchor-id="info-f0000" opened="false" blazor:ondialogtoggle="6">
				<span>Custom template content</span>
			</fluent-popover-b>
		</span>
	</body>
</html>