@inherits LayoutComponentBase
@layout AccountLayout

<h1>Manage your account</h1>

<div class="manage">
    <h2>Change your account settings</h2>
    <hr />
    <FluentGrid>
        <FluentGridItem sm="3">
            <ManageNavMenu />
        </FluentGridItem>

        <FluentGridItem sm="9">
            @Body
        </FluentGridItem>
    </FluentGrid>
</div>
