@using static FluentUI.Demo.SampleData.Olympics2024

<div>
    Selected: <code>@string.Join("; ", SelectedCountries.Select(c => c.Name))</code>
</div>

<FluentAutocomplete TOption="Country"
                    TValue="string"
                    Width="100%"
                    OnOptionsSearch="@OnSearchAsync"
                    OptionText="@(item => item.Name)"
                    @bind-SelectedItems="@SelectedCountries" />

@code
{
    public IEnumerable<Country> SelectedCountries { get; set; } = [];

    Task OnSearchAsync(OptionsSearchEventArgs<Country> e)
    {
        e.Items = Countries.Where(i => i.Name.StartsWith(e.Text, StringComparison.OrdinalIgnoreCase))
                           .OrderBy(i => i.Name);

        return Task.CompletedTask;
    }
}
