<strong>Generated palette</strong>
<div class="palette-bar">
    @foreach (var item in Palette ?? Enumerable.Empty<KeyValuePair<string, string>>())
    {
        <PaletteItem Hex="@item.Value" Value="@item.Key" />
    }
</div>
