@namespace FluentUI.Demo.Shared

<div style="display: flex; width=100%">
    <FluentIcon Name="@FluentIcons.Alert" Size="IconSize.Size48" Variant=IconVariant.Filled Color="Color.Neutral" />
    <FluentSpacer Width="50" />
    <FluentIcon Name="@FluentIcons.Alert" Size="IconSize.Size48" Variant=IconVariant.Filled />
    <FluentSpacer Width="50" />
    <FluentIcon Name="@FluentIcons.Alert" Size="IconSize.Size48" Variant=IconVariant.Filled Color="Color.Warning" />
    <FluentSpacer Width="50" />
    <FluentIcon Name="@FluentIcons.Alert" Size="IconSize.Size48" Variant=IconVariant.Filled Color="Color.Info" />
</div>