@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentNavItem

@if (Owner.UseLinks)
{
	<NavLink fuib
			 id="@Id"
			 class="@ClassValue"
			 @attributes="Attributes">
		@ChildContent
	</NavLink>
}
else
{
	<button fuib
			class="@ClassValue"
			@onclick="OnClickHandlerAsync"
			@attributes="Attributes">
		@ChildContent
	</button>
}
