.fluent-nav .fluent-navitem {
  display: flex;
  text-transform: none;
  position: relative;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  gap: var(--spacingVerticalL);
  padding: var(--spacingVerticalMNudge) var(--spacingHorizontalS) var(--spacingVerticalMNudge) var(--spacingHorizontalMNudge);
  background-color: var(--colorNeutralBackground4);
  border-radius: var(--borderRadiusMedium);
  color: var(--colorNeutralForeground2);
  text-decoration-line: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: var(--durationFaster);
  transition-timing-function: var(--curveLinear);
  transition-property: background;
  width: 100%;
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightBase300);
}

  .fluent-nav .fluent-navitem[density="small"] {
    padding: var(--spacingVerticalXS) var(--spacingHorizontalS) var(--spacingVerticalXS) var(--spacingHorizontalMNudge);
  }

  .fluent-nav .fluent-navitem:hover {
    background-color: var(--colorNeutralBackground4Hover);
  }


