<FluentStack Wrap="true">
    <div>
        This code <b>without</b> default values: <br />
        <pre>&lt;FluentButton>Default&lt;/FluentButton></pre>
    </div>
    <FluentSpacer />
    <FluentButton Appearance="ButtonAppearance.Default" Shape="ButtonShape.Rounded" >Default</FluentButton>
</FluentStack>

<FluentDivider Margin="@Margin.Vertical2" />

<FluentStack Wrap="true">
    <div>
        This code <b>with</b> default values (Primary and Circular): <br />
        <pre>&lt;FluentButton>Default&lt;/FluentButton></pre>
    </div>
    <FluentSpacer />
    <FluentButton Appearance="ButtonAppearance.Primary" Shape="ButtonShape.Circular">Default</FluentButton>
</FluentStack>
