@using Microsoft.AspNetCore.Components.Web
@namespace FluentUI.Demo.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="_content/FluentUI.Demo.Shared/css/site.css" rel="stylesheet" />
    <link href="FluentUI.Demo.Server.styles.css" rel="stylesheet" />
    
    <!-- Monaco editor -->
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="_content/FluentUI.Demo.Shared/lib/monaco-editor/min/vs/editor/editor.main.min.css">
    
    <!-- highlight -->
    <link rel="stylesheet" title="light" href="https://cdn.jsdelivr.net/npm/@@highlightjs/cdn-assets@@11.6.0/styles/vs.min.css">
    <link rel="stylesheet" title="dark" disabled="disabled" href="https://cdn.jsdelivr.net/npm/@@highlightjs/cdn-assets@@11.6.0/styles/vs2015.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-copy@@1.0.3/dist/highlightjs-copy.min.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script>
        function switchDirection(dir) {
            document.dir = dir;
        }
    </script>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@@fluentui/web-components/dist/web-components.min.js"></script>

    <!-- Monaco Editor -->
    <script src="_content/FluentUI.Demo.Shared/lib/monaco-editor/min/vs/loader.min.js"></script>
    <script>require.config({ paths: { 'vs': '_content/FluentUI.Demo.Shared/lib/monaco-editor/min/vs' } });</script>
    <script src="_content/FluentUI.Demo.Shared/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <!--script src="_content/FluentUI.Demo.Shared/jsInterop.js"></script-->

    <!-- highlight -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@@highlightjs/cdn-assets@@11.6.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/highlightjs-cshtml-razor@@2.1.1/dist/cshtml-razor.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/highlightjs-copy@@1.0.3/dist/highlightjs-copy.min.js"></script>
    <script>
        if (hljs != null) {
            hljs.addPlugin(new CopyButtonPlugin());
        }
    </script>
</body>
</html>