<FluentListbox ValueChanged="@(e => listboxValue = e)" Height="300px" TOption="string" Width="15rem">
    <FluentOption Value="AL">Alabama</FluentOption>
    <FluentOption Value="AK">Alaska</FluentOption>
    <FluentOption Value="AZ">Arizona</FluentOption>
    <FluentOption Value="AR">Arkansas</FluentOption>
    <FluentOption Value="CA">California</FluentOption>
    <FluentOption Value="CO">Colorado</FluentOption>
    <FluentOption Value="CT">Connecticut</FluentOption>
    <FluentOption Value="DE">Delaware</FluentOption>
    <FluentOption Value="FL">Florida</FluentOption>
    <FluentOption Value="GA">Georgia</FluentOption>
    <FluentOption Value="HI">Hawaii</FluentOption>
    <FluentOption Value="ID">Idaho</FluentOption>
    <FluentOption Value="IL">Illinois</FluentOption>
    <FluentOption Value="IN">Indiana</FluentOption>
    <FluentOption Value="IA">Iowa</FluentOption>
    <FluentOption Value="KS">Kansas</FluentOption>
    <FluentOption Value="KY">Kentucky</FluentOption>
    <FluentOption Value="LA">Louisiana</FluentOption>
    <FluentOption Value="ME">Maine</FluentOption>
    <FluentOption Value="MD">Maryland</FluentOption>
    <FluentOption Value="MA">Massachussets</FluentOption>
    <FluentOption Value="MI">Michigain</FluentOption>
    <FluentOption Value="MN">Minnesota</FluentOption>
    <FluentOption Value="MS">Mississippi</FluentOption>
    <FluentOption Value="MO">Missouri</FluentOption>
    <FluentOption Value="MT">Montana</FluentOption>
    <FluentOption Value="NE">Nebraska</FluentOption>
    <FluentOption Value="NV">Nevada</FluentOption>
    <FluentOption Value="NH">New Hampshire</FluentOption>
    <FluentOption Value="NJ">New Jersey</FluentOption>
    <FluentOption Value="NM">New Mexico</FluentOption>
    <FluentOption Value="NY">New York</FluentOption>
    <FluentOption Value="NC">North Carolina</FluentOption>
    <FluentOption Value="ND">North Dakota</FluentOption>
    <FluentOption Value="OH">Ohio</FluentOption>
    <FluentOption Value="OK">Oklahoma</FluentOption>
    <FluentOption Value="OR">Oregon</FluentOption>
    <FluentOption Value="PA">Pennsylvania</FluentOption>
    <FluentOption Value="RI">Rhode Island</FluentOption>
    <FluentOption Value="SC">South Carolina</FluentOption>
    <FluentOption Value="SD">South Dakota</FluentOption>
    <FluentOption Value="TX">Texas</FluentOption>
    <FluentOption Value="TN">Tennessee</FluentOption>
    <FluentOption Value="UT">Utah</FluentOption>
    <FluentOption Value="VT">Vermont</FluentOption>
    <FluentOption Value="VA">Virginia</FluentOption>
    <FluentOption Value="WA">Washington</FluentOption>
    <FluentOption Value="WI">Wisconsin</FluentOption>
    <FluentOption Value="WV">West Virginia</FluentOption>
    <FluentOption Value="WY">Wyoming</FluentOption>
</FluentListbox>

<p>
    Selected value: @listboxValue
</p>
@code {
    string? listboxValue;
}