@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div id="@GetId()" class="@ClassValue" style="@StyleValue" spacing="@Spacing" @attributes="AdditionalAttributes">
    @ChildContent
</div>