@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

<CascadingValue IsFixed Value="this">
    <div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes" spacing="@Spacing">
        @ChildContent
    </div>
</CascadingValue>
