<div id="viewport-scaling-offset" style="height:400px;width:400px;background: var(--neutral-layer-4);overflow:auto;position:relative;">
    <FluentButton Appearance=Appearance.Neutral id="anchor-scaling-offset" style="margin-left:100px;margin-top:100px">anchor</FluentButton>
    <FluentAnchoredRegion id="region-scaling-offset" Anchor="anchor-scaling-offset" Viewport="viewport-scaling-offset"
                          VerticalPositioningMode="AxisPositioningMode.Dynamic"
                          VerticalScaling="AxisScalingMode.Fill"
                          HorizontalPositioningMode="AxisPositioningMode.Dynamic"
                          HorizontalScaling="AxisScalingMode.Fill">
        <div style="height:40px;width:60px;background:var(--highlight-bg);" />
    </FluentAnchoredRegion>
</div>
