<h4>Visual vs audio label</h4>
<FluentRadioGroup @bind-Value=value1>
    <FluentRadio Label="Visible label" />
</FluentRadioGroup>

<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <FluentRadioGroup @bind-Value="value2" Label="Outside label">
        <FluentRadio Label="label1"></FluentRadio>
    </FluentRadioGroup>
</div>
@code {
    string? value1, value2;
}