@page "/AnchoredRegion"
@using FluentUI.Demo.Shared.Pages.AnchoredRegion.Examples
<h1>Anchored region</h1>

<p>
    An <em>anchored region</em> is a container component which enables authors to create layouts where the contents of the anchored region can be positioned relative to another "anchor" element.  Additionally, the <em>anchored region</em> can react to the available space between the anchor and a parent <a href="https://developer.mozilla.org/en-US/docs/Glossary/viewport" target="_blank" rel="noopener noreferrer">"viewport"</a> element such that the region is placed on the side of the anchor with the most available space, or even resize itself based on that space.
</p>
<p>
    <code>&lt;FluentAnchoredRegion&gt;</code> wraps the <code>&lt;fluent-anchored-region&gt;</code> element, a web component implementation of an anchored region leveraging the Fluent UI design system.
</p>

<ApiDocumentation Component="typeof(FluentAnchoredRegion)" />

<h2>Examples</h2>
<div style="max-width: calc(100%-30px);">
    <DemoSection Title="AnchoredRegion examples" Component="@typeof(AnchoredRegion)"></DemoSection>
</div>