@page "/AnchoredRegion"
@using FluentUI.Demo.Shared.Pages.AnchoredRegion.Examples
<h1>Anchored region</h1>


<ApiDocumentation Component="typeof(FluentAnchoredRegion)" />

<h2>Examples</h2>
<div style="max-width: calc(100%-30px);">
<DemoSection Title="AnchoredRegion examples" CodeFilename="AnchoredRegionExamples">
    <AnchoredRegionExamples></AnchoredRegionExamples>
</DemoSection>
</div>