@using Microsoft.AspNetCore.Components.Web

<PageTitle>@string.Format(DocViewerService.PageTitle, PageTitle)</PageTitle>

<div>
    @if (_isPageNotFound)
    {
        <Markdown404 Route="@Route" />
    }
    else
    {
        @RenderHtmlContent()
    }
</div>
