@page "/Overlay"
@using FluentUI.Demo.Shared.Pages.Overlay.Examples

<h1>Overlay</h1>
<p>Overlays are used to temporarily overlay screen content to focus a dialog, progress or other information/interaction.</p>

<ApiDocumentation Component="typeof(FluentOverlay)" />

<h2>Examples</h2>
<DemoSection Title="Default" Component="typeof(OverlayDefault)" >
</DemoSection>

<DemoSection Title="Transparent overlay" Component="typeof(OverlayTransparent)">
    <Description>Overlay with transparent background</Description>
</DemoSection>

<DemoSection Title="Background color" Component="typeof(OverlayBackgroundColor)">
    <Description>Overlay with a background color from Color enum</Description>
</DemoSection>

<DemoSection Title="Custom background color" Component="typeof(OverlayCustomBackgroundColor)">
    <Description>Overlay with custom background color</Description>
</DemoSection>

<DemoSection Title="Full screen" Component="typeof(OverlayFullScreen)">
    <Description>Overlay which takes up the whole screen</Description>
</DemoSection>