@page "/HorizontalScroll"

@using FluentUI.Demo.Shared.Pages.HorizontalScroll.Examples


<h1>Horizontal Scroll</h1>

<p>An implementation of a content scroller as a web-component.</p>
<p><code>&lt;FluentHorizontalScroll&gt;</code> wraps the <code>&lt;fluent-horizontal-scroll&gt;</code> element, a web component implementation of a horizontal scroller leveraging the Fluent UI design system.</p>
<ApiDocumentation Component="typeof(FluentHorizontalScroll)" />

<h2>Examples</h2>
<div>
    <DemoSection Title="Default" ExampleFile="HorizontalScrollDefault"></DemoSection>

    <DemoSection Title="Full width cards" ExampleFile="HorizontalScrollFullWidth"></DemoSection>

    <DemoSection Title="Slow scroll" ExampleFile="HorizontalScrollSlow"></DemoSection>

    <DemoSection Title="Gradients" ExampleFile="HorizontalScrollGradients"></DemoSection>

    <DemoSection Title="Sizing" ExampleFile="HorizontalScrollSizing"></DemoSection>
</div>