<?xml version="1.0" encoding="utf-8"?>
<Configuration>
   <config>
     <trustedSigners>
       <author name="microsoft">
            <certificate fingerprint="d0cc45b761b30a2d7c85a425fbfbf30acc211e1d7c42bd2faf1619123573ce42" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
       </author>
    </trustedSigners>
   </config>
</Configuration>
