<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<trustedSigners>
			<repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
				<certificate fingerprint="72A23807230618030B3CFC200845CE317AD849BCDB7E1DD0CEDC018A68EFEEE0" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
				<certificate fingerprint="F868853A2348B82A9ED4EAF5F7BBB2C901BAECA0E9EC8BAC238CE74624BAC74B" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
				<owners>microsoft;fast</owners>
			</repository>
		</trustedSigners>
	</config>
	<packageSources>
		<clear />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
		<add key="Packages" value="D:\Source\Packages\" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="NuGet">
			<package pattern="*" />
		</packageSource>
		
	</packageSourceMapping>
</configuration>

