<?xml version="1.0" encoding="utf-8"?>
<Configuration>
   <config>
     <trustedSigners>
       <author name="microsoft">
            <certificate fingerprint="b58efdd3cb390a895361be7d2a60322b80593cae8aab43a06752a23bc3d9411a" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
       </author>
    </trustedSigners>
   </config>
</Configuration>