<div style="background-color: var(--neutral-layer-4); overflow: auto; resize: horizontal; padding: 10px;">
<FluentOverflow Style="width: 100%;">
    <FluentOverflowItem><FluentBadge>Blazor</FluentBadge></FluentOverflowItem>
    <FluentOverflowItem><FluentBadge>Microsoft</FluentBadge></FluentOverflowItem>
    <FluentOverflowItem><FluentBadge>Azure</FluentBadge></FluentOverflowItem>
    <FluentOverflowItem><FluentBadge>DevOps</FluentBadge></FluentOverflowItem>
    <FluentOverflowItem><FluentBadge>Framework</FluentBadge></FluentOverflowItem>
    <FluentOverflowItem><FluentBadge>Office</FluentBadge></FluentOverflowItem>
    <FluentOverflowItem><FluentBadge>Installation</FluentBadge></FluentOverflowItem>
</FluentOverflow>
</div>
