<FluentText Truncate="true" Nowrap="true">
    <div style="display: block; width: 320px; border: 1px solid black;">
        Setting
        <code>truncate</code>
        and
        <code>nowrap</code>
        will truncate when it overflows the container.
    </div>
</FluentText>
