<div style="display: flex; flex-direction: column; gap: 20px; width: 320px; border-left: 1px solid #000; border-right: 1px solid #000;">
    <FluentText Block="true" Align="TextAlign.Start">
       Start aligned Block="true".
    </FluentText>
    <FluentText Block="true" Align="TextAlign.End">
       End aligned Block="true".
    </FluentText>
    <FluentText Block="true" Align="TextAlign.Center">
       Center aligned Block="true".
    </FluentText>
    <FluentText Block="true" Align="TextAlign.Justify">
            Justify aligned Block="true" text stretches wrapped lines to meet container
            edges.
    </FluentText>
</div>
