<FluentText Block="true" Italic="true">
    Italics are emphasized text.
</FluentText>

<FluentText Block="true" Underline="true">
    Underlined text draws the reader's attention to the words.
</FluentText>

<FluentText Block="true" Strikethrough="true">
        Strikethrough text is used to indicate something that is no longer relevant.
</FluentText>

<span>
    <FluentText Style="background: var(--colorNeutralBackground6)">
        Fluent text is inline by default. Setting
    </FluentText>
    <FluentText Block="true" Style="background: var(--colorNeutralBackground6)">
        <span>block</span>
    </FluentText>
    <FluentText Style="background: var(--colorNeutralBackground6)">
        <span>will make it behave as a block element.</span>
    </FluentText>
</span>
