<div>
    <FluentCard Class="card-padding">
        <FluentSkeleton Shape="SkeletonShape.Circle" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton Height="10px" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton Height="10px" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton Height="10px" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton Width="75px" Height="30px" Shimmer="true"></FluentSkeleton>
    </FluentCard>
</div>