<div style="display: flex; gap: 12px; margin-bottom: 12px;">
    <FluentTextInput Label="Margin" Placeholder="Margin" @bind-Value="@Margin" Immediate />
    <FluentTextInput Label="Padding" Placeholder="Padding" @bind-Value="@Padding" Immediate />
</div>

<div style="border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);">
    <FluentButton Margin="@Margin" Padding="@Padding" Appearance="ButtonAppearance.Primary">Button</FluentButton>
</div>

@code
{
    string Margin = "ma-2";
    string Padding = "4px 12px";
}
