.container {
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-align: center;
}

/* Margin */

.margin-container {
  border: 1px dashed black;
  background-color: #F9CC9D; /* Light orange */
  color: black;
  position: relative;
}

  .margin-container::before {
    content: "margin";
    position: absolute;
    top: -1px;
    left: 2px;
    padding: 0;
    margin: 0;
  }

.margin-top {
  overflow: hidden;
  align-content: center;
  min-height: 18px;
}

.margin-left {
  align-content: center;
  min-width: 18px;
}

.margin-right {
  align-content: center;
  min-width: 18px;
}

.margin-bottom {
  align-content: center;
  min-height: 18px;
}

.margin-content {
  width: 100%;
  background-color: white;
  align-content: center;
}

/* Padding */

.padding-container {
  border: 1px dashed black;
  background-color: #C3D08B; /* Light green */
  color: black;
  height: 100%;
  position: relative;
}

  .padding-container::before {
    content: "padding";
    position: absolute;
    top: -1px;
    left: 2px;
    padding: 0;
    margin: 0;
  }

.padding-top {
  overflow: hidden;
  align-content: center;
  min-height: 18px;
}

.padding-left {
  align-content: center;
  min-width: 18px;
}

.padding-right {
  align-content: center;
  min-width: 18px;
}

.padding-bottom {
  align-content: center;
  min-height: 18px;
}

.padding-content {
  width: 100%;
  background-color: white;
  align-content: center;
}

/* Content */

.content {
  min-width: 100px;
  min-height: 24px;
  border: 1px solid black;
  background-color: #8CB6C0; /* Light blue */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
