<div style="width: 100%; height: 200px; align-content: center; justify-items: center;">
    <div class="container">

        @* Margin *@
        <div class="margin-container">
            <div class="margin-top">margin</div>
            <div style="display: flex;">
                <div class="margin-left"></div>
                <div class="margin-content">

                    @* Padding *@
                    <div class="padding-container">
                        <div class="padding-top">padding</div>
                        <div style="display: flex;">
                            <div class="padding-left"></div>
                            <div class="padding-content">

                                @* Content *@
                                <div class="content">Content</div>

                            </div>
                            <div class="padding-right"></div>
                        </div>
                        <div class="padding-bottom"></div>
                    </div>

                </div>
                <div class="margin-right"></div>
            </div>
            <div class="margin-bottom"></div>
        </div>
    </div>
</div>
