@page "/"
<h1>Fluent components home page</h1>
<FluentAnchor Appearance="Appearance.Filled" Href="webcomponents">Web components</FluentAnchor>
<FluentAnchor Appearance="Appearance.Filled" Href="handlers" >Web components handlers</FluentAnchor>
<FluentAnchor Appearance="Appearance.Filled" Href="bindings" >Web components bindings</FluentAnchor>
<FluentAnchor Appearance="Appearance.Filled" Href="componentbindings" >Blazor component bindings</FluentAnchor>