<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BE</td>
            <td>Belgium</td>
        </tr>
        <tr>
            <td>FR</td>
            <td>France</td>
        </tr>
        <tr>
            <td>NL</td>
            <td>Netherland</td>
        </tr>
    </tbody>
</table>
