<div style="display: flex; gap: 12px; margin-bottom: 24px;">
    <FluentTextInput Appearance="@TextInputAppearance.Outline"
                     Placeholder="Updated after 400ms"
                     @bind-Value="@Value"
                     @bind-Value:after="@(() => Console.WriteLine($"TextInput updated to '{Value}'.") )"
                     Immediate="true"
                     ImmediateDelay="400" />
</div>

<div>
    Value = @Value
</div>

@code
{
    string Value = "";
}
