@page "/PullToRefresh"

<div>
    <iframe src="/pull-down" style="height: 80vh; width: 400px; border: 2px solid #efefef; user-select: none;"></iframe>

    <iframe src="/pull-up" style="height: 80vh; width: 400px; border: 2px solid #efefef; user-select: none;"></iframe>
</div>
