.fluent-toast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: initial;
    margin-bottom: 10px;
    padding: 12px;
    position: relative;
    min-width: 292px;
    max-width: 500px;
    min-height: 44px;
    font-family: var(--body-font);
    background-color: var(--neutral-layer-floating);
    box-shadow: var(--elevation-shadow-tooltip);
    border-radius: calc( var(--control-corner-radius) * 1px);
    color: var(--neutral-foreground-rest);
    overflow-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    pointer-events: auto;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 0s;
}


    .fluent-toast ::deep .fluent-toast-title {
        flex-grow: 1;
        font-weight: 600;
        font-size: 14px;
    }

    .fluent-toast ::deep .fluent-toast-action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        width: 48px;
        min-width: 48px;
        height: 20px;
        font-weight: 400;
    }

    .fluent-toast ::deep .fluent-toast-body {
        display: flex;
        flex-direction: column;
        width: calc( 100% - 12px);
        justify-content: flex-start;
        padding-inline-start: 24px;
    }

    .fluent-toast ::deep .fluent-toast-small {
        font-size: 12px;
        line-height: 16px;
    }

    .fluent-toast ::deep .fluent-toast-action:has(.timestamp) {
        cursor: initial;
        width: auto;
    }

    .fluent-toast ::deep .fluent-toast-details {
        font-size: 14px;
        line-height: 20px;
    }

    .fluent-toast ::deep .fluent-toast-progressbar {
        display: grid;
        padding: 8px 0px 0px;
        width: 100%;
    }

    .fluent-toast ::deep .fluent-toast-progressbar-percentage {
        font-size: 12px;
        line-height: 16px;
        padding-top: 7px;
    }

    .fluent-toast ::deep .fluent-toast-actions {
        display: flex;
        align-items: flex-end;
        gap: 16px;
        height: 28px;
        width: calc( 100% - 12px);
        justify-content: flex-start;
        padding-inline-start: 24px;
    }

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
