.fluent-toast-provider {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
}

.position-topleft,
.position-topright,
.position-topcenter {
    top: 0;
}

.position-bottomleft,
.position-bottomright,
.position-bottomcenter {
    bottom: 0;
}

.position-topleft {
    top: 24px;
    left: 24px;
}

.position-topright {
    top: 24px;
    right: 24px;
}

.position-topcenter {
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.position-bottomleft {
    bottom: 24px;
    left: 24px;
}

.position-bottomright {
    bottom: 24px;
    right: 24px;
}

.position-bottomcenter {
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0%);
}
