@import '/_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css';

body {
    height: 100%;
    overflow: hidden;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.navmenu-icon {
    display: none;
}

.main {
    min-height: calc(100dvh - 86px);
    color: var(--colorNeutralForeground1);
    align-items: stretch !important;
}

.content {
    padding: 0.5rem 1.5rem;
    align-self: stretch !important;
    width: 100%;
}

.manage {
    width: 100dvw;
}

.siteheader {
    background-color: var(--colorNeutralBackground6) !important;
    border-bottom: var(--strokeWidthThick) solid var(--colorBrandForeground1);
    margin-bottom: 0 !important;
}

    .siteheader .logo {
        width: 108px;
        height: 23px;
        grid-column: 1;
    }

    .siteheader .search {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    .siteheader .links {
        padding-right: 10px;
        display: flex;
        align-items: center;
    }

    .siteheader .notifications {
        display: flex;
        align-items: center;
    }

    .siteheader .settings {
        padding-right: 6px;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 10px;
    }

[dir="rtl"] .siteheader .settings {
    padding: 0 0 0 6px;
    margin-left: 10px;
    margin-right: 0;
}

[dir="rtl"] .siteheader .search {
    padding-left: 20px;
    padding-right: 0;
}

[dir="rtl"] .siteheader .links {
    padding-left: 10px;
}

.search-result-icon {
    vertical-align: middle;
}

.body-stack {
    flex-direction: row;
}

footer {
    background: var(--colorNeutralBackground6);
    color: var(--colorNeutralForeground1);
    align-items: center;
    padding: 10px 10px;
}

    footer .version a {
        color: var(--colorNeutralForeground1);
        text-decoration: none;
    }

        footer .version a:focus {
            outline: 1px dashed;
            outline-offset: 3px;
        }

        footer .version a:hover {
            text-decoration: underline;
        }

.alert {
    border: 1px dashed var(--colorBrandForeground1Rest);
    padding: 5px;
}

nav.sitenav {
    background-color: var(--colorNeutralBackground1);
    padding: 1.5rem 1rem;
    height: calc(100dvh - 90px);
    width: 18rem;
    overflow-y: auto;
}

nav h2 {
    font-size: var(--fontSizeBase400);
    line-height: var(--lineHeightBase400);
    padding: 15px 0;
    margin: 0;
    pointer-events: none;
}

nav h3 {
    font-size: var(--fontSizeBase300);
    line-height: var(--lineHeightBase200);
    padding: 10px 0;
    margin: 0;
    pointer-events: none;
}


nav fluent-anchor {
    width: 100%;
    color: var(--fill-color);
}

    nav fluent-anchor::part(control) {
        justify-content: start;
        background: var(--colorBrandForeground1);
    }


.fluent-nav-link.notactive .fluent-nav-text {
    font-weight: 600 !important;
}

.content {
    display: flex;
    background-color: var(--colorNeutralBackground1);
}

article {
    padding: 1.5rem 1rem;
    border-right: 1px solid var(--colorNeutralStroke1);
    margin: 0 0;
    width: calc(100% - 18rem);
}

aside {
    padding: 1.5rem 1rem;
    top: 0px;
    height: 100vh;
    position: sticky;
    width: 18rem;
    max-height: calc(100dvh - 90px);
    overflow-y: auto;
}

#navmenu-toggle {
    display: none;
}

.navmenu-icon {
    display: none;
}

#navmenu-toggle:checked > nav {
    width: 0px;
}

[dir="rtl"] #navmenu-toggle:checked ~ nav {
    right: 0px;
}

#color {
    margin-right: 10px;
    margin-left: 0;
}

[dir="rtl"] #color {
    margin-left: 10px;
    margin-right: 0;
}


label {
    color: var(--colorNeutralForeground1);
    cursor: pointer;
}

.shell, .sourceCode {
    background: var(--colorNeutralStencil1);
    padding: 7px;
}

code {
    background: var(--colorNeutralStencil1);
}

.demopanel {
    border: 1px dashed var(--colorBrandForeground1);
    padding: 5px;
}

.highlighted-row {
    background-color: var(--colorBrandForeground1);
}

    .highlighted-row > fluent-data-grid-cell {
        color: var(--colorNeutralForegroundInverted);
    }


kbd {
    padding: 0.10rem 0.25rem;
    font-size: 0.875em;
    color: var(--colorNeutralForeground1);
    background-color: var(--colorNeutralBackground6);
    border-radius: 0.25rem;
    border: 1px solid var(--colorBrandForeground1);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: 20px 0;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::before {
        content: "An error has occurred. "
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

@media (max-width: 767px) {

    .siteheader {
        grid-area: header;
        grid-template-columns: 150px 1fr;
        align-items: center;
        justify-content: flex-start;
    }

        .siteheader .search {
            display: none;
        }

        .siteheader .logo {
            width: 160px;
            height: 23px;
            /*padding: 0 25px;*/
        }


    .body-stack {
        flex-direction: column !important;
    }

    nav.sitenav {
        width: 100%;
        height: calc(100dvh - 50px);
    }

    .navmenu {
        width: 100%;
    }

    #navmenu-toggle {
        appearance: none;
    }

    .navmenu-icon {
        cursor: pointer;
        z-index: 10;
        display: block;
        position: absolute;
        top: 15px;
        left: unset;
        right: 20px;
        width: 20px;
        height: 20px;
        border: none;
    }

    [dir="rtl"] .navmenu-icon {
        left: 20px;
        right: unset
    }

    #navmenu-toggle ~ nav {
        display: none;
    }

    #navmenu-toggle:checked ~ nav {
        display: block;
    }

    #navmenu-toggle ~ article {
        display: block;
    }

    #navmenu-toggle:checked ~ article {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    article {
        padding-top: 0px;
        width: 100%;
    }

    aside {
        padding: 1em 0.75em;
        width: 100%;
    }

    .footer {
        display: grid;
        grid-template-columns: 10px auto 10px;
    }

        .footer .version {
            grid-column: 2;
            justify-self: start;
        }

        .footer .copy {
            grid-column: 2;
            grid-row: 2;
            justify-self: end;
        }


    @media screen and (max-width: 767px) and (orientation: landscape) {

        nav {
            padding: 25px 40px;
        }

            nav ul {
                margin: 0 0;
            }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    fluent-select::part(control) {
        width: 150px;
    }

    aside {
        padding: 1.5em 0.75em 1em 0.75em;
        width: 12rem;
    }

    article {
        padding-top: 0px;
        width: 100%;
    }
}


/* Surface Duo specific styling */
@media (horizontal-viewport-segments: 2) {

    .siteheader {
        grid-area: header;
        display: grid;
        grid-template-columns: 150px calc(env(viewport-segment-width 0 0) - 160px) 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 0;
        background-color: var(--colorNeutralBackground4);
    }

        .siteheader a {
            padding: 0px 15px;
            color: var(--colorNeutralForeground1);
        }

        .siteheader .logo {
            grid-column: 1;
            width: 108px;
            height: 23px;
            /*padding: 0 30px;*/
        }

    main {
        display: grid;
        grid-template-columns: env(viewport-segment-width 0 0) 1fr;
        grid-template-rows: repeat(0, 1fr);
    }

    nav {
        grid-column: 1;
        width: env(viewport-segment-width 0 0) !important;
    }

    .content {
        display: grid;
        grid-template-columns: auto;
    }

    aside {
        grid-area: 2 / 2 / 3 / 3;
        padding: 1.5em 0.75em 1em 0.75em;
        margin-inline-start: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)); /* hinge width */
        margin-inline-end: calc(100% - env(viewport-segment-left 1 0));
        width: auto;
    }

    article {
        grid-area: 1 / 2 / 2 / 3;
        padding-top: 0px;
        margin-inline-start: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)); /* hinge width */
        margin-inline-end: calc(100% - env(viewport-segment-left 1 0));
        width: auto;
    }
}



@media (min-width: 800px) {
    .fluent-dialog-main {
        --dialog-width: 340px;
    }
}


@media (max-width: 480px) {
    .fluent-dialog-main {
        --dialog-width: 100vw;
    }
}

/*  Responvive Youtube Video

    <div class="youtube-responsive">
      <iframe src="https://www.youtube.com/embed/lUZ5mrg2Q8k" frameborder="0" allowfullscreen></iframe>
    </div>
*/
.youtube-responsive {
    position: relative;
    height: 0;
    padding-top: 56%;
    overflow: hidden;
    max-width: 100%;
}

    .youtube-responsive iframe,
    .youtube-responsive object,
    .youtube-responsive embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .youtube-responsive .fluid-vids {
        position: initial !important
    }

.youtube-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    min-height: 24px;
}
