@page "/Wizard"

@using FluentUI.Demo.Shared.Pages.Wizard.Examples

<h1>Wizard</h1>

<h2 id="example">Examples</h2>

<DemoSection Title="Default with event handling" Component="@typeof(WizardDefault)"/>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentWizard)" />

<ApiDocumentation Component="typeof(FluentWizardStep)" />
