@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div class="fluent-layout">
        @ChildContent
    </div>
</CascadingValue>
