.fluent-layout-item {
}

  .fluent-layout-item[area="header"] .fluent-layout-hamburger {
    display: none;
    margin: 0px 4px;
    fill: var(--colorNeutralForegroundOnBrand);
  }

    .fluent-layout-item[area="header"] .fluent-layout-hamburger[display="mobile-desktop"] {
      display: flex;
    }

    .fluent-layout-item[area="header"] .fluent-layout-hamburger:hover {
      background-color: var(--colorBrandBackgroundPressed);
    }

  fluent-drawer[hamburger]::part(dialog) {
    background-color: var(--dialog-bg-color, var(--colorNeutralBackground4));
    max-width: 100svw;
  }
