.fluent-layout {
  --layout-height: 100vh;
  --zindex-layout-aside: 80;
  --zindex-layout-menu: 80;
  --zindex-layout-header: 85;
  --zindex-layout-footer: 85;
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content aside"
    "footer footer footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

  .fluent-layout[global-scrollbar] {
    overflow-y: auto;
  }

  .fluent-layout *[hide-on-desktop] {
    display: none;
  }

@media (max-width: 768px) {
  .fluent-layout {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    overflow-x: auto;
  }

    .fluent-layout *[hide-on-desktop] {
      display: unset;
    }
}
