.fluent-header {
  top: 0px;
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackgroundHover);
  padding: 8px;
}

  .fluent-header[inside-layout] {
    grid-area: header;
  }
