.fluent-footer {
  color: var(--colorNeutralForeground1);
  background-color: var(--colorNeutralBackgroundDisabled);
  padding: 8px;
  width: 100%;
}

  .fluent-footer[inside-layout] {
    grid-area: footer;
  }
