@namespace Microsoft.FluentUI.AspNetCore.Components

@inherits FluentComponentBase

<div @ref=Element id="@Id" class="@ClassValue" style="@StyleValue" orientation="@_orientation" @attributes="AdditionalAttributes">
    @ChildContent
</div>

