.layout {
    height: 100%;
    width: 100%;
    position: relative;
    flex: 1;
    display: flex;
}

.layout--vertical {
    flex-direction: column;
}

.layout--horizontal {
    flex-direction: row;
}
