.fluent-layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content aside"
    "footer footer footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

  .fluent-layout[overflow] {
    overflow-y: auto;
  }

@media (max-width: 768px) {
  .fluent-layout {
    grid-template-areas:
      "header"
      "content"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
  }

    .fluent-layout .fluent-layout-item[area="aside"] {
        width: 100% !important;
    }

    .fluent-layout .fluent-layout-item[area="menu"] {
      display: none;      
    }
}
