.fluent-layout-item {
}

  .fluent-layout-item[area="header"] .fluent-layout-hamburger {
    display: none;
    margin: 0px 4px;
    fill: var(--colorNeutralForegroundOnBrand);
  }

    .fluent-layout-item[area="header"] .fluent-layout-hamburger:hover {
      background-color: var(--colorBrandBackgroundPressed);
    }
