<h4>Default (clickable) calendar</h4>
<FluentCalendar OnDateClicked="HandleDateClicked" />
<p>You clicked on @clickedDate</p>

<h4>Readonly</h4>
<FluentCalendar Readonly=true />

<h4>Show a minumum of 6 weeks</h4>
<FluentCalendar MinWeeks="6" />

<h4>2-digit day format</h4>
<FluentCalendar DayFormat=DayFormat.TwoDigit />

@code {
    private DateOnly? clickedDate = null;

    private void HandleDateClicked(DateOnly date)
    {
        clickedDate = date;
    }
}
