@namespace Microsoft.Fast.Components.FluentUI
<label>From</label>
<input type="date" @bind-value=FromDate/>
<label>To</label>
<input type="date" @bind-value=ToDate/>
<FluentButton @onclick="DataEntered">Search</FluentButton>

