@page "/Skeleton"

@using FluentUI.Demo.Shared.Pages.Skeleton.Examples

<style>
    fluent-card {
        --card-width: 500px;
        --card-height: auto;
    }

    .card-padding {
        padding: 20px;
    }
</style>

<h1>Skeleton</h1>

<p>
    The <code>&lt;FluentSkeleton&gt;</code> component is used as a visual placeholder for an element while it is in a loading state and
    usually presents itself as a simplified wireframe-like version of the UI it is representing.
</p>
<p>
    <code>&lt;FluentSkeleton&gt;</code> wraps the <code>&lt;fluent-skeleton&gt;</code> element, a web component implementation of a radio element leveraging the
    Fluent UI design system.
</p>

<ApiDocumentation Component="typeof(FluentSkeleton)" />

<h2>Examples</h2>

<fluent-design-system-provider background-color="#f7f7f7" use-defaults>
    <DemoSection Title="Used as element blocks" ExampleFile="SkeletonElementBlocks"></DemoSection>"

    <DemoSection Title="Used as element blocks with shimmer effect element" ExampleFile="SkeletonShimmer"></DemoSection>

    <DemoSection Title="Using SVG via Pattern attribute" ExampleFile="SkeletonPatternSVG"></DemoSection>

    <DemoSection Title="Using inline SVG" ExampleFile="SkeletonInlineSVG"></DemoSection>
</fluent-design-system-provider>