<div style="display:flex">
    <FluentButton Appearance="Appearance.Neutral"><FluentIcon Slot="start" Icon="Icons.Regular.Size20.ArrowCircleLeft" /> Button with icon in 'start' slot</FluentButton>
    <FluentButton Appearance="Appearance.Neutral"><FluentIcon Slot="end" Icon="Icons.Regular.Size20.ArrowCircleRight" /> Button with icon in 'end' slot</FluentButton>
</div>
