<div hidden="@this.Hidden">
    <FluentPersona Name="Kevin Sturgis"
                   Status="PresenceStatus.Available"
                   StatusSize="PresenceBadgeSize.Small"
                   StatusTitle="He is available"
                   Image="https://res-1.cdn.office.net/files/fabric-cdn-prod_20230815.002/office-ui-fabric-react-assets/persona-male.png"
                   ImageSize="50px"
                   DismissTitle="Hide Kevin"
                   OnDismissClick="@this.Dismiss">
    </FluentPersona>
</div>

@code {
    private bool Hidden { get; set; }

    private void Dismiss()
    {
        this.Hidden = true;
    }
}