::deep .navmenu {
    background-color: var(--neutral-layer-1);
}



::deep .nav-menu-expander::part(positioning-region) {
    background-color: var(--neutral-fill-stealth-rest);
}

::deep .nav-menu-expander::part(content-region) {
    margin-inline-start: calc(var(--design-unit) * 2px);
    -webkit-user-select: none;
    user-select: none;
}

::deep .nav-menu-expander::part(positioning-region):hover {
    background-color: var(--neutral-fill-secondary-rest);
}

::deep .nav-menu-expander.selected::after {
    display: none;
}



::deep .navmenu-item::part(content-region) {
    -webkit-user-select: none;
    user-select: none;
    margin-inline-start: calc(var(--design-unit) * 2px);
}




::deep .navmenu-group::part(content-region) {
    margin-inline-end: var(--expand-collapse-button-size);
}

::deep .navmenu-group::part(expand-collapse-button) {
    right: 0;
    left: unset;
    margin-inline-end: calc(var(--expand-collapse-button-size) * -1 + (var(--design-unit) * 2px));
}

[dir="rtl"] * .navmenu-group::part(expand-collapse-button) {
    left: calc(var(--design-unit) * 2px);
    right: unset;
    margin-inline-start: calc(var(--expand-collapse-button-size) - (var(--design-unit) * 2px));
}
