<fluent-field id="xxx" label-position="above">
  <fluent-dropdown id="xxx" slot="input" type="dropdown" blazor:ondropdownchange="1" blazor:onfocusin="2" blazor:onfocusout="3" blazor:ontextimmediate="4" blazor:elementreference="xxx">
    <fluent-listbox>
      <fluent-option id="xxx" value="One">One</fluent-option>
      <fluent-option id="xxx" value="Two">Two</fluent-option>
      <fluent-option id="xxx" value="Three">Three</fluent-option>
    </fluent-listbox>
  </fluent-dropdown>
  <fluent-text size="200" slot="message"></fluent-text>
</fluent-field>