
<fluent-field id="xxx" label-position="above">
  <fluent-dropdown id="xxx" placeholder="Select a digit" slot="input" type="dropdown" blazor:ondropdownchange="1" blazor:onfocusout="2">
    <fluent-listbox>
      <fluent-option id="xxx"></fluent-option>
      <fluent-option id="xxx" text="One" value="One">One</fluent-option>
      <fluent-option id="xxx" text="Two" value="Two">Two</fluent-option>
      <fluent-option id="xxx" text="Three" value="Three">Three</fluent-option>
    </fluent-listbox>
  </fluent-dropdown>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>
