<html>
	<head></head>
	<body>
		<fluent-field id="xxx" label-position="above" style="width: 160px;">
			<fluent-text-input style="width: 160px;" appearance="outline" autocomplete="false" id="xxx" placeholder="Select a digit" slot="input" blazor:onfocusout="2" blazor:onchange="3" blazor:ontextimmediate="4" auto-complete="true" blazor:onkeydown="x" blazor:onclick="x" blazor:elementreference="xxx">
				<div slot="start">
					<div style=""></div>
				</div>
				<div slot="end">
					<svg style="width: 20px; fill: currentColor; cursor: pointer;" focusable="true" tabindex="0" role="button" viewBox="0 0 20 20" blazor:onkeydown="x" blazor:onclick="x" blazor:onclick:stoppropagation="" blazor:onfocus="9" blazor:elementreference="xxx">
						<path d="M12.73 13.44a6.5 6.5 0 1 1 .7-.7l3.42 3.4a.5.5 0 0 1-.63.77l-.07-.06-3.42-3.41Zm-.71-.71A5.54 5.54 0 0 0 14 8.5a5.5 5.5 0 1 0-1.98 4.23Z"></path>
					</svg>
				</div>
			</fluent-text-input>
			<fluent-text as="span" size="200" slot="message"></fluent-text>
		</fluent-field>
		<fluent-popover-b id="xxx" anchor-id="my-list" opened="false" blazor:ondialogtoggle="1">
			<div class="fluent-stack-vertical" style="justify-content: start; align-items: start; width: 100%;"></div>
		</fluent-popover-b>
	</body>
</html>
