
<fluent-field id="xxx" label-position="above">
  <fluent-dropdown placeholder="Select a digit" id="xxx" slot="input" type="dropdown" blazor:ondropdownchange="1" blazor:onfocusout="2">
    <fluent-listbox>
      <fluent-option id="xxx"></fluent-option>
      <fluent-option id="xxx" value="One">One</fluent-option>
      <fluent-option id="xxx" value="Two">Two</fluent-option>
      <fluent-option id="xxx" value="Three">Three</fluent-option>
    </fluent-listbox>
  </fluent-dropdown>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>
