
<fluent-field id="xxx" label-position="above" class="my-3">
  <label id="xxx" slot="label" for="xxx" required="">List of digits
    <span class="asterisk" aria-hidden="true"></span>
  </label>
  <fluent-dropdown type="select" id="xxx" required="" slot="input" blazor:onfocusout="1" blazor:onchange="2">
    <fluent-listbox>
      <fluent-option selected="" blazor:onclick="x"></fluent-option>
      <fluent-option value="One" blazor:onclick="x">One</fluent-option>
      <fluent-option value="Two" blazor:onclick="x">Two</fluent-option>
      <fluent-option value="Three" blazor:onclick="x">Three</fluent-option>
    </fluent-listbox>
  </fluent-dropdown>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>