<h5>Password</h5>
<FluentTextField TextFieldType="TextFieldType.Password">Password</FluentTextField>

<h5>Email (with spellcheck)</h5>
<FluentTextField TextFieldType="TextFieldType.Email" Spellcheck="true">Email (with spellcheck)</FluentTextField>

<h5>Telephone number</h5>
<FluentTextField TextFieldType="TextFieldType.Tel">Telephone</FluentTextField>

<h5>Url</h5>
<FluentTextField TextFieldType="TextFieldType.Url">Url</FluentTextField>
