<h5>Visual vs audio label</h5>
<FluentTextField>
    <span aria-label="Audio label">Visible label</span>
</FluentTextField>

<h5>Audio label only</h5>
<FluentTextField>
    <span aria-label="Audio label only"></span>
</FluentTextField>

<h5>With aria-label</h5>
<FluentTextField aria-label="Text field with aria-label"></FluentTextField>
