<h4>Default</h4>
<FluentTextField @bind-Value=value1 Appearance="Appearance.Filled"></FluentTextField>
<FluentTextField @bind-Value=value2 Appearance="Appearance.Filled">label</FluentTextField>

<h4>Placeholder</h4>
<FluentTextField @bind-Value=value3 Appearance="Appearance.Filled" Placeholder="Placeholder"></FluentTextField>

<h4>Required</h4>
<FluentTextField @bind-Value=value4 Appearance="Appearance.Filled" Required="true"></FluentTextField>

<h4>Disabled</h4>
<FluentTextField @bind-Value=value5 Appearance="Appearance.Filled" Disabled="true"></FluentTextField>
<FluentTextField @bind-Value=value6 Appearance="Appearance.Filled" Disabled="true">label</FluentTextField>
<FluentTextField @bind-Value=value7 Appearance="Appearance.Filled" Disabled="true" Placeholder="placeholder"></FluentTextField>

<h4>Read only</h4>
<FluentTextField @bind-Value=value8 Appearance="Appearance.Filled" Readonly="true"></FluentTextField>
<FluentTextField @bind-Value=value9 Appearance="Appearance.Filled" Readonly="true">label</FluentTextField>

@code {
    string? value1, value2, value3, value4, value5 = "Disabled", value6 = "Disabled", value7 = "Disabled", value8 = "Readonly", value9 = "Readonly";
}