<h5>Autofocus</h5>
<p>Commented out to prevent page actually jumping to this location. See example code below for implementation.</p>
@*<FluentTextField Autofocus="true">autofocus</FluentTextField>*@

<h5>Focus Async</h5>
<div style="display:flex">
    <FluentButton @onclick="() => focusTest!.FocusAsync()">FocusAsync</FluentButton>
    <FluentTextField @ref=focusTest></FluentTextField>
</div>
@code {
    FluentTextField? focusTest;
}