<h5>With start</h5>
<FluentTextField>
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentTextField>

<h5>With end</h5>
<FluentTextField>
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentTextField>