
<h5>Required</h5>
<FluentTextField Required="true"></FluentTextField>

<h5>Disabled</h5>
<FluentTextField Disabled="true"></FluentTextField>
<FluentTextField Disabled="true">label</FluentTextField>
<FluentTextField Disabled="true" Placeholder="placeholder"></FluentTextField>

<h5>Read only</h5>
<FluentTextField Readonly="true" Value="Readonly"></FluentTextField>
<FluentTextField Readonly="true" Value="Readonly">label</FluentTextField>