<h5>Default</h5>
<FluentTextField Appearance="Appearance.Filled"></FluentTextField>
<FluentTextField Appearance="Appearance.Filled">label</FluentTextField>

<h5>Placeholder</h5>
<FluentTextField Appearance="Appearance.Filled" Placeholder="Placeholder"></FluentTextField>

<h5>Required</h5>
<FluentTextField Appearance="Appearance.Filled" Required="true"></FluentTextField>

<h5>Disabled</h5>
<FluentTextField Appearance="Appearance.Filled" Disabled="true"></FluentTextField>
<FluentTextField Appearance="Appearance.Filled" Disabled="true">label</FluentTextField>
<FluentTextField Appearance="Appearance.Filled" Disabled="true" Placeholder="placeholder"></FluentTextField>

<h5>Read only</h5>
<FluentTextField Appearance="Appearance.Filled" Readonly="true" Value="Readonly"></FluentTextField>
<FluentTextField Appearance="Appearance.Filled" Readonly="true" Value="Readonly">label</FluentTextField>