.fluent-color-picker {
    --color-picker-width: 24px;
    --color-picker-selected-border: var(--strokeWidthThin) solid var(--colorBrandStroke1);
    --color-picker-selected-border-radius: var(--borderRadiusMedium);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fluent-color-picker[orientation="vertical"] {
    width: calc(var(--color-picker-width) * 19);
    height: calc(var(--color-picker-width) * 10);
    flex-direction: column;
}

.fluent-color-picker[orientation="horizontal"] {
    width: calc(var(--color-picker-width) * 10);
    height: calc(var(--color-picker-width) * 19);
    flex-direction: row;
}

.fluent-color-picker>div {
    width: var(--color-picker-width);
    height: var(--color-picker-width);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fluent-color-picker>div[selected],
.fluent-color-picker>div:hover {
    border: var(--color-picker-selected-border);
    border-radius: var(--color-picker-selected-border-radius);
}

.fluent-color-picker>div>svg {
    filter: invert(100%);
}

.fluent-color-wheel polygon {
    cursor: pointer;
    transition: stroke-width 0.1s;
}

.fluent-color-wheel polygon:hover {
    stroke: #ffffff;
    stroke-width: 2;
}

.fluent-color-wheel polygon.hex-selected {
    stroke: #ffffff;
    stroke-width: 3;
}
