@page "/button/default"

<div>
    Current count: <span data-testid="current-value">@Value</span>
</div>
<FluentButton Appearance="ButtonAppearance.Primary" OnClick="@Increment">Increment</FluentButton>

@code
{
    private int Value = 0;

    private void Increment()
    {
        Value++;
    }
}
