<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["FluentUI.Explorers.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script>
        window.copyToClipboard = function(text, element) {
            navigator.clipboard.writeText(text).then(function () {
                // Add animation class
                element.classList.add('copied');

                // Remove the animation class after animation completes
                setTimeout(function() {
                    element.classList.remove('copied');
                }, 600); // Match the animation duration

                return "";
            }).catch(function (error) {
                return error;
            });
        }
    </script>

</body>

</html>
