@page "/FlipperPage"

<h1>Flipper</h1>
<h2>Documentation</h2>
<ApiDocumentation Component="typeof(FluentFlipper)" />
<h4>Default</h4>
<FluentFlipper></FluentFlipper>

<h4>Previous</h4>
<FluentFlipper Direction="FlipperDirection.Previous"></FluentFlipper>

<h4>Previous with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Previous">
    <FluentIcon Name="@FluentIcons.ArrowCircleLeft" Slot="previous" Size="@IconSize.Size16" Filled=true UseAccentColor=false />
</FluentFlipper>

<h4>Next</h4>
<FluentFlipper Direction="FlipperDirection.Next"></FluentFlipper>

<h4>Next with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Next">
    <FluentIcon Name="@FluentIcons.ArrowCircleRight" Slot="next" Size="@IconSize.Size16" Filled=true UseAccentColor=false />
</FluentFlipper>

<h4>With aria-hidden</h4>
<FluentFlipper AriaHidden="false"></FluentFlipper>

<h4>Disabled</h4>
<FluentFlipper Disabled="true"></FluentFlipper>