@page "/Flipper"

<h1>Flipper</h1>

<p>
    The flipper component is most often used to page through blocks of content or collections of ui elements. As flippers are often a supplemental
    form of navigation, the flippers are hidden by default to avoid duplicate keyboard interaction. Passing an attribute of
    <code>aria-hidden="false"</code> will expose the flippers to assistive technology.
</p>
<p>
    <code>&lt;FluentFlipper&gt;</code> wraps the <code>&lt;fluent-flipper&gt;</code> element, a web component implementation of a flipper leveraging the Fluent UI design system.
</p>

<ApiDocumentation Component="typeof(FluentFlipper)" />
<h4>Default</h4>
<FluentFlipper></FluentFlipper>

<h4>Previous</h4>
<FluentFlipper Direction="FlipperDirection.Previous"></FluentFlipper>

<h4>Previous with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Previous">
    <FluentIcon Name="@FluentIcons.ArrowCircleLeft" Slot="previous" Size="@IconSize.Size16" Filled=true UseAccentColor=false />
</FluentFlipper>

<h4>Next</h4>
<FluentFlipper Direction="FlipperDirection.Next"></FluentFlipper>

<h4>Next with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Next">
    <FluentIcon Name="@FluentIcons.ArrowCircleRight" Slot="next" Size="@IconSize.Size16" Filled=true UseAccentColor=false />
</FluentFlipper>

<h4>With aria-hidden</h4>
<FluentFlipper AriaHidden="false"></FluentFlipper>

<h4>Disabled</h4>
<FluentFlipper Disabled="true"></FluentFlipper>