@page "/pull-down"
@layout EmptyLayout
@inject IJSRuntime js

<FluentPullToRefresh Direction="@PullDirection.Down" OnRefreshing="OnRefresh">

    <div style="user-select: none; height: 2000px;">
        pull down Refresh times @count
    </div>

</FluentPullToRefresh>


@code {
    int count = 0;
    public async Task<bool> OnRefresh()
    {
        count++;
        await Task.Delay(1000);
        return true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("loadTouchEmulator");
        }
    }
}
