@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@inherits ValidationSummary

@if (_validationMessages is not null && _validationMessages.Any())
{
    <div @attributes="AdditionalAttributes">
        <ul class="validation-errors">

            @foreach (var error in _validationMessages)
            {
                <li class="validation-message">@error</li>
            }
        </ul>
    </div>
}