@namespace Microsoft.Fast.Components.FluentUI
@using Microsoft.AspNetCore.Components.Forms
@inherits ValidationSummary

@{ var validationMessages = Model is null ? FluentEditContext.GetValidationMessages() : FluentEditContext.GetValidationMessages(new FieldIdentifier(Model, string.Empty));

    @if (validationMessages.Count() > 0)
    {
        <div @attributes="AdditionalAttributes">
             <ul class="validation-errors">

            @foreach (var error in validationMessages)
            {
                <li class="validation-mesage">@error</li>
            }
            </ul>
        </div>
    }
}


