.fluent-card {
  color: var(--colorNeutralForeground1);
  padding: var(--spacingVerticalM) var(--spacingHorizontalM);
  box-shadow: var(--shadow4);
}

  .fluent-card:not([appearance]),
  .fluent-card[appearance="default"] {
    background-color: var(--colorNeutralBackground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
  }

  .fluent-card[appearance="filled"] {
    background-color: var(--colorNeutralBackground2);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
  }

  .fluent-card[appearance="outline"] {
    background-color: var(--colorTransparentBackground);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
  }

  .fluent-card[appearance="subtle"] {
    box-shadow: none;
  }

  /* Shadow */
  .fluent-card[shadow="small"] {
    box-shadow: var(--shadow2);
  }

  .fluent-card[shadow="medium"] {
    box-shadow: var(--shadow8);
  }

  .fluent-card[shadow="large"] {
    box-shadow: var(--shadow16);
  }

  .fluent-card[shadow="extralarge"] {
    box-shadow: var(--shadow28);
  }

  /* Hover */

  .fluent-card[selectable]:hover {
    background-color: var(--colorNeutralBackground1Hover);
    color: var(--colorNeutralForeground1Hover);
    border-color: var(--colorNeutralStroke1Hover);
    box-shadow: var(--shadow8);
    cursor: pointer;
  }

  .fluent-card[selectable][appearance="subtle"]:hover {
    box-shadow: none;
  }

  .fluent-card[shadow="small"][selectable]:hover {
    box-shadow: var(--shadow4);
  }

  .fluent-card[shadow="medium"][selectable]:hover {
    box-shadow: var(--shadow16);
  }

  .fluent-card[shadow="large"][selectable]:hover {
    box-shadow: var(--shadow28);
  }

  .fluent-card[shadow="extralarge"][selectable]:hover {
    box-shadow: var(--shadow64);
  }
