@page "/MainLayout"

@using FluentUI.Demo.Shared.Pages.MainLayout.Examples

<PageTitle>@App.PageTitle("MainLayout")</PageTitle>

<h1>MainLayout</h1>

<p>
    The <code>FluentMainLayout</code> component offers a framework for a layout of a page in a site
</p>

<h2 id="example">Example</h2>

<DemoSection Component="typeof(MainLayoutDefault)" Title="MainLayout" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentMainLayout)" />
