@page "/Videos"

@using FluentUI.Demo.Shared.Pages.Home.Examples

<PageTitle>@App.PageTitle("Welcome")</PageTitle>

<h1>Videos</h1>

<p>Every now and then, we present or do guests appearances in videos to promote the library and show a bit more on how it works. See the overview below for our most recent appearances</p>

<FluentGrid Spacing="7">
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">.NET Conf 2024
        </div>
        <p class="video-link">Watch: <a href="https://www.youtube.com/watch?v=w8BKS1a8MnU">https://www.youtube.com/watch?v=w8BKS1a8MnU</a></p>

        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/w8BKS1a8MnU?si=ugsYLTHGhBrXdAhn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">ASP.NET Community Standup 2024</div>
        <p class="video-link">Watch: <a href="https://www.youtube.com/watch?v=1fveBAi6Q7I">https://www.youtube.com/watch?v=1fveBAi6Q7I</a></p>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/1fveBAi6Q7I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>

    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title" style="overflow: unset;">Open at Microsoft - 2024</div>
        <p class="video-link">Watch: <a href="https://www.youtube.com/watch?v=lUZ5mrg2Q8k">https://www.youtube.com/watch?v=lUZ5mrg2Q8k</a></p>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/lUZ5mrg2Q8k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title"></div>
        <p class="video-link">Watch: <a href="https://www.youtube.com/watch?v=jOv9ioCVDFU">https://www.youtube.com/watch?v=jOv9ioCVDFUI</a></p>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/jOv9ioCVDFU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title"></div>
        <p class="video-link">Watch: <a href="https://www.youtube.com/watch?v=HTUemhV9W-M">https://www.youtube.com/watch?v=HTUemhV9W-M</a></p>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/HTUemhV9W-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">.NET Conf 2023</div>
        <p class="video-link">Watch: <a href="https://www.youtube.com/watch?v=a0xOqNemRoY">https://www.youtube.com/watch?v=a0xOqNemRoY</a></p>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/a0xOqNemRoY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>
</FluentGrid>
