@page "/Videos"

@using FluentUI.Demo.Shared.Pages.Home.Examples

<PageTitle>@App.PageTitle("Welcome")</PageTitle>

<h1>Videos</h1>

<p>Every now and then, we do guests appearances in videos to promote the library and show a bit more on how it works. See the overview below for our most recent appearances</p>

<FluentGrid Spacing="7">
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">ASP.NET Community Standup 2024</div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/1fveBAi6Q7I" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title" style="overflow: unset;">Open at Microsoft - 2024</div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/lUZ5mrg2Q8k" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title"></div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/jOv9ioCVDFU" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title"></div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/HTUemhV9W-M" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">.NET Conf 2023</div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/a0xOqNemRoY" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
    </FluentGridItem>
</FluentGrid>
