<h4>Previous with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Previous">
    <FluentIcon Icon="Icons.Filled.Size16.ArrowCircleLeft" Color="Color.Neutral" Slot=" previous" />
</FluentFlipper>

<h4>Next with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Next">
    <FluentIcon Icon="Icons.Filled.Size16.ArrowCircleRight" Color="Color.Neutral" Slot=" next" />
</FluentFlipper>