<h4>Previous with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Previous">
    <FluentIcon Name="@FluentIcons.ArrowCircleLeft" Slot="previous" Size="@IconSize.Size16" Variant=IconVariant.Filled Color=Color.Neutral />
</FluentFlipper>

<h4>Next with slotted content</h4>
<FluentFlipper Direction="FlipperDirection.Next">
    <FluentIcon Name="@FluentIcons.ArrowCircleRight" Slot="next" Size="@IconSize.Size16" Variant=IconVariant.Filled Color=Color.Neutral />
</FluentFlipper>