<h5>Previous with slotted content</h5>
<FluentFlipper Direction="FlipperDirection.Previous">
    <FluentIcon Name="@FluentIcons.ArrowCircleLeft" Slot="previous" Size="@IconSize.Size16" Filled=true UseAccentColor=false />
</FluentFlipper>

<h5>Next with slotted content</h5>
<FluentFlipper Direction="FlipperDirection.Next">
    <FluentIcon Name="@FluentIcons.ArrowCircleRight" Slot="next" Size="@IconSize.Size16" Filled=true UseAccentColor=false />
</FluentFlipper>