/* Desktop and Mobile */
fluent-dialog-body .actions-container {
  display: flex;
  gap: var(--spacingVerticalS);
  flex-direction: column;
}

/* Desktop */
@container (min-width: 480px) {
  fluent-dialog-body .actions-container {
    flex-direction: row;
  }
}
