fluent-dialog::part(control) {
    height: var(--dialog-height);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'dialog-header'
        'dialog-body'
        'dialog-footer';
}

fluent-dialog[class~="right"]::part(control) {
    position: absolute;
    right: 0;
    border-radius: unset;
    border-width: 0;
    max-height: 100%;
    --dialog-height: 100%;
}

fluent-dialog[class~="left"]::part(control) {
    position: absolute;
    left: 0;
    border-radius: unset;
    border-width: 0;
    max-height: 100%;
    --dialog-height: 100%;
}

.fluent-dialog-main {
    pointer-events: auto;
    z-index: 9999;
}


.fluent-dialog-content {
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    color: rgb(50, 49, 48);
    line-height: 27px;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

    .fluent-dialog-content .fluent-dialog-body {
        height: calc(100% - 150px);
        margin: 0px 20px 0px 20px;
        width: calc(100% - 40px);
        overflow: auto;
    }

    .fluent-dialog-content .fluent-dialog-body[nofooter] {
        height: calc(100% - 80px);
    }

