@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<div style="grid-area: dialog-footer; height: 100%; justify-self: end; @Style" class="@Class" id="@Id">
    @ChildContent
</div>