fluent-dialog-body[fuib] {
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

  /* Desktop and Mobile */
  fluent-dialog-body[fuib] > div[slot="action"] {
    display: flex;
    gap: var(--spacingVerticalS);
    flex-direction: column;
  }

/* Desktop */
@container (min-width: 480px) {
  fluent-dialog-body[fuib] > div[slot="action"] {
    flex-direction: row;
  }
}
