fluent-dialog[position="end"][fuib]::part(dialog) {
  margin-inline-end: 0px;
  max-height: 100vh;
  border-radius: 0px;
}

fluent-dialog[position="start"][fuib]::part(dialog) {
  margin-inline-start: 0px;
  max-height: 100vh;
  border-radius: 0px;
}
