@page "/Badge"
@using FluentUI.Demo.Shared.Pages.Badge.Examples

<h1>Badge</h1>

<p>
    The <code>&lt;FluentBadge&gt;</code> component is used to highlight an item and attract attention or flag status.
</p>
<p>
    <code>&lt;FluentBadge&gt;</code> wraps the <code>&lt;fluent-badge&gt;</code> element, a web component implementation of a badge leveraging the Fluent UI design system.
</p>


<ApiDocumentation Component="typeof(FluentBadge)" />

<h2>Examples</h2>
<DemoSection Title="Default" CodeFilename="BadgeDefaultExample">
    <BadgeDefaultExample></BadgeDefaultExample>
</DemoSection>

<DemoSection Title="Circular" CodeFilename="BadgeCircularExample">
    <BadgeCircularExample></BadgeCircularExample>
</DemoSection>

<DemoSection Title="Appearance values" CodeFilename="BadgeAppearanceExamples">
    <BadgeAppearanceExamples></BadgeAppearanceExamples>
</DemoSection>

<DemoSection Title="With custom CSS for Fill and Highlight" CodeFilename="BadgeStyledExamples">
    <BadgeStyledExamples></BadgeStyledExamples>
</DemoSection>