@page "/Badge"
@using FluentUI.Demo.Shared.Pages.Badge.Examples

<h1>Badge</h1>

<p>
    The <code>&lt;FluentBadge&gt;</code> component is used to highlight an item and attract attention or flag status.
</p>
<p>
    <code>&lt;FluentBadge&gt;</code> wraps the <code>&lt;fluent-badge&gt;</code> element, a web component implementation of a badge leveraging the Fluent UI design system.
</p>


<ApiDocumentation Component="typeof(FluentBadge)" />

<h2>Examples</h2>
<DemoSection Title="Default" ExampleFile="BadgeDefault"></DemoSection>

<DemoSection Title="Circular" ExampleFile="BadgeCircular"></DemoSection>

<DemoSection Title="Appearance values" ExampleFile="BadgeAppearance"></DemoSection>

<DemoSection Title="With custom CSS for Fill and Highlight" ExampleFile="BadgeStyled"></DemoSection>