@page "/Badge"
@using FluentUI.Demo.Shared.Pages.Badge.Examples

<h1>Badge</h1>

<ApiDocumentation Component="typeof(FluentBadge)" />

<h2>Examples</h2>
<DemoSection Title="Default" CodeFilename="BadgeDefaultExample">
    <BadgeDefaultExamples></BadgeDefaultExamples>
</DemoSection>

<DemoSection Title="Circular" CodeFilename="BadgeCircularExample">
    <BadgeCircularExamples></BadgeCircularExamples>
</DemoSection>

<DemoSection Title="Appearance values" CodeFilename="BadgeAppearanceExamples">
    <BadgeAppearanceExamples></BadgeAppearanceExamples>
</DemoSection>

<DemoSection Title="With custom CSS for Fill and Highlight" CodeFilename="BadgeStyledExamples">
    <BadgeStyledExamples></BadgeStyledExamples>
</DemoSection>