@if (_showBanner)
{
    <div id="cookieconsent" role="alert">
        <FluentGrid Spacing="0" Justify="JustifyContent.Center">
            <FluentGridItem Style="min-width: 200px;" Class="info" sm="8" xs="12">
                <div class="infoicon">
                    <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size28.Info())" />
                </div>
                <p class="infomessage">
                    We use optional cookies to improve your experience on our websites, such as through social media connections, and to display personalized advertising based on your online activity. If you reject optional cookies, only cookies necessary to provide you the services will be used. You may change your selection by clicking “Manage Cookies”.
                    <a target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy Statement</a>
                    <a target="_blank" href="https://aka.ms/3rdpartycookies">Third-Party Cookies</a>
                </p>
            </FluentGridItem>
            <FluentGridItem Justify="JustifyContent.Center" Gap="10px" Class="buttons" sm="4" xs="12">
                <FluentGrid Spacing="3">
                    <FluentGridItem sm="4" xs="12">
                        <FluentButton Class="button" @onclick="AcceptPolicyAsync" Title="Accept" Appearance="Appearance.Outline">Accept</FluentButton>
                    </FluentGridItem>
                    <FluentGridItem sm="4" xs="12">
                        <FluentButton Class="button" @onclick="RejectPolicyAsync" Title="Reject" Appearance="Appearance.Outline">Reject</FluentButton>
                    </FluentGridItem>
                    <FluentGridItem sm="4" xs="12">
                        <FluentButton Class="button" @onclick="ManageCookiesAsync" Title="Manage cookies" Appearance="Appearance.Outline">Manage cookies</FluentButton>
                    </FluentGridItem>
                </FluentGrid>
            </FluentGridItem>
        </FluentGrid>
    </div>
}
