@page "/MarkdownSection"


<h1>MarkdownSection</h1>

<p>
    The <code>FluentMarkdownSection</code> component allows for rendering a blockof Markdown as HTML.
</p>

<ApiDocumentation Component="typeof(FluentMarkdownSection)" />

<h2>Example</h2>
<DemoSection Component="typeof(MarkdownSectionDefault)" Title="Default" />

<DemoSection Component="typeof(MarkdownSectionFromAsset)" Title="Markdown from an asset" />
    
