@page "/Breadcrumb"
@using FluentUI.Demo.Shared.Pages.Breadcrumb.Examples
<style>
    fluent-breadcrumb-item::part(content) *::after {
        content: ' '
    }

    fluent-breadcrumb-item::part(content) *::before {
        content: ' '
    }
</style>
<h1>Breadcrumb</h1>
<p>
    As defined by the <a href="https://w3c.github.io/aria-practices/#breadcrumb" target="_blank" rel="noopener noreferrer">W3C</a>:
</p>
<blockquote>
    <p>
        A breadcrumb trail consists of a list of links to the parent pages of the current page in hierarchical order. It helps users find their place within a website or web application. Breadcrumbs are often placed horizontally before a page's main content.
    </p>
</blockquote>
<p>
    <code>&lt;FluentBreadcrumb&gt;</code> wraps the <code>&lt;fluent-breadcrumb&gt;</code> element, a web component implementation of a breadcrumb functionality leveraging the Fluent UI design system.
    It uses the <code>&lt;FluentBreadcrumbItem&gt;</code> component for defining the individual breadcrumb items
</p>

<ApiDocumentation Component="typeof(FluentBreadcrumbItem)" />
<ApiDocumentation Component="typeof(FluentBreadcrumb)" />

<h3>Breadcrumb item examples</h3>
<DemoSection Title="Default" CodeFilename="BreadcrumbItemDefaultExample">
    <BreadcrumbItemDefaultExample></BreadcrumbItemDefaultExample>
</DemoSection>

<DemoSection Title="With custom separator" CodeFilename="BreadcrumbItemWithSeparatorExample">
    <BreadcrumbItemWithSeparatorExample></BreadcrumbItemWithSeparatorExample>
</DemoSection>

<DemoSection Title="With start icon" CodeFilename="BreadcrumbItemWithStartExample">
    <BreadcrumbItemWithStartExample></BreadcrumbItemWithStartExample>
</DemoSection>

<DemoSection Title="With end icon" CodeFilename="BreadcrumbItemWithEndExample">
    <BreadcrumbItemWithEndExample></BreadcrumbItemWithEndExample>
</DemoSection>
<DemoSection Title="With start, end and custom separator icons" CodeFilename="BreadcrumbItemWithAllExample">
    <BreadcrumbItemDefaultExample></BreadcrumbItemDefaultExample>
</DemoSection>

<h3>Breadcrumb examples</h3>
<DemoSection Title="Default" CodeFilename="BreadcrumbDefaultExample">
    <BreadcrumbDefaultExample></BreadcrumbDefaultExample>
</DemoSection>

<DemoSection Title="With custom separator" CodeFilename="BreadcrumbWithSeparatorExample">
    <BreadcrumbWithSeparatorExample></BreadcrumbWithSeparatorExample>
</DemoSection>

<DemoSection Title="With start icon" CodeFilename="BreadcrumbWithStartExample">
    <BreadcrumbWithStartExample></BreadcrumbWithStartExample>
</DemoSection>

<DemoSection Title="With end icon" CodeFilename="BreadcrumbWithEndExample">
    <BreadcrumbWithEndExample></BreadcrumbWithEndExample>
</DemoSection>
<DemoSection Title="With start, end and custom separator icons" CodeFilename="BreadcrumbWithAllExample">
    <BreadcrumbDefaultExample></BreadcrumbDefaultExample>
</DemoSection>