.fluent-messagebox {
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    background-color: var( --neutral-layer-floating);
    color: var( --neutral-foreground-rest);
}

    .fluent-messagebox h1 {
        font-size: var(--type-ramp-plus-2-font-size);
        line-height: var(--type-ramp-plus-2-line-height);
        font-weight: 600;
        margin: 40px 0px 0px 0px;
    }

    .fluent-messagebox .icon {
    }

    .fluent-messagebox .body {
        width: calc(100% - 24px);
        text-align: justify;
        word-break: break-word;
        margin-right: 10px;
    }
