<FluentTabs ActiveTabId="@activeid" OnTabChange="HandleOnTabChange">
    <FluentTab Label="Tab one" Icon="@(new Icons.Regular.Size24.LeafOne())" Id="tab-1">
            
    </FluentTab>
    <FluentTab Label="Tab two" Id="tab-2" />
    <FluentTab Label="Tab three" Id="tab-3" />
    <FluentTabPanel>
        
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab three content. This is for testing.
    </FluentTabPanel>
    <div>Testing</div>
</FluentTabs>

<p>Active tab changed to: @changedto?.Label</p>

<h4>Vertical</h4>
<FluentTabs Orientation="Orientation.Vertical" ActiveTabId="tab-v1">
    <FluentTab Label="Tab one" Id="tab-v1"></FluentTab>
    <FluentTab Label="Tab two" Id="tab-v2"></FluentTab>
    <FluentTab Label="Tab three" Id="tab-v3"></FluentTab>
    <FluentTabPanel>
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab three content. This is for testing.
    </FluentTabPanel>
</FluentTabs>

@code {
    string? activeid = "tab-1";
    FluentTab? changedto;

    private void HandleOnTabChange(FluentTab tab)
    {
        changedto = tab;
    }
}

