<h4>No active indicator</h4>
<FluentTabs ShowActiveIndicator=false ActiveTabId="TabTwo">
    <FluentTab Id="TabOne" Label="Tab one">
        Tab one content. This is for testing.
    </FluentTab>
    <FluentTab Id="TabTwo" Label="Tab two">
        Tab two content. This is for testing.
    </FluentTab>
    <FluentTab Id="TabThree" Label="Tab three">
        Tab three content. This is for testing.
    </FluentTab>
</FluentTabs>

<h4>No active indicator - Vertical</h4>
<FluentTabs ShowActiveIndicator=false ActiveTabId="tab3" Orientation="Orientation.Vertical" Style="height: 250px;">
    <FluentTab Id="TabOne" Label="Tab one">
        Tab one content. This is for testing.
    </FluentTab>
    <FluentTab Id="TabTwo" Label="Tab two">
        Tab two content. This is for testing.
    </FluentTab>
    <FluentTab Id="TabThree" Label="Tab three">
        Tab three content. This is for testing.
    </FluentTab>
    <FluentTab id="tab4" Disabled=true Label="Tab four">
        Tab four content. This is for testing.
    </FluentTab>
</FluentTabs>
