<h4>No active indicator</h4>
<FluentTabs ShowActiveIndicator=false activeId="TabTwo">
    <FluentTab Id="TabOne" Label="Tab one"></FluentTab>
    <FluentTab Id="TabTwo" Label="Tab two"></FluentTab>
    <FluentTab Id="TabThree" Label="Tab three"></FluentTab>
    <FluentTabPanel id="TabPanelOne">
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel id="TabPanelTwo">
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel id="TabPanelThree">
        Tab three content. This is for testing.
    </FluentTabPanel>
</FluentTabs>

<h4>No active indicator - Vertical</h4>
<FluentTabs ShowActiveIndicator=false ActiveId="tab3" Orientation="Orientation.Vertical">
    <FluentTab Id="TabOne" Label="Tab one"></FluentTab>
    <FluentTab Id="TabTwo" Label="Tab two"></FluentTab>
    <FluentTab Id="TabThree" Label="Tab three"></FluentTab>
    <FluentTab id="tab4" Disabled=true Label="Tab four">"</FluentTab>
    <FluentTabPanel>
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab three content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab four content. This is for testing.
    </FluentTabPanel>
</FluentTabs>