@page "/PanelSplitter"
@using FluentUI.Demo.Shared.Pages.Splitter.Examples
@{ #pragma warning disable FluentPanelSplitter }

<h1>Panel Splitter (DRAFT)</h1>

<h2 id="example">Examples</h2>

<DemoSection Component="typeof(PanelSplitterDefault)" Title="Default">
    <Description>
    </Description>
</DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentPanelSplitter)" />
<ApiDocumentation Component="typeof(FluentPanelSplitterPane)" />