<div style="height:100px; display: flex; gap: 10px; margin: 2em; flex-direction: row; align-items: center; justify-content: center;">
    <FluentButton id="delay1" Appearance=Appearance.Accent>Tooltip at the start</FluentButton>
    <FluentTooltip Anchor="delay1" Position=TooltipPosition.Start Delay=100>I'm helping (very quick)!</FluentTooltip>

    <FluentButton id="delay2" Appearance=Appearance.Accent>Tooltip at the end</FluentButton>
    <FluentTooltip Anchor="delay2" Position=TooltipPosition.Top Delay=200>I'm helping (quick)!</FluentTooltip>

    <FluentButton id="delay3" Appearance=Appearance.Accent>Tooltip at the end</FluentButton>
    <FluentTooltip Anchor="delay3" Position=TooltipPosition.End Delay=600>I'm helping (slow)!</FluentTooltip>
</div>
