@inject ILogger<TooltipDefault> logger;


<div style="height:100px; display: flex; gap: 10px; margin: 2em; flex-direction: row; align-items: center; justify-content: center;" >
    <FluentButton id="visible1" Appearance=Appearance.Accent @onclick=ToggleVisible>Click me to toggle tooltip visibility</FluentButton>
    <FluentTooltip Anchor="visible1" Position=TooltipPosition.End Delay=200 Visible=@visible @ontooltipdismiss=OnDismiss>I'm helping!</FluentTooltip>
    
</div>
@code {
    bool visible = true;
    
    private void OnDismiss()
    {
        visible = false;
        logger.LogInformation("Tooltip dismissed!");
    }

    
    private void ToggleVisible()
    {
        visible = !visible;
    }
}