@page "/FormDialog"

@using FluentUI.Demo.Shared.Pages.FormDialog.Examples

<h1>Form Dialog</h1>

<p>
    <code>FluentFormDialog</code> is a ready-to-use dialog that encapsulates a form.
</p>

<ApiDocumentation Component="typeof(FluentFormDialog<>)" InstanceType="typeof(object)" GenericLabel="TModel" />

<h2>Examples</h2>

<DemoSection Title="Form" Component="@typeof(FormDialogExample)">
    <Description>
        Form
    </Description>
</DemoSection>