@page "/MessageBar"
@using FluentUI.Demo.Shared.Pages.MessageBar.Examples

<h2>Examples</h2>

<DemoSection Title="Simple messages" Component="typeof(MessageBarSimple)">
    <p>This example show the different intents that can be shown in a MessageBar.</p>
</DemoSection>

<DemoSection Title="Simple notification" Component="typeof(MessageBarSimpleNotification)">
    <p>This example show how a MessageBar can be used to be shown as a notification. Border added here for styling puroses only</p>
</DemoSection>

<DemoSection Title="Message Service" Component="typeof(MessageBarDefault)">
</DemoSection>

<DemoSection Title="MessageBar with options" Component="typeof(MessageBarDetailed)">
</DemoSection>

<h3>Notification Center</h3>

<DemoSection Title="Sample button (top/right) to display the number of alerts"
             Component="typeof(FluentUI.Demo.Shared.Components.NotificationCenter)">
    
</DemoSection>


<h2>Service injection</h2>

<h4>Injection with global options.</h4>
<CodeSnippet>
    @(@"builder.Services.AddScoped<IMessageService, MessageService>()")
</CodeSnippet>


<h4>Display the list of messages</h4>
<p>
    You display a list of messages for a specific section using the <code>FluentMessageBarContainer</code> component.
</p>
<CodeSnippet>
    @(@"<FluentMessageBarContainer Section=""MESSAGE_SECTION"" Format=""MessageFormat.Notification"" />")
</CodeSnippet>

<h2>API Documentation</h2>
<ApiDocumentation Component="typeof(FluentMessageBarContainer)" />

<ApiDocumentation Component="typeof(FluentMessageBar)" />

<ApiDocumentation Component="typeof(MessageService)" />

<ApiDocumentation Component="typeof(Message)" />