@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="alert role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new Fluent Blazor app.
