<h4>With start</h4>
<FluentSearch @bind-Value=value>
    <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
</FluentSearch>

<h4>With end</h4>
<FluentSearch @bind-Value=value>
    <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="end" />
</FluentSearch>
@code {
    string? value;
}