<h4>Default</h4>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled"></FluentSearch>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled">label</FluentSearch>

<h4>Placeholder</h4>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" Placeholder="Placeholder"></FluentSearch>

<!-- Required -->
<h4>Required</h4>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" Required="true"></FluentSearch>

<!-- Disabled -->
<h4>Disabled</h4>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" Disabled="true"></FluentSearch>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" Disabled="true">label</FluentSearch>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" Disabled="true" Placeholder="placeholder"></FluentSearch>

<!-- Read only -->
<h4>Read only</h4>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" ReadOnly="true"></FluentSearch>
<FluentSearch @bind-Value=value Appearance="FluentInputAppearance.Filled" ReadOnly="true">label</FluentSearch>
@code {
    string? value;
}