
<div class="fluent-paginator">
  <div class="summary">
    <strong>100</strong>
    items</div>
  <nav role="navigation" class="paginator-nav">
    <fluent-button icon-only="" disabled="" title="Go to first page" blazor:onclick="x" aria-label="Go to first page">
      <svg style="width: 20px;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M11.35 15.85a.5.5 0 0 1-.7 0L5.16 10.4a.55.55 0 0 1 0-.78l5.49-5.46a.5.5 0 1 1 .7.7L6.2 10l5.16 5.15c.2.2.2.5 0 .7Zm4 0a.5.5 0 0 1-.7 0L9.16 10.4a.55.55 0 0 1 0-.78l5.49-5.46a.5.5 0 1 1 .7.7L10.2 10l5.16 5.15c.2.2.2.5 0 .7Z"></path>
      </svg>
    </fluent-button>
    <fluent-button icon-only="" disabled="" title="Go to previous page" blazor:onclick="x" aria-label="Go to previous page">
      <svg style="width: 24px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M15.53 4.22c.3.3.3.77 0 1.06L8.81 12l6.72 6.72a.75.75 0 1 1-1.06 1.06l-7.25-7.25a.75.75 0 0 1 0-1.06l7.25-7.25c.3-.3.77-.3 1.06 0Z"></path>
      </svg>
    </fluent-button>
    <div class="pagination-text">Page &lt;strong&gt;1&lt;/strong&gt; of &lt;strong&gt;10&lt;/strong&gt;</div>
    <fluent-button icon-only="" title="Go to next page" blazor:onclick="x" aria-label="Go to next page">
      <svg style="width: 24px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M8.47 4.22c-.3.3-.3.77 0 1.06L15.19 12l-6.72 6.72a.75.75 0 1 0 1.06 1.06l7.25-7.25c.3-.3.3-.77 0-1.06L9.53 4.22a.75.75 0 0 0-1.06 0Z"></path>
      </svg>
    </fluent-button>
    <fluent-button icon-only="" title="Go to last page" blazor:onclick="x" aria-label="Go to last page">
      <svg style="width: 20px;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M8.65 4.15c.2-.2.5-.2.7 0l5.49 5.46c.21.22.21.57 0 .78l-5.49 5.46a.5.5 0 0 1-.7-.7L13.8 10 8.65 4.85a.5.5 0 0 1 0-.7Zm-4 0c.2-.2.5-.2.7 0l5.49 5.46c.21.22.21.57 0 .78l-5.49 5.46a.5.5 0 0 1-.7-.7L9.8 10 4.65 4.85a.5.5 0 0 1 0-.7Z"></path>
      </svg>
    </fluent-button>
  </nav>
</div>