
<div class="fluent-paginator">
  <div class="summary">
    <strong>20</strong>
    items</div>
  <nav role="navigation" class="paginator-nav">
    <fluent-button icon-only="" disabled="" title="Go to first page" blazor:onclick="x" aria-label="Go to first page">
      <svg style="width: 20px;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M11.35 15.85a.5.5 0 0 1-.7 0L5.16 10.4a.55.55 0 0 1 0-.78l5.49-5.46a.5.5 0 1 1 .7.7L6.2 10l5.16 5.15c.2.2.2.5 0 .7Zm4 0a.5.5 0 0 1-.7 0L9.16 10.4a.55.55 0 0 1 0-.78l5.49-5.46a.5.5 0 1 1 .7.7L10.2 10l5.16 5.15c.2.2.2.5 0 .7Z"></path>
      </svg>
    </fluent-button>
    <fluent-button icon-only="" disabled="" title="Go to previous page" blazor:onclick="x" aria-label="Go to previous page">
      <svg style="width: 20px;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M12.35 15.85a.5.5 0 0 1-.7 0L6.16 10.4a.55.55 0 0 1 0-.78l5.49-5.46a.5.5 0 1 1 .7.7L7.2 10l5.16 5.15c.2.2.2.5 0 .7Z"></path>
      </svg>
    </fluent-button>
    <div class="pagination-text">Page 1 of 4</div>
    <fluent-button icon-only="" title="Go to next page" blazor:onclick="x" aria-label="Go to next page">
      <svg style="width: 20px;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M7.65 4.15c.2-.2.5-.2.7 0l5.49 5.46c.21.22.21.57 0 .78l-5.49 5.46a.5.5 0 0 1-.7-.7L12.8 10 7.65 4.85a.5.5 0 0 1 0-.7Z"></path>
      </svg>
    </fluent-button>
    <fluent-button icon-only="" title="Go to last page" blazor:onclick="x" aria-label="Go to last page">
      <svg style="width: 20px;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
        <path d="M8.65 4.15c.2-.2.5-.2.7 0l5.49 5.46c.21.22.21.57 0 .78l-5.49 5.46a.5.5 0 0 1-.7-.7L13.8 10 8.65 4.85a.5.5 0 0 1 0-.7Zm-4 0c.2-.2.5-.2.7 0l5.49 5.46c.21.22.21.57 0 .78l-5.49 5.46a.5.5 0 0 1-.7-.7L9.8 10 4.65 4.85a.5.5 0 0 1 0-.7Z"></path>
      </svg>
    </fluent-button>
  </nav>
</div>