@page "/Autocomplete"

@using FluentUI.Demo.Shared.Pages.Autocomplete.Examples

<h1>Autocomplete</h1>

<h2>Examples</h2>

<DemoSection Title="Default" Component="@typeof(AutocompleteDefault)" />

<DemoSection Title="Customized options" Component="@typeof(AutocompleteCustomized)" />

<h2>API</h2>

<ApiDocumentation Component="typeof(FluentAutocomplete<>)" GenericLabel="TOption" />