
<div id="xxx" class="fluent-multi-splitter" orientation="horizontal" blazor:elementreference="xxx">
  <div id="xxx" status="last-resizable" class="fluent-multi-splitter-pane" style="flex-basis: 50%;" data-index="0">Pane A</div>
  <div class="fluent-multi-splitter-bar" status="last-resizable" blazor:onmousedown="x" blazor:onclick:preventdefault="" blazor:onclick:stoppropagation="">
    <span part="collapse" blazor:onmousedown="x" blazor:onmousedown:preventdefault="" blazor:onmousedown:stoppropagation=""></span>
  </div>
  <div id="xxx" status="collapsed" class="fluent-multi-splitter-pane" style="flex-basis: 50%;" data-index="1">Pane B</div>
</div>
