@page "/FocusManager"

@using FluentUI.Demo.Shared.Pages.FocusManager.Examples

<style>
    .multiple-examples-container {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
    }
</style>

<h1>Focus Manager</h1>

<p><code>FocusManager</code> is an injectable service that helps control focus behavior.</p>
<p><code>FocusManager</code> relies on a standard criteria for programmatic discovery of focusable elements - either element is one of <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, <code>&lt;select&gt;</code> or element has <code>tabindex</code> attribute set to anything other than -1. Because of that, Web Components need to have <code>tabindex</code> attribute to participate in navigation scenario provided by <code>FocusManager</code>. The attribute can be set explicitly per component or the library can be configured to render it by default by setting <code>LibraryConfiguration.EmitTabIndexAttribute = true</code> when calling <code>AddFluentUIComponents()</code>.</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Arrow Navigation Group" Component="@typeof(ArrowNavigationGroup)">
    <Description>
        <p>A set of parameters that enables keyboard navigation using the arrow keys, among a collection of focusable elements. <kbd>Home</kbd>, <kbd>End</kbd>, <kbd>PageUp</kbd> and <kbd>PageDown</kbd> can be used for navigation as well.</p>
    </Description>
</DemoSection>

<DemoSection Title="Focusable Group" Component="@typeof(FocusableGroup)">
    <Description>
        <p>Applies specific focus behaviour for focusable elements that contain other nested focusable elements. There are different strategies on how focus should be moved into nested focusable elements.</p>
    </Description>
</DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FocusManager)" />

<ApiDocumentation Component="typeof(ArrowNavigationGroupParameters)" />

<ApiDocumentation Component="typeof(FocusableElementParameters)" />

<ApiDocumentation Component="typeof(FocusableGroupParameters)" />

<ApiDocumentation Component="typeof(FocusRestoreParameters)" />

<ApiDocumentation Component="typeof(ModalParameters)" />

<ApiDocumentation Component="typeof(FocusTrackingParameters)" />