@namespace Microsoft.Fast.Components.FluentUI
<div tabIndex="-1" role="status" style="position: absolute; left: -9999px; width: 1px; height: 1px;" aria-hidden="@(string.IsNullOrEmpty(Message))">@Message</div>
