div[draggable='true'] {
  cursor: move;
}

div[data-draggable='true'] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

div[data-touch-dragging] {
  opacity: 0.4;
}

div[dragged-over] {
  background-color: var(--colorNeutralBackground4);
  color: var(--colorNeutralForeground4);
  opacity: 0.6;
  animation: blinker 1s linear infinite;
}
