<div>
    Without a label: <FluentSearch @bind-Value=value AriaLabel="Search"/>
</div>
<div>
    <FluentSearch @bind-Value=value Label="With a label" AutoComplete="off" />
</div>
@code {
    string? value;
}
