::deep fluent-tab {
    font-weight: 600;
    font-size: medium;
}

.demo-section-example {
    margin: 0.5rem 0;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    padding: 1rem 1rem;
    min-height: 250px;
}
    ::deep  p {
        margin-top: 1rem;
    }

.demo-section-downloads {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-inline-end: 5px;
}