@inject NavigationManager NavigationManager

@if (!string.IsNullOrEmpty(Title))
{
    @if (IsNew)
    {
        <h4>@Title <NewBadge /></h4>
    }
    else
    {
        <h4>@Title</h4>
    }
}

@if (Description != null)
{
    <div class="demo-section-description">
        @Description
    </div>
}

<div class="demo-section-content">

    <FluentTabs>
        <FluentTab Text="Example" />
        @foreach (string tab in GetSources())
        {
            <FluentTab Text="@TabDisplayName(tab)" />
        }

        <FluentTabPanel style="max-height: 500px; overflow-y: auto;">
            @if (Component is not null)
            {
                string target;
                Uri uri = new Uri(NavigationManager.Uri);

                if (uri.Segments.Count() > 1)
                {
                    target = uri.Segments[1];
                }
                else
                {
                    target = "Index";
                }
                <div class="demo-section-example">
                    <DynamicComponent Type="Component" />
                </div>
            }
        </FluentTabPanel>
        @foreach (string tab in GetSources())
        {
            <FluentTabPanel style="max-height: 500px; overflow-y: auto;">
                @if (HasCode)
                {
                    <CodeSnippet Language="@TabLanguageClass(tab)">@TabPanelsContent[tab]</CodeSnippet>
                }
            </FluentTabPanel>
        }
    </FluentTabs>
</div>



