::deep ul {
    list-style: none;
}

::deep ul:first-of-type {
    padding-left: 1rem;
}

[dir="rtl"] ::deep ul:first-of-type {
    padding-right: 1rem;
}

:: deep li {
    text-overflow: ellipsis;
}

::deep fluent-anchor::part(control) {
    color: var(--neutral-foreground-rest);
    text-decoration: none;
}

    ::deep fluent-anchor::part(control):focus {
        outline: 1px dashed;
        outline-offset: 3px;
        border-radius: 0;
    }

    ::deep fluent-anchor::part(control):hover {
        text-decoration: underline;
    }


::deep fluent-button{
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
}

    