<p>With aria-label</p>
<FluentButton aria-label="Button with aria-label">Button</FluentButton>

<p>Autofocus</p>
<p>Commented out to prevent page actually jumping to this location. See Razor tab for implementation.</p>
@*<FluentButton Autofocus="true">Button</FluentButton>*@