<p>With icon at start</p>
<FluentButton IconStart="@(new Icons.Regular.Size16.Globe())">
    Button
</FluentButton>

<p>With icon at end</p>
<FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())">
    Button
</FluentButton>

<p>With icon in default slot</p>
<FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
              Title="Globe"
              OnClick="@(() => DemoLogger.WriteLine("Button clicked"))" />