.notification-container {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    z-index: 10;
    font-size: 11px;
    border-radius: 10px;
    letter-spacing: 0;
    min-width: 12px;
    padding: 4px 4px;
    line-height: 1;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    box-sizing: content-box;
}

    .notification-badge:empty {
        display: none;
    }
