@page "/Select"

@using FluentUI.Demo.Shared.Pages.Select.Examples

<h1>Select</h1>

<p>An implementation of an <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select" target="_blank" rel="noopener noreferrer">HTML select element</a> web-component.</p>

<p>
    <code>&lt;FluentSelect&gt;</code> wraps the <code>&lt;fluent-select&gt;</code> element, a web component implementation of a select leveraging the
    Fluent UI design system.
</p>


<ApiDocumentation Component="typeof(FluentSelect<string>)" GenericLabel="TValue" />

<h2>Examples</h2>

<DemoSection Title="Default" ExampleFile="SelectDefault"></DemoSection>

<DemoSection Title="From C# List" ExampleFile="SelectFromList"></DemoSection>

<DemoSection Title="Filled appearance" ExampleFile="SelectFilled"></DemoSection>

<DemoSection Title="Disabled variations" ExampleFile="SelectDisabled"></DemoSection>

<DemoSection Title="Selected option" ExampleFile="SelectSelected"></DemoSection>

<DemoSection Title="Custom indicator" ExampleFile="SelectCustom"></DemoSection>

<DemoSection Title="Long list" ExampleFile="SelectLong"></DemoSection>

<DemoSection Title="Forced position" ExampleFile="SelectPositioning"></DemoSection>