@if (string.IsNullOrWhiteSpace(Title))
{
    <div class="text-white p-4 bg-primary rounded">
        <h3 class="mb-0">I'm a custom toast component</h3>
    </div>
}
else
{
    <div class="text-white p-4 bg-secondary rounded">
        <h3>@Title</h3>
        <h5 class="mb-0">@ToastParam</h5>
        <div class="text-right">
            <button class="btn btn-warning" @onclick="Toast.Close">Close</button>
        </div>
    </div>
}

@code{
    [CascadingParameter] 
    private FluentToast Toast { get; set; } = default!;

    [Parameter] 
    public string? Title { get; set; }
    
    [Parameter] 
    public string? ToastParam { get; set; }
}
