# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# JavaScript / TypeScript
[*.{js,ts,jsx,tsx}]

# Indentation and spacing
indent_size = 2
indent_style = space
tab_width = 2

# New line preferences
end_of_line = crlf
insert_final_newline = true
