@page "/AccordionPage"
<h1>Accordion</h1>
<h4>Default</h4>
<FluentAccordion @bind-ActiveId="@active">
    <FluentAccordionItem Expanded="true" id="AccOne">
        <div slot="start">
            <button>1</button>
        </div>
        <div slot="end">
            <button>1</button>
        </div>
        <span slot="heading">Panel one</span>
        Panel one content
    </FluentAccordionItem>
    <FluentAccordionItem id="AccTwo">
        <span slot="heading">Panel two</span>
        Panel two content
    </FluentAccordionItem>
    <FluentAccordionItem Expanded="true" id="AccThree">
        <span slot="heading">Panel three</span>
        Panel three content
    </FluentAccordionItem>
</FluentAccordion>
<p>Active accordion item: @active</p>

<h4>Single expand</h4>
<FluentAccordion ExpandMode="AccordionExpandMode.Single">
    <FluentAccordionItem>
        <div slot="start">
            <button>1</button>
        </div>
        <div slot="end">
            <button>1</button>
        </div>
        <span slot="heading">Panel one</span>
        Panel one content
    </FluentAccordionItem>
    <FluentAccordionItem >
        <span slot="heading">Panel Two</span>
        Panel two content
    </FluentAccordionItem>
    <FluentAccordionItem>
        <span slot="heading">Panel three</span>
        Panel three content
    </FluentAccordionItem>
</FluentAccordion>
<h4>With disabled item</h4>
<FluentAccordion>
    <FluentAccordionItem>
        <div slot="start">
            <button>1</button>
        </div>
        <div slot="end">
            <button>1</button>
        </div>
        <span slot="heading">Panel two</span>
       Panel one content
    </FluentAccordionItem>
    <FluentAccordionItem class="disabled">
        <div slot="start">
            <button>1</button>
        </div>
        <div slot="end">
            <button>1</button>
        </div>
        Disabled content
    </FluentAccordionItem>
    <FluentAccordionItem Expanded="true">
        <div slot="start">
            <button>1</button>
        </div>
        <div slot="end">
            <button>1</button>
        </div>
        <span slot="heading">Panel three</span>
        Panel three content
    </FluentAccordionItem>
</FluentAccordion>

@code {
    string active = "AccTwo";
}