@page "/DialogService"
<h1>DialogService</h1>

<p>
    The DialogService is a service that can be used to show dialogs. It can be injected into a page and used to show 
    the different type of dialogs.
</p>
<p>
    For a component to be useable by the DialogService, it needs to implement <code>IDialogContentComponent&lt;T&gt;</code>.
</p>
<p>
    The DialogService is automatically registered in the DI container with the <code>AddFluentUIComponents()</code> call.
</p>

<p>
    See the following pages for examples on how to use the DialogService.
    <ul>
        <li><a href="Dialog">Regular dialogs</a></li>
        <li><a href="MessageBox">Message boxes</a></li>
        <li><a href="Panel">Panels</a></li>
        <li><a href="SplashScreen">Splash screens</a></li>
    </ul>.
</p>
<ApiDocumentation Component="typeof(DialogService)" />