@page "/"


<PageTitle>FluentUI WC home page</PageTitle>

<h1>Blazor Fluent UI Web Components home page</h1>

<FluentAnchor TagReference=ancestor Appearance="Appearance.Filled" Href="handlers" >Web components handlers</FluentAnchor>
<FluentAnchor Appearance="Appearance.Filled" Href="bindings" >Web components bindings</FluentAnchor>
<FluentAnchor @ref="decendant" Appearance="Appearance.Filled" Href="componentbindings" >Blazor component bindings</FluentAnchor>


