@page "/"


<PageTitle>FluentUI WC home page</PageTitle>

<h1>Blazor Fluent UI Web Components home page!</h1>

<FluentAnchor class="bigbutton" Appearance="Appearance.Filled" Href="handlers" >Web components handlers</FluentAnchor>
<FluentAnchor id="secondanchor" Appearance="Appearance.Filled" Href="bindings" >Web components bindings</FluentAnchor>
<FluentAnchor @ref="anchorRef" Appearance="Appearance.Filled" Href="componentbindings" >Blazor component bindings</FluentAnchor>