@page "/"

<PageTitle>FluentUI WC home page</PageTitle>

<h1>Blazor Fluent UI Web Components home page!</h1>

<FluentAnchor @ref="ref1" Appearance="Appearance.Filled" Href="handlers" >Web components handlers</FluentAnchor>
<FluentButton @ref="ref2" Appearance="Appearance.Accent" Href="bindings" >Web components bindings</FluentButton>
<FluentAnchor @ref="ref3" Appearance="Appearance.Filled" Href="componentbindings" >Blazor component bindings</FluentAnchor>
<FluentButton @ref="ref4" Appearance="Appearance.Filled" @onclick=OnClick>FluentButton</FluentButton>

<h2>Color Test</h2>

<div>
    <div style="margin-top: 12px; display: flex;">
        <div style="height: 32px; width: 124px; margin-right: 5px; padding: 9px 0; font-size: small; text-align: center;">Accent</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #D83B01;">#D83B01</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #185ABD;">#185ABD</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #107C41;">#107C41</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #C43E1C;">#C43E1C</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #6264A7;">#6264A7</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #7719AA;">#7719AA</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #03787C;">#03787C</div>
        <div style="height: 32px; width: 95px; margin-right: 5px; font-size: small; display: flex;align-items: center;justify-content: center; color:white; background-color: #BC1948;">#BC1948</div>
    </div>
    <div style="margin-top: 12px; display: flex;">
        <div style="height: 32px; width: 124px; margin-right: 5px; padding: 9px 0; font-size: small; text-align: center;">Result</div>
        <FluentButton @ref="cref1" id="office" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">Office</FluentButton>
        <FluentButton @ref="cref2" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">Word</FluentButton>
        <FluentButton @ref="cref3" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">Excel</FluentButton>
        <FluentButton @ref="cref4" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">PowerPoint</FluentButton>
        <FluentButton @ref="cref5" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">Teams</FluentButton>
        <FluentButton @ref="cref6" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">OneNote</FluentButton>
        <FluentButton @ref="cref7" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">SharePoint</FluentButton>
        <FluentButton @ref="cref8" Appearance="Appearance.Accent" style="margin-right: 5px; width: 95px;">Stream</FluentButton>
    </div>
</div>
