@page "/WhatsNew"


<PageTitle>What's new?</PageTitle>

<h1>What's new?</h1>

<MarkdownSection FromAsset="./_content/FluentUI.Demo.Shared/docs/WhatsNew.md" OnContentConverted="ReloadToC" />

@code {

    [CascadingParameter]
    public EventCallback OnMarkdownConverted { get; set; }

    private async Task ReloadToC()
    {
        await OnMarkdownConverted.InvokeAsync();
    }
}