@namespace Microsoft.Fast.Components.FluentUI
@implements IToastContentComponent<CommunicationToastContent>

<div class="fluent-toast-body">
    @if (!string.IsNullOrWhiteSpace(ToastContent.Subtitle))
    {
        <div class="fluent-toast-subtitle">@ToastContent.Subtitle</div>
    }

    @if (!string.IsNullOrWhiteSpace(ToastContent.Details))
    {
        <div class="fluent-toast-details">@ToastContent.Details</div>
    }
</div>
