
<fluent-tree-item id="xxx" blazor:ontreechanged="1" blazor:ontreetoggle="2">
  <span part="text">My text</span>
  <span slot="start">
    <svg style="width: 24px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
      <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm0 8.25a1 1 0 0 0-1 .88v5.74a1 1 0 0 0 2 0v-5.62l-.01-.12a1 1 0 0 0-1-.88Zm0-3.75A1.25 1.25 0 1 0 12 9a1.25 1.25 0 0 0 0-2.5Z"></path>
    </svg>
  </span>
  <span slot="end">
    <div style="width: 20px; fill: #F97316; display: inline-block;" blazor:onkeydown="x" blazor:onclick="x">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320">
        <circle cx="160" cy="160" r="140"></circle>
      </svg>
    </div>
  </span>
  <span slot="aside">
    <svg style="width: 24px;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
      <path d="M12 24a12 12 0 1 0 0-24 12 12 0 0 0 0 24Zm5.06-13.44-5.5 5.5a1.5 1.5 0 0 1-2.12 0l-2-2a1.5 1.5 0 0 1 2.12-2.12l.94.94 4.44-4.44a1.5 1.5 0 0 1 2.12 2.12Z"></path>
    </svg>
  </span>
</fluent-tree-item>