
<fluent-tree-item id="xxx" blazor:ontreechanged="1" blazor:ontreetoggle="2">
  <span slot="chevron">
    <div style="width: 20px; fill: currentColor; display: inline-block;" collapsed="" blazor:onkeydown="x" blazor:onclick="x">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320">
        <circle cx="160" cy="160" r="140"></circle>
      </svg>
    </div>
    <svg style="width: 24px; fill: currentColor;" focusable="false" viewBox="0 0 24 24" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x" expanded="">
      <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm0 8.25a1 1 0 0 0-1 .88v5.74a1 1 0 0 0 2 0v-5.62l-.01-.12a1 1 0 0 0-1-.88Zm0-3.75A1.25 1.25 0 1 0 12 9a1.25 1.25 0 0 0 0-2.5Z"></path>
    </svg>
  </span>
  <span part="text">My text</span>
</fluent-tree-item>