
<fluent-tree id="xxx">
  <fluent-tree-item id="xxx" blazor:ontreechanged="1" blazor:ontreetoggle="2">Item 1<fluent-tree-item id="xxx" blazor:ontreechanged="5" blazor:ontreetoggle="6">
      <fluent-checkbox blazor:onchange="7" tabindex="-1"></fluent-checkbox>Item 1.1</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="8" blazor:ontreetoggle="9">
      <fluent-checkbox blazor:onchange="10" tabindex="-1"></fluent-checkbox>Item 1.2</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="11" blazor:ontreetoggle="12">
      <fluent-checkbox blazor:onchange="13" tabindex="-1"></fluent-checkbox>Item 1.3</fluent-tree-item>
  </fluent-tree-item>
  <fluent-tree-item id="xxx" blazor:ontreechanged="3" blazor:ontreetoggle="4">Item 2<fluent-tree-item id="xxx" blazor:ontreechanged="14" blazor:ontreetoggle="15">
      <fluent-checkbox blazor:onchange="16" tabindex="-1"></fluent-checkbox>Item 2.1</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="17" blazor:ontreetoggle="18">
      <fluent-checkbox blazor:onchange="19" tabindex="-1"></fluent-checkbox>Item 2.2</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="20" blazor:ontreetoggle="21">
      <fluent-checkbox blazor:onchange="22" tabindex="-1"></fluent-checkbox>Item 2.3</fluent-tree-item>
  </fluent-tree-item>
</fluent-tree>