
<fluent-tree id="xxx">
  <fluent-tree-item id="xxx" blazor:ontreechanged="1" blazor:ontreetoggle="2">
    <fluent-checkbox blazor:onchange="3" tabindex="-1"></fluent-checkbox>Item 1<fluent-tree-item id="xxx" blazor:ontreechanged="7" blazor:ontreetoggle="8">
      <fluent-checkbox blazor:onchange="9" tabindex="-1"></fluent-checkbox>Item 1.1</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="10" blazor:ontreetoggle="11">
      <fluent-checkbox blazor:onchange="12" tabindex="-1"></fluent-checkbox>Item 1.2</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="13" blazor:ontreetoggle="14">
      <fluent-checkbox blazor:onchange="15" tabindex="-1"></fluent-checkbox>Item 1.3</fluent-tree-item>
  </fluent-tree-item>
  <fluent-tree-item id="xxx" blazor:ontreechanged="4" blazor:ontreetoggle="5">
    <fluent-checkbox blazor:onchange="6" tabindex="-1"></fluent-checkbox>Item 2<fluent-tree-item id="xxx" blazor:ontreechanged="16" blazor:ontreetoggle="17">
      <fluent-checkbox blazor:onchange="18" tabindex="-1"></fluent-checkbox>Item 2.1</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="19" blazor:ontreetoggle="20">
      <fluent-checkbox blazor:onchange="21" tabindex="-1"></fluent-checkbox>Item 2.2</fluent-tree-item>
    <fluent-tree-item id="xxx" blazor:ontreechanged="22" blazor:ontreetoggle="23">
      <fluent-checkbox blazor:onchange="24" tabindex="-1"></fluent-checkbox>Item 2.3</fluent-tree-item>
  </fluent-tree-item>
</fluent-tree>