
<fluent-tree-item id="xxx" blazor:ontreechanged="1" blazor:ontreetoggle="2">
  <span slot="chevron">
    <div style="width: 20px; fill: currentColor; display: inline-block;" collapsed="" blazor:onkeydown="x" blazor:onclick="x">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320">
        <circle cx="160" cy="160" r="140"></circle>
      </svg>
    </div>
    <svg expanded="" width="12" height="12" xmlns="http://www.w3.org/2000/svg" fill="currentColor" slot="chevron">
      <path d="M4.65 2.15a.5.5 0 000 .7L7.79 6 4.65 9.15a.5.5 0 10.7.7l3.5-3.5a.5.5 0 000-.7l-3.5-3.5a.5.5 0 00-.7 0z"></path>
    </svg>
  </span>
  <span part="text">My text</span>
</fluent-tree-item>