@inject IDialogService DialogService

<FluentButton OnClick="@(e => OpenDialogAsync())" Appearance="ButtonAppearance.Primary">Open Dialog</FluentButton>

<hr />
<div>
    John: @John
</div>

@code
{
    private Dialog.PersonDetails John = new() { Age = "20" };

    private async Task OpenDialogAsync()
    {
        var result = await DialogService.ShowDialogAsync<Dialog.SimpleDialog>(options =>
        {
            options.Parameters.Add(nameof(Dialog.SimpleDialog.Name), "John");  // Simple type
            options.Parameters.Add(nameof(Dialog.SimpleDialog.Person), John);  // Updatable object

            options.OnStateChange = (e) =>
            {
                Console.WriteLine($"State changed: {e.State}");
            };
        });

        if (result.Cancelled)
        {
            Console.WriteLine($"Dialog Canceled: {result.Value}");
        }
        else
        {
            Console.WriteLine($"Dialog Saved: {result.Value}");
        }
    }
}
