<FluentDialogBody>

    <TitleTemplate>
        My Title
    </TitleTemplate>

    <ChildContent>
        Hello Body
        <div>
            Name: @Name
            Data: @Data.Name
        </div>
    </ChildContent>

    <ActionTemplate>
        <FluentButton Appearance="ButtonAppearance.Primary">One</FluentButton>
        <FluentButton OnClick="@UpdateName">Update Name</FluentButton>
    </ActionTemplate>

</FluentDialogBody>

@code {
    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public MyData Data { get; set; } = new();

    private void UpdateName()
    {
        Name = "Denis";
        Data.Name = "Denis";
    }

    public class MyData
    {
        public string Name { get; set; } = string.Empty;
    }
}
