<FluentDialogBody>

    <TitleTemplate>
        @Dialog?.Options.Title
    </TitleTemplate>

    <ChildContent>
        Hello @Name (@Age)
        @GetVeryLongText()
    </ChildContent>

    <ActionTemplate>
        <FluentButton Appearance="ButtonAppearance.Primary">OK</FluentButton>
        <FluentButton>Cancel</FluentButton>
    </ActionTemplate>

</FluentDialogBody>

@code {
    [CascadingParameter]
    public IDialogInstance? Dialog { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public int Age { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized: " + Dialog?.Options.Title);
    }

    private MarkupString GetVeryLongText()
    {
        return (MarkupString)string.Join("", SampleData.Text.LoremIpsum.Select(i => $"<p>{i}</p>"));
    }
}
