
<div>
  <div class="fluent-layout" global-scrollbar="">
    <div class="fluent-layout-item" style="grid-area: header; height: 24px;" area="header" inside-layout="">Header</div>
    <div class="fluent-layout-item" style="grid-area: menu;" area="menu" inside-layout="">Menu</div>
    <div class="fluent-layout-item" style="grid-area: content; padding-right: 0;" area="content" inside-layout="">Content</div>
    <div class="fluent-layout-item" style="grid-area: aside; margin-right: 0;" area="aside" inside-layout="">Aside</div>
    <div class="fluent-layout-item" style="grid-area: footer; height: 24px;" area="footer" inside-layout="">Footer</div>
  </div>
</div>