
<div class="fluent-layout" style="height: var(--layout-height); --layout-height: 100vh; --layout-header-height: 44px; --layout-footer-height: 36px; --layout-body-height: calc(var(--layout-height) - var(--layout-header-height) - var(--layout-footer-height));">
  <div class="fluent-layout-item" style="grid-area: content / content / aside / aside; height: var(--layout-body-height); padding-right: 0;" area="content" inside-layout="">Content</div>
  <div class="fluent-layout-item" style="grid-area: aside; margin-right: 14px;" area="aside" sticky="" inside-layout="">Aside</div>
</div>
