
<div class="fluent-layout" style="height: var(--layout-height); --layout-height: 100vh; --layout-header-height: 44px; --layout-footer-height: 36px; --layout-body-height: calc(var(--layout-height) - var(--layout-header-height) - var(--layout-footer-height));">
  <div class="fluent-layout-item" style="grid-area: header; height: var(--layout-header-height);" area="header" inside-layout="">
    <div class="fluent-layout-hamburger" display="mobile">
      <svg style="width: 20px; cursor: pointer;" focusable="true" tabindex="0" role="button" viewBox="0 0 20 20" blazor:onkeydown="x" blazor:onclick="x">
        <title>Menu</title>
        <path d="M2 4.5c0-.28.22-.5.5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5Zm0 5c0-.28.22-.5.5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5Zm.5 4.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-15Z"></path>
      </svg>
    </div>
    Header
  </div>
  <div class="fluent-layout-item" style="grid-area: content; height: var(--layout-body-height);" area="content" inside-layout="">Content</div>
</div>
