@using Microsoft.FluentUI.AspNetCore.Components.Tests.Extensions
@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@using Xunit;
@inherits TestContext

@code
{
    public FluentLayoutTests()
    {
        JSInterop.Mode = JSRuntimeMode.Loose;
        Services.AddSingleton<LibraryConfiguration>();
    }

    [Fact]
    public void FluentLayout_Default()
    {
        // Arrange && Act
        var cut = Render(@<div>
        <FluentLayout>
            <FluentLayoutItem Area="LayoutArea.Header">Header</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Menu">Menu</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Aside">Aside</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Footer">Footer</FluentLayoutItem>
        </FluentLayout>
    </div>);

        // Assert
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_HeaderFooterOutside()
    {
        // Arrange && Act
        var cut = Render(@<div>
        <FluentLayoutItem Area="LayoutArea.Header">Header</FluentLayoutItem>
        <FluentLayout>
            <FluentLayoutItem Area="LayoutArea.Menu">Menu</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Aside">Aside</FluentLayoutItem>
        </FluentLayout>
        <FluentLayoutItem Area="LayoutArea.Footer">Footer</FluentLayoutItem>
    </div>);

        // Assert
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_Sticky()
    {
        // Arrange && Act
        var cut = Render(@<FluentLayout><FluentLayoutItem Area="LayoutArea.Content" Sticky="true">Content</FluentLayoutItem></FluentLayout>);

        // Assert
        Assert.Contains("sticky", cut.Markup);
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_AsideSticky_Scrollbar()
    {
        // Arrange && Act
        var cut = Render(@<FluentLayout GlobalScrollbar="false">
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Aside" Sticky="true">Aside</FluentLayoutItem>
    </FluentLayout>);

        // Assert
        Assert.Contains($"margin-right: {FluentLayoutItem.SCROLLBAR_WIDTH}", cut.Markup);
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_HeaderSticky()
    {
        // Arrange && Act
        var cut = Render(@<FluentLayout>
        <FluentLayoutItem Area="LayoutArea.Header" Sticky="true">Header</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
    </FluentLayout>);

        // Assert
        Assert.Contains("top: 24px", cut.Markup);
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_HeaderFooterInternalProperties()
    {
        // Arrange && Act
        var cut = Render(@<FluentLayout>
        <FluentLayoutItem Area="LayoutArea.Header" Height="40px" Sticky="true">Header</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Footer" Height="30px" Sticky="true">Footer</FluentLayoutItem>
    </FluentLayout>);

        var layout = cut.FindComponent<FluentLayout>();

        // Assert
        Assert.Equal("40px", layout.Instance.HeaderHeight);
        Assert.True(layout.Instance.HasHeader);
        Assert.True(layout.Instance.HeaderSticky);

        Assert.Equal("30px", layout.Instance.FooterHeight);
        Assert.True(layout.Instance.HasFooter);
        Assert.True(layout.Instance.FooterSticky);
    }

    [Fact]
    public void FluentLayout_Hamburger_Default()
    {
        // Arrange && Act
        var cut = Render(@<FluentLayout>
        <FluentLayoutItem Area="LayoutArea.Header">
            <FluentLayoutHamburger />
            Header
        </FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
    </FluentLayout>
    );

        // Assert
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_Hamburger_OutsideLayout()
    {
        FluentLayout? myLayout = null;

        // Arrange && Act
        var cut = Render(@<div>
        <FluentLayoutHamburger Layout="@myLayout" />
        <FluentLayout @ref="@myLayout">
            <FluentLayoutItem Area="LayoutArea.Header">Header</FluentLayoutItem>
            <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
        </FluentLayout>
    </div>
    );

        // Assert
        Assert.NotNull(myLayout);
        cut.Verify();
    }

    [Fact]
    public void FluentLayout_Hamburger_Opened()
    {
        bool isOpened = false;
        bool isClicked = false;

        // Arrange
        var cut = Render(@<FluentLayout>
        <FluentLayoutItem Area="LayoutArea.Header">
            <FluentLayoutHamburger @bind-Opened="@isOpened" OnClick="@(e => isClicked = true )" />
            Header
        </FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
    </FluentLayout>
    );

        // Act
        cut.Find("svg").Click();

        // Assert
        Assert.True(isOpened);
        Assert.True(isClicked);
    }

    [Fact]
    public void FluentLayout_Hamburger_OnlyOnePerLayout()
    {
        // Arrange && Act && Assert
        Assert.Throws<InvalidOperationException>(() =>
        {
            var cut = Render(@<FluentLayout>
        <FluentLayoutItem Area="LayoutArea.Header">
            <FluentLayoutHamburger />
            <FluentLayoutHamburger />   <!-- Second Hamburger -->
            Header
        </FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
    </FluentLayout>);
        });

    }
}
