<FluentInputFile Id="my-file-uploader-disabled"
                 Disabled="true"
                 Height="200px;">
    <ChildContent>
        <label for="my-file-uploader-disabled">
            <FluentIcon Value="@(new @Icons.Regular.Size24.CircleLine())" />
        </label>

        <div>
            This component is disabled. You cannot drag files here,
            or <label for="my-file-uploader-disabled">browse</label>
            for them.
            <br />
        </div>

    </ChildContent>
</FluentInputFile>
