<FluentSwitch @bind-Value="@open">Show</FluentSwitch>
<FluentMenu @bind-Open="@open">
    <div role="menuitem">Menu item 1</div>
    <div role="menuitem">Menu item 2</div>
    <div role="menuitem">Menu item 3</div>
</FluentMenu>

@code {
    bool open = false;
}
