<div>
    <b>Selected item:</b> @SelectedItem?.Text
</div>

<FluentTreeView Items="@Items" @bind-SelectedItem="@SelectedItem" LazyLoadItems="true">
    <ItemTemplate>
        @context.Text
    </ItemTemplate>
</FluentTreeView>

@code
{
    private ITreeViewItem? SelectedItem;
    private IEnumerable<ITreeViewItem>? Items = new List<ITreeViewItem>();

    protected override void OnInitialized()
    {
        Items = GetCompanyOrganization();
        SelectedItem = Items?.ElementAt(3);
    }

    // Example of a tree with a company organization
    private TreeViewItem[] GetCompanyOrganization()
    {
        var myOrganization = SampleData.People.GetOrganization(companyCount: 5, departmentCount: 4, employeeCount: 20);

        return myOrganization.Select(company => new TreeViewItem
        {
            IconStart = new Icons.Regular.Size16.Building().WithColor(Color.Primary),
            Id = company.Id,
            Text = company.Name,
            Items = company.Departments.Select(dept => new TreeViewItem
            {
                IconStart = new Icons.Regular.Size16.ContactCardGroup().WithColor(SystemColors.Palette.DarkOrangeForeground1),
                Id = dept.Id,
                Text = dept.Name,
                Items = dept.Employees.Select(emp => new TreeViewItem
                {
                    IconStart = new Icons.Regular.Size16.People().WithColor(SystemColors.Palette.ForestBorderActive),
                    Id = emp.Id,
                    Text = $"{emp.FirstName} {emp.LastName}",
                }).ToArray()
            }).ToArray()
        }).ToArray();
    }
}
