<h5>Readonly</h5>
<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <label id="label3">readonly radio group</label>
    <FluentRadioGroup readonly aria-labelledby="label3" Name="office">
        <FluentRadio Value="word">Word</FluentRadio>
        <FluentRadio Value="excel">Excel</FluentRadio>
    </FluentRadioGroup>
</div>

<h5>Disabled</h5>
<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <label id="label2">Disabled radio group</label>
    <FluentRadioGroup disabled aria-labelledby="label2" Name="cars">
        <FluentRadio Value="lambo">Lamborghini</FluentRadio>
        <FluentRadio Value="ferari">Ferari</FluentRadio>
    </FluentRadioGroup>
</div>