<h4>Preset value</h4>
<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <label id="label4">Preset selected-value</label>
    <FluentRadioGroup Orientation=Orientation.Vertical @bind-Value=v aria-labelledby="label4" Name="bestpilot">
        <FluentRadio Value=@("ice-man")>Ice Man</FluentRadio>
        <FluentRadio Value=@("maverick")>Maverick</FluentRadio>
        <FluentRadio Value=@("viper")>Viper</FluentRadio>
        <FluentRadio Value=@("jester")>Jester</FluentRadio>

    </FluentRadioGroup>
</div>
<p>The best pilot according to you is: @v!</p>
@code {
    string? v = "maverick";
}