A request for the following icon
<CodeSnippet Language="cshtml-razor">&lt;FluentIcon Name="@@Icons.Regular.Size24.VideoPerson" Size="@@IconSize.Size12" Variant="@@IconVariant.Filled" Color="@@Color.Accent"/&gt;</CodeSnippet>
<br />
will render:
<br />
<ErrorBoundary>
    <ChildContent>
        <FluentSystemIcon Icon="Icons.Filled.Size12.VideoPerson" Color="@Color.Accent" />
    </ChildContent>
    <ErrorContent>
        <div class="blazor-error-boundary">
            @context.Message
        </div>
    </ErrorContent>
</ErrorBoundary>