@page "/datagrid-template-columns-2"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>More template columns</PageTitle>
<DemoSection Title="Template columns 2" Component="@typeof(DataGridTemplateColumns2)">
    <Description>
        <p>
            <code>TemplateColumn</code> uses arbitrary Razor fragments to supply contents for its cells. It can't
            infer the column's title or sort order automatically.
        </p>
    </Description>
</DemoSection>
