@page "/datagrid-custom-gridsort"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>Custom sort</PageTitle>
<DemoSection Title="SortBy Rank" Component="@typeof(DataGridCustomGridSort)">
    <Description>
        <p>
            Here is an example that demonstrates some of the sort order specification that are available in the <code>GridSort</code> class.
        </p>
    </Description>
</DemoSection>

<DemoSection Title="Column Key Sort" Component="@typeof(DataGridColumnKeyGridSort)">
    <Description>
        <p>
            In some instances, your dataset may not have a property on the class that can be used for sorting.
            In this instance, you can supply a <code>ColumnKeyGridSort</code> that allows you to specify the name of your column and supply the logic for sorting.
        </p>
    </Description>
</DemoSection>

<h2>Documentation</h2>

<ApiDocumentation Component="typeof(GridSort<>)" GenericLabel="TGridItem"/>
