@page "/datagrid-custom-gridsort"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>Custom sort</PageTitle>
<DemoSection Title="SortBy Rank" Component="@typeof(DataGridCustomGridSort)">
    <Description>
        <p>
            Here is an example that demonstrates some of the sort order specification that are available in the <code>GridSort</code> class.
        </p>
    </Description>
</DemoSection>


<h2>Documentation</h2>

<ApiDocumentation Component="typeof(GridSort<>)" GenericLabel="TGridItem"/>
