@page "/datagrid-custom-sort"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>Custom sort</PageTitle>
<DemoSection Title="SortBy Rank" Component="@typeof(DataGridRankSort)">
    <Description>
        <p>
            Here is an example that demonstrates the rank sort.
        </p>
    </Description>
</DemoSection>
