@page "/datagrid-loading-and-empty-content"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>Using LoadingContent and EmptyContent</PageTitle>
<DemoSection Title="Using LoadingContent and EmptyContent" Component="@typeof(DataGridNotVirtualizedLoadingAndEmpty)">
    <Description>
        <p>
           This example shows the usage of the templated <code>EmptyContent</code> and <code>LoadingContent</code> parameters.
        </p>
        <p>
            Use the switch and the button at the bottom to toggle between loading and empty content.
        </p>
    </Description>
</DemoSection>
