@page "/datagrid-loading-and-empty-content"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>Using LoadingContent and EmptyContent</PageTitle>
<DemoSection Title="Intermittent loading" Component="@typeof(DataGridNotVirtualizedLoadingAndEmpty)">
    <Description>
        <p>
            Use the options below the grid to toggle the content of this non virtualized grid on and off and to simulate a loading state
        </p>
    </Description>
</DemoSection>
