@page "/datagrid-dynamic-columns"
@using FluentUI.Demo.Shared.Pages.DataGrid.Examples

<PageTitle>Dynamic columns</PageTitle>

<DemoSection Title="Dynamic columns" Component="@typeof(DataGridDynamicColumns)">
    <Description>
        <p>
            You can make columns appear conditionally using normal Razor logic such as <code>@@if</code>. Example:
        </p>
        <p>
            Also, in this example the column's Width parameter is being set instead of specifying all widths for all
            columns in the <code>GridTemplateColumn</code> parameter.
        </p>
    </Description>
</DemoSection>
