@page "/Switch"

@using FluentUI.Demo.Shared.Pages.Switch.Examples

<PageTitle>@App.PageTitle("Switch")</PageTitle>

<h1>Switch</h1>

<p>An implementation of a <a href="https://w3c.github.io/aria/#switch" target="_blank" rel="noopener noreferrer">switch</a>.</p>
<p>
    <code>&lt;FluentSwitch&gt;</code> wraps the <code>&lt;fluent-switch&gt;</code> element, a web component implementation of a switch leveraging the
    Fluent UI design system.
</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="@typeof(SwitchDefault)"></DemoSection>

<DemoSection Title="States" Component="@typeof(SwitchStates)"></DemoSection>

<DemoSection Title="Inline" Component="@typeof(SwitchInline)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentSwitch)" GenericLabel="bool" />
