<h4>With start</h4>
<FluentSearch>
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Color=Color.Neutral />
</FluentSearch>

<h4>With end</h4>
<FluentSearch>
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Color=Color.Neutral />
</FluentSearch>
