<h5>With start</h5>
<FluentSearch>
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentSearch>

<h5>With end</h5>
<FluentSearch>
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentSearch>
