<h5>Full Width</h5>
<FluentSearch style="width: 100%;"></FluentSearch>

<h5>Placeholder</h5>
<FluentSearch Placeholder="Placeholder"></FluentSearch>

<h5>Required</h5>
<FluentSearch Required="true"></FluentSearch>

<h5>Disabled</h5>
<FluentSearch Disabled="true"></FluentSearch>
<FluentSearch Disabled="true">label</FluentSearch>
<FluentSearch Disabled="true" Placeholder="placeholder"></FluentSearch>

<h5>Read only</h5>
<FluentSearch Readonly="true" Value="Readonly"></FluentSearch>
<FluentSearch Readonly="true" Value="Readonly">label</FluentSearch>

<h5>Autofocus</h5>
<FluentSearch Autofocus="true">autofocus</FluentSearch>