<div id="example3" style="background-color: var(--colorNeutralBackground4); overflow: auto; resize: horizontal; padding: 10px; min-width: 55px;">
    <FluentOverflow VisibleOnLoad="false">
        <FluentOverflowItem><FluentBadge Content="Blazor"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Microsoft"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Azure"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="DevOps"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Framework"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Office"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Installation"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Blazor"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Microsoft"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Azure"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="DevOps"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Framework"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Office"></FluentBadge></FluentOverflowItem>
        <FluentOverflowItem><FluentBadge Content="Installation"></FluentBadge></FluentOverflowItem>
    </FluentOverflow>
</div>
