<div id="example2" style="background-color: var(--colorNeutralBackground4); overflow: auto; resize: horizontal; padding: 10px; min-width: 94px;">
    <FluentOverflow>
        <FluentOverflowItem Fixed="OverflowItemFixed.Ellipsis">Aspire;</FluentOverflowItem>
        <FluentOverflowItem>Blazor;</FluentOverflowItem>
        <FluentOverflowItem>Microsoft;</FluentOverflowItem>
        <FluentOverflowItem>Azure;</FluentOverflowItem>
        <FluentOverflowItem>DevOps</FluentOverflowItem>
    </FluentOverflow>
</div>
