@inherits FluentToastInstance
<div>Toast With Instance</div>
<button @onclick="@(async () => await OnActionClickedAsync(true))">OK</button>
<button @onclick="@(async () => await OnActionClickedAsync(false))">Cancel</button>

@code {
    protected override async Task OnActionClickedAsync(bool primary)
    {
        if (primary)
        {
            await ToastInstance.CloseAsync("Yes");
        }
        else
        {
            await ToastInstance.CancelAsync();
        }
    }
}
