@page "/Option"

<h1>Option</h1>

<p>
    An implementation of an <a href="https://w3c.github.io/aria/#option" target="_blank" rel="noopener noreferrer">option</a>.
</p>
<p>
    The <code>&lt;FluentOption&gt;</code> component is only meant to be used within a components such as <code>&lt;FluentSelect&gt;</code>, 
    <code>&lt;FluentCombobox&gt;</code> or <code>&lt;FluentListbox&gt;</code>.
</p>
<p><code>&lt;FluentOption&gt;</code> wraps the <code>&lt;fluent-option&gt;</code> element, a web component implementation of a listbox option leveraging the Fluent UI design system.</p>
<ApiDocumentation Component="typeof(FluentOption<string>)" />

<h2>Defaults</h2>

<FluentSelect Value=@("a string value")>
    <FluentOption>
        Text content is the value when the value attribute is absent.
    </FluentOption>
</FluentSelect>
<br />
<FluentSelect Value=@("a string value")>
    <FluentOption Value=@("here is a value attribute")>
        Even when the value attribute and text are both present, this text should be displayed.
    </FluentOption>
</FluentSelect>
<br />
<FluentSelect TValue=string>
    <FluentOption Value=@("This option has no text content.")></FluentOption>
</FluentSelect>

<h2>Disabled</h2>
<FluentSelect TValue=string>
    <FluentOption Disabled="true">This option is disabled.</FluentOption>
</FluentSelect>
<h2>Selected</h2>
<FluentSelect TValue=string>
    <FluentOption Selected="true">This option is selected by default.</FluentOption>
</FluentSelect>

<h2>Slots</h2>
<FluentSelect Value=23>
    <FluentOption Value=1>
        <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        This option has an icon in its start and end slots.
    </FluentOption>
</FluentSelect>