@page "/Splitter"
@using FluentUI.Demo.Shared.Pages.Splitter.Examples

<h1>Splitter</h1>

<p>
    The purpose of this component is to have two panels of arbitraty content in a horizontal or vertical layout. 
    The user can drag the splitter to resize the panels.
</p>

<ApiDocumentation Component="typeof(FluentSplitter)" />

<h2>Examples</h2>

<DemoSection Component="typeof(SplitterDefault)" Title="Default" />
    
<DemoSection Component="typeof(SplitterNested)" Title="Nested splitters" />

<DemoSection Component="typeof(SplitterCustomSizes)" Title="Custom sizes for panels" />