@page "/DataGrid"

@using FluentUI.Demo.Shared.Pages.DataGrid.Examples;
@using Microsoft.Fast.Components.FluentUI;

<h1>Data grid</h1>
<p>The <code>&lt;FluentDataGrid&gt;</code> component is used to display tabular data. The <code>&lt;FluentDataGridRow&gt;</code> and <code>&lt;FluentDataGridCell&gt;</code> components are typically created programmatically by the parent grid but some authors may find it useful to create them manually.</p>
<p><code>&lt;FluentDataGrid&gt;</code> wraps the <code>&lt;fluent-data-grid&gt;</code> element, a web component implementation of a data grid leveraging the Fluent UI design system.</p>

<p>Internally <code>&lt;FluentDataGrid&gt;</code> is using the code from <a href="https://aspnet.github.io/quickgridsamples">QuickGrid</a> with a few adjustments to parameter names to stay in-line with the fluent-data-grid web component  (see table below)</p>
<table title="Parameter name changes">
    <tr>
        <th align="left">QuickGrid</th>
        <th align="left">FluentDataGrid</th>
    </tr>
    <tr>
        <td>Items</td>
        <td>RowsData</td>
    </tr>
    <tr>
        <td>ItemsProvider</td>
        <td>RowsDataProvider</td>
    </tr>
    <tr>
        <td>ItemSize</td>
        <td>RowsDataSize</td>
    </tr>
    <tr>
        <td>ItemKey</td>
        <td>RowsDataKey</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>

<ApiDocumentation Component="typeof(FluentDataGridCell<string>)" GenericLabel="TGridItem" />

<ApiDocumentation Component="typeof(FluentDataGridRow<string>)" GenericLabel="TGridItem" />

<ApiDocumentation Component="typeof(FluentDataGrid<string>)" GenericLabel="TGridItem" />

<h2>Examples</h2>

<DemoSection Title="Grids from data collections" ExampleFile="DataGridFromCollection"></DemoSection>

<DemoSection Title="In-memory data" ExampleFile="DataGridInMemory"></DemoSection>

<DemoSection Title="Virtualized grid" ExampleFile="DataGridVirtualize"></DemoSection>

<DemoSection Title="With Template columns" ExampleFile="DataGridTemplateColumns"></DemoSection>

<DemoSection Title="Manual grid" ExampleFile="DataGridManual"></DemoSection>
