<div>
    <NavMenu Collapsible="false">
        <NavMenuLink Text="Home"  />
        <NavMenuGroup Expanded=true>
            Base classes & Utilities
            <NavMenuLink Href="FluentComponentBase" >FluentComponentBase</NavMenuLink>
            <NavMenuLink Href="FluentInputBase" >FluentInputBase</NavMenuLink>
            <NavMenuLink Href="Reboot" >Reboot</NavMenuLink>
            <NavMenuLink Href="Templates" >Project templates</NavMenuLink>
        </NavMenuGroup>

        <NavMenuGroup Expanded=true>
            Components
            <NavMenuLink Href="Accordion" >Accordion</NavMenuLink>
            <NavMenuLink Href="Anchor" >Anchor</NavMenuLink>
            <NavMenuLink Href="AnchoredRegion" >Anchored Region</NavMenuLink>
            <NavMenuLink Href="Badge" >Badge</NavMenuLink>
            <NavMenuLink Href="Breadcrumb" >Breadcrumb</NavMenuLink>
            <NavMenuLink Href="Button" >Button</NavMenuLink>
            <NavMenuLink Href="Calendar" >Calendar</NavMenuLink>
            <NavMenuLink Href="Card" >Card</NavMenuLink>
            <NavMenuLink Href="Checkbox" >Checkbox</NavMenuLink>
            <NavMenuLink Href="Combobox" >Combobox</NavMenuLink>
            <NavMenuLink Href="DataGrid" >Data grid</NavMenuLink>
            <NavMenuLink Href="Dialog" >Dialog</NavMenuLink>
            <NavMenuLink Href="Divider" >Divider</NavMenuLink>
            <NavMenuLink Href="Flipper" >Flipper</NavMenuLink>
            <NavMenuLink Href="HorizontalScroll" >Horizontal Scroll</NavMenuLink>
            <NavMenuLink Href="Icon" >Icon</NavMenuLink>
            <NavMenuLink Href="Listbox" >Listbox</NavMenuLink>
            <NavMenuLink Href="Menu" >Menu</NavMenuLink>
            <NavMenuLink Href="NumberField" >Number Field</NavMenuLink>
            <NavMenuLink Href="Option" >Option</NavMenuLink>
            <NavMenuLink Href="Progress" >Progress</NavMenuLink>
            <NavMenuLink Href="ProgressRing" >Progress Ring</NavMenuLink>
            <NavMenuLink Href="Radio" >Radio</NavMenuLink>
            <NavMenuLink Href="RadioGroup" >Radio Group</NavMenuLink>
            <NavMenuLink Href="Search" >Search</NavMenuLink>
            <NavMenuLink Href="Select" >Select</NavMenuLink>
            <NavMenuLink Href="Skeleton" >Skeleton</NavMenuLink>
            <NavMenuLink Href="Slider" >Slider</NavMenuLink>
            <NavMenuLink Href="Switch" >Switch</NavMenuLink>
            <NavMenuLink Href="Tabs" >Tabs</NavMenuLink>
            <NavMenuLink Href="TextArea" >TextArea</NavMenuLink>
            <NavMenuLink Href="TextField" >Text Field</NavMenuLink>
            <NavMenuLink Href="Toolbar" >Toolbar</NavMenuLink>
            <NavMenuLink Href="Tooltip" >Tooltip</NavMenuLink>
            <NavMenuLink Href="TreeView" >Tree View</NavMenuLink>
        </NavMenuGroup>

        <NavMenuGroup Expanded=true Href="/Lab/Overview">
            Incubation lab
            <NavMenuLink Href="/Lab/Overview" >Overview</NavMenuLink>

            <NavMenuGroup Expanded=true>
                Layout components
                <NavMenuLink Href="/Lab/Header" >Header</NavMenuLink>
                <NavMenuLink Href="/Lab/Footer" >Footer</NavMenuLink>
                <NavMenuLink Href="/Lab/BodyContent" >BodyContent</NavMenuLink>
                <NavMenuLink Href="/Lab/Layout" >Layout</NavMenuLink>
                <NavMenuLink Href="/Lab/MainLayout" >MainLayout</NavMenuLink>
                <NavMenuLink Href="/Lab/Spacer" >Spacer</NavMenuLink>
                <NavMenuLink Href="/Lab/Stack" >Stack</NavMenuLink>
            </NavMenuGroup>

            <NavMenuGroup Expanded=true>
                Others
                <NavMenuLink Href="/Lab/NavMenu" >NavMenu</NavMenuLink>
                <NavMenuLink Href="/Lab/CounterBadge" >CounterBadge</NavMenuLink>
                <NavMenuLink Href="/Lab/Highlighter" >Highlighter</NavMenuLink>
                <NavMenuLink Href="/Lab/PresenceBadge" >PresenceBadge</NavMenuLink>
                <NavMenuLink Href="/Lab/MenuButton" >MenuButton</NavMenuLink>
                <NavMenuLink Href="/Lab/MonacoEditor" >MonacoEditor</NavMenuLink>
                <NavMenuLink Href="/Lab/TableOfContents" >Table of Contents</NavMenuLink>
            </NavMenuGroup>
        </NavMenuGroup>
    </NavMenu>
</div>