@using FluentUI.Demo.Shared.Shared
@using Microsoft.AspNetCore.Components
@namespace FluentUI.Demo.Shared
@inherits LayoutComponentBase

<PageTitle>Fluent UI WC demo page</PageTitle>

<FluentDesignSystemProvider @ref=fdsp Direction=@dir BaseLayerLuminance=@baseLayerLuminance>
    <div class="container">
        <div class="header">
            <a href="/">Home</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="main">
            <div class="navigation">
                <NavMenu />
            </div>

            <div class="content">
                <main>
                    <article class="content px-4">
                        <div style="grid-gap: 12px; padding-top: 12px;">
                            <FluentSwitch @onclick=SwitchDirectionAsync Checked=@isRTL>
                                <span style="padding-inline-end: 8px;">Direction</span>
                                <span slot="unchecked-message">ltr</span>
                                <span slot="checked-message">rtl</span>
                            </FluentSwitch>
                            <FluentSwitch @onclick=SwitchTheme Checked=@darkTheme>
                                <span style="padding-inline-end: 8px;"> Theme</span>
                                <span slot="checked-message">Dark</span>
                                <span slot="unchecked-message">Light</span>
                            </FluentSwitch>
                        </div>
                        @Body
                    </article>

                </main>
            </div>
        </div>
    </div>
</FluentDesignSystemProvider>
