@using FluentUI.Demo.Shared.Shared
@using Microsoft.AspNetCore.Components
@namespace FluentUI.Demo.Shared
@inherits LayoutComponentBase

<PageTitle>Fluent UI WC demo page</PageTitle>

<FluentDesignSystemProvider>
    <div class="container">
        <div class="header">
            <a href="/">Home</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="main">
            <div class="navigation">
                <NavMenu />
            </div>

            <div class="content">
                <main>
                    <article class="content px-4">
                        <div style="grid-gap: 12px; padding-top: 12px;">
                            <script suppress-error='BL9992'>
                                darkTheme = false;
                            </script>
                            <FluentSwitch onclick="document.dir = document.dir === 'rtl' ? 'ltr' : 'rtl'; document.getElementsByTagName('fluent-design-system-provider')[0].setAttribute('direction', document.dir);">
                                <span style="padding-inline-end: 8px;">Direction</span>
                                <span slot="unchecked-message">ltr</span>
                                <span slot="checked-message">rtl</span>
                            </FluentSwitch>
                            <FluentSwitch onclick="document.darkTheme = !document.darkTheme; document.getElementsByTagName('fluent-design-system-provider')[0].setAttribute('base-layer-luminance', darkTheme ? '0' : '1'); document.getElementsByTagName('fluent-design-system-provider')[1].setAttribute('base-layer-luminance', darkTheme ? '0' : '1');">
                                <span style="padding-inline-end: 8px;"> Theme</span>
                                <span slot="checked-message">Dark</span>
                                <span slot="unchecked-message">Light</span>
                            </FluentSwitch>
                        </div>
                        @Body
                    </article>

                </main>
            </div>
        </div>
    </div>
</FluentDesignSystemProvider>
