<h2>Base classes</h2>
<ul>
    <li>
        <FluentAnchor Href="FluentComponentBase" Appearance=@SetAppearance("FluentComponentBase")>FluentComponentBase</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="FluentInputBase" Appearance=@SetAppearance("FluentInputBase")>FluentInputBase</FluentAnchor>
    </li>
</ul>
<h2>Components</h2>
<ul>
    <li>
        <FluentAnchor Href="Accordion" Appearance=@SetAppearance("Accordion")>Accordion</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Anchor" Appearance=@SetAppearance("Anchor")>Anchor</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="AnchoredRegion" Appearance=@SetAppearance("AnchoredRegion")>Anchored Region</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Badge" Appearance=@SetAppearance("Badge")>Badge</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Breadcrumb" Appearance=@SetAppearance("Breadcrumb")>Breadcrumb</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Button" Appearance=@SetAppearance("Button")>Button</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Calendar" Appearance=@SetAppearance("Calendar")>Calendar</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Card" Appearance=@SetAppearance("Card")>Card</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Checkbox" Appearance=@SetAppearance("Checkbox")>Checkbox</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Combobox" Appearance=@SetAppearance("Combobox")>Combobox</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="DataGrid" Appearance=@SetAppearance("Datagrid")>Data grid</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Dialog" Appearance=@SetAppearance("Dialog")>Dialog</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Divider" Appearance=@SetAppearance("Divider")>Divider</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Flipper" Appearance=@SetAppearance("Flipper")>Flipper</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="HorizontalScroll" Appearance=@SetAppearance("HorizontalScroll")>Horizontal Scroll</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Icon" Appearance=@SetAppearance("Icon")>Icon</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Listbox" Appearance=@SetAppearance("Listbox")>Listbox</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Menu" Appearance=@SetAppearance("Menu")>Menu</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="NumberField" Appearance=@SetAppearance("NumberField")>Number Field</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Option" Appearance=@SetAppearance("Option")>Option</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Progress" Appearance=@SetAppearance("Progress")>Progress</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="ProgressRing" Appearance=@SetAppearance("ProgressRing")>Progress Ring</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Radio" Appearance=@SetAppearance("Radio")>Radio</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="RadioGroup" Appearance=@SetAppearance("RadioGroup")>Radio Group</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Search" Appearance=@SetAppearance("Search")>Search</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Select" Appearance=@SetAppearance("Select")>Select</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Skeleton" Appearance=@SetAppearance("Skeleton")>Skeleton</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Slider" Appearance=@SetAppearance("Slider")>Slider</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Switch" Appearance=@SetAppearance("Switch")>Switch</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Tabs" Appearance=@SetAppearance("Tabs")>Tabs</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="TextArea" Appearance=@SetAppearance("TextArea")>TextArea</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="TextField" Appearance=@SetAppearance("TextField")>Text Field</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Toolbar" Appearance=@SetAppearance("Toolbar")>Toolbar</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="Tooltip" Appearance=@SetAppearance("Tooltip")>Tooltip</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="TreeView" Appearance=@SetAppearance("TreeView")>Tree View</FluentAnchor>
    </li>
</ul>
<h2>Incubation lab</h2>
<ul>
    <li>
        <FluentAnchor Href="LabOverview" Appearance=@SetAppearance("LabOverview")>Overview</FluentAnchor>
    </li>
    <li>
        <FluentAnchor Href="FluentUIReboot" Appearance=@SetAppearance("FluentUIReboot")>Reboot CSS</FluentAnchor>
    </li>
</ul>




