@page "/TextArea"

@using FluentUI.Demo.Shared.Pages.TextArea.Examples

<h1>Text area</h1>

<p>An implementation of an <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea" target="_blank" rel="noopener noreferrer">HTML textarea element</a>. The <code>&lt;FluentTextArea&gt;</code> supports two visual appearances, outline and filled, with the control defaulting to the outline appearance.</p>

<p>
    <code>&lt;FluentArea&gt;</code> wraps the <code>&lt;fluent-text-area&gt;</code> element, a web component implementation of a text area composition leveraging the
    Fluent UI design system.
</p>

<ApiDocumentation Component="typeof(FluentTextArea)" />

<h2>Examples</h2>

<DemoSection Title="Default" ExampleFile="TextAreaDefault"></DemoSection>

<DemoSection Title="Displays" ExampleFile="TextAreaDisplays"></DemoSection>

<DemoSection Title="States" ExampleFile="TextAreaStates"></DemoSection>

<DemoSection Title="Resize" ExampleFile="TextAreaResizing"></DemoSection>

<DemoSection Title="Focus" ExampleFile="TextAreaFocus"></DemoSection>

<DemoSection Title="Filled Appearance" ExampleFile="TextAreaFilled"></DemoSection>

<DemoSection Title="Aria" ExampleFile="TextAreaAria"></DemoSection>