<h4>Read only</h4>
<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <FluentRadioGroup ReadOnly=true Label="readonly radio group" Name="office" @bind-Value=value1>
        <FluentRadio Value=@("word") Label="Word" />
        <FluentRadio Value=@("excel") Label="Excel" />
    </FluentRadioGroup>
</div>

<h4>Disabled</h4>
<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <FluentRadioGroup Disabled=true Label="Disabled radio group" Name="cars" @bind-Value=value2>
        <FluentRadio Value=@("lambo") Label="Lamborghini" />
        <FluentRadio Value=@("ferari") Label="Ferari" />
    </FluentRadioGroup>
</div>
@code {
    string? value1, value2;
}