<h5>Toolbar with slotted span label</h5>
<FluentToolbar id="toolbar-slotted-label">
    <span slot="label">Span Label</span>
    <FluentButton>One</FluentButton>
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<h5>Toolbar with external label</h5>
<label id="toolbar-label" for="toolbar-external-label">External label</label>
<FluentToolbar aria-labelledby="toolbar-label" id="toolbar-external-label">
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<h5>Toolbar with invisible label</h5>
<FluentToolbar id="toolbar-invisible-label">
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>