<table class="skeleton-table">
    <tbody>
        <tr>
            <td></td>
            <td>
                <code>Circular="false"</code>
            </td>
            <td>
                <code>Circular="true"</code>
            </td>
        </tr>
        <tr>
            <td>
                <code>Shimmer="true"</code>
            </td>
            <td>
                <FluentSkeleton Shimmer="true" Circular="false" Width="100px" Height="50px" />
            </td>
            <td>
                <FluentSkeleton Shimmer="true" Circular="true" Width="100px" Height="50px" />
            </td>
        </tr>
        <tr>
            <td>
                <code>Shimmer="false"</code>
            </td>
            <td>
                <FluentSkeleton Shimmer="false" Circular="false" Width="100px" Height="50px" />
            </td>
            <td>
                <FluentSkeleton Shimmer="false" Circular="true" Width="100px" Height="50px" />
            </td>
        </tr>
    </tbody>
</table>

<style>
    .skeleton-table {
        width: auto;
    }

        .skeleton-table td {
            text-align: center;
        }
</style>
