@namespace FluentUI.Demo.Shared

<FluentStack Style="border: 1px dotted var(--accent-fill-rest)">
    <div>This is some content displayed in a div</div>
    <div>This is some content displayed in a div</div>
</FluentStack>