@page "/BodyContent"

@using FluentUI.Demo.Shared.Pages.BodyContent.Examples

<PageTitle>@App.PageTitle("BodyContent")</PageTitle>

<h1>BodyContent</h1>

<p>
    The <code>FluentBodyContent</code> component is a placeholder for where the actual site content needs to be shown. It comes with some sensible CSS default settings defined.
</p>

<h2 id="example">Example</h2>

<DemoSection Component="typeof(BodyContentDefault)" Title="BodyContent" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentBodyContent)" />
