@using FluentUI.Demo.DocViewer.Components
@switch (Page)
{
    // Home page
    case "":
        <MarkdownViewer Route="file:HomeAside" />
        break;

    // All documentation pages
    default:
        if (Headers != null && Headers.Any())
        {
            <div class="demo-aside">
                @GetHtmlHeaders()
            </div>
        }
        break;
}
