@inject NavigationManager Navigation
@inject FluentUI.Demo.DocViewer.Services.DocViewerService DocViewerService

<div>
    <FluentTreeView>
        @* TODO: Need to manage multiple levels (not only 2) *@
        @foreach (var category in NavItems)
        {
            <FluentTreeItem Expanded="true"
                            Text="@category.Title"
                            Height="40px"
                            Style="font-weight: bold;">
                @foreach (var page in category.Items)
                {
                    <FluentTreeItem Expanded="true"
                                    Text="@(page.Title)"
                                    SelectedChanged="@(e => e ? ItemClickAsync(page) : Task.CompletedTask)"
                                    Height="40px"
                                    Style="font-weight: normal;">
                    </FluentTreeItem>
                }
            </FluentTreeItem>
        }
    </FluentTreeView>
</div>
