@inject NavigationManager Navigation
@inject FluentUI.Demo.DocViewer.Services.DocViewerService DocViewerService

<div>
    <ul>
        @foreach (var page in DocViewerService.Pages.OrderBy(i => i.Title))
        {
            <li>
                <a href="@(page.Route)">@(page.Title)</a>
            </li>
        }
    </ul>
</div>
