@inject NavigationManager Navigation
@inject FluentUI.Demo.DocViewer.Services.DocViewerService DocViewerService

<div>
    <ul>
        @* TODO: Need to manage multiple levels (not only 2) *@
        @foreach (var category in NavItems)
        {
            <li>
                @category.Title

                <ul>
                    @foreach (var page in category.Items)
                    {
                        <li>
                            <a href="#" @onclick="@(e => ItemClickAsync(page))">@(page.Title)</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
