@inject NavigationManager Navigation
@inject FluentUI.Demo.DocViewer.Services.DocViewerService DocViewerService

<ul>
    @foreach (var page in DocViewerService.Pages)
    {
        <li>
            <a href="@(page.Route)">@(page.Title)</a>
        </li>
    }
</ul>
