.github-logo-link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-home {
    display: flex;
}

@media (max-width: 1280px) {
    .demo-home {
        flex-direction: column;
    }
}
