@page "/"
@using Microsoft.FluentUI.AspNetCore.Components.Utilities

<h3>TestPage</h3>

<p>
    This is a first page for tests.
</p>

<div>
    <FluentButton Appearance="ButtonAppearance.Primary">Click here</FluentButton>
    <FluentButton Appearance="ButtonAppearance.Primary" Disabled>Click here</FluentButton>
    <FluentButton Loading="true" Appearance="ButtonAppearance.Primary">Click here</FluentButton>
</div>
