@page "/"
@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@using Microsoft.FluentUI.AspNetCore.Components.Migration

<h3>TestPage</h3>

<p>
    This is a first page for tests.
</p>

<a href="/Button">/Button</a>
<a href="/Counter">/Counter</a>
