@page "/Toast"
@using FluentUI.Demo.Shared.Pages.Toast.Examples

<DemoSection Title="Toast Services" Component="typeof(ToastDefaultExample)">
    
</DemoSection>

<DemoSection Title="Toast Services with options" Component="typeof(ToastDetailledExample)">
    
</DemoSection>

<h3>Service injection</h3>

<h4>Injection with global options.</h4>
<CodeSnippet>    
    builder.Services.AddFluentUIComponents();
</CodeSnippet>

<h4>Injection with custom configuration.</h4>
<CodeSnippet>    
    builder.Services.AddFluentUIComponents(config =>
    {
        if (config is not null)
        {
            config.IconConfiguration = ConfigurationGenerator.GetIconConfiguration();
            config.EmojiConfiguration = ConfigurationGenerator.GetEmojiConfiguration();

            config.ToastConfiguration.ToasterPosition = ToasterPosition.BottomLeft;
            config.ToastConfiguration.NewestOnTop = false;
            config.ToastConfiguration.ShowCloseIcon = false;
            config.ToastConfiguration.VisibleStateDuration = 1000;
            config.ToastConfiguration.HideTransitionDuration = 100;
            config.ToastConfiguration.ShowTransitionDuration = 100;
        }
    });
</CodeSnippet>