@page "/Checkbox"
@using FluentUI.Demo.Shared.Pages.Checkbox.Examples

<h1>Checkbox</h1>
<p>An implementation of a <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/checkbox" target="_blank" rel="noopener noreferrer">checkbox</a> web-component.</p>
<p>
    <code>&lt;FluentCheckbox&gt;</code> wraps the <code>&lt;fluent-checkbox&gt;</code> element, a web component implementation of a<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/checkbox" target="_blank" rel="noopener noreferrer">checkbox</a>, leveraging the Fluent UI design system.
</p>


<ApiDocumentation Component="typeof(FluentCheckbox)" />

<DemoSection Title="Default checkbox examples" ExampleFile="CheckboxDefault"></DemoSection>

<DemoSection Title="Vertical checkboxes" ExampleFile="CheckboxVertical"></DemoSection>

<DemoSection Title="Visual vs audio label" ExampleFile="CheckboxAria"></DemoSection>
