<h5>Full Width</h5>
<FluentNumberField TValue="int?" style="width: 100%;"></FluentNumberField>

<h5>Placeholder</h5>
<FluentNumberField TValue="int?" Placeholder="Placeholder"></FluentNumberField>

<h5>Required</h5>
<FluentNumberField TValue="int?" Required="true"></FluentNumberField>

<h5>Disabled</h5>
<FluentNumberField TValue="int?" Disabled="true"></FluentNumberField>
<FluentNumberField TValue="int?" Disabled="true">label</FluentNumberField>
<FluentNumberField TValue="int?" Disabled="true" Placeholder="placeholder"></FluentNumberField>

<h5>Read only</h5>
<FluentNumberField TValue="int?" Readonly="true" Value="1"></FluentNumberField>
<FluentNumberField TValue="int?" Readonly="true" Value="2">label</FluentNumberField>

<h5>Autofocus</h5>
<FluentNumberField TValue="int?" Autofocus="true">autofocus</FluentNumberField>
