<html>
	<head></head>
	<body>
		<div id="xxx" class="fluent-toast-provider" style="z-index: 999;">
			<fluent-toast-b id="xxx" opened="true" timeout="7000" intent="info" vertical-offset="16" horizontal-offset="20" role="listitem" aria-labelledby="xxx" aria-describedby="xxx" blazor:ondialogtoggle="1" blazor:ondialogbeforetoggle="2">
				<div slot="media" aria-hidden="true">
					<svg style="width: 20px; fill: var(--info);" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x" blazor:elementreference="xxx">
						<path d="M18 10a8 8 0 1 0-16 0 8 8 0 0 0 16 0ZM9.5 8.91a.5.5 0 0 1 1 0V13.6a.5.5 0 0 1-1 0V8.9Zm-.25-2.16a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0Z"></path>
					</svg>
				</div>
				<div id="xxx" slot="title">Toast title</div>
				<div id="xxx">Toast Content - John</div>
			</fluent-toast-b>
		</div>
	</body>
</html>