@page "/DataFilter"

@using FluentUI.Demo.Shared.Pages.DataFilter.Examples

<PageTitle>@App.PageTitle("DataFilter")</PageTitle>

<h1>DataFilter</h1>

<p>The <code>&lt;FluentDataFilter&gt;</code> component is a visual container without semantics that takes children. Cards are snapshots of content that are typically used in a group to present collections of related information.</p>
<p><code>&lt;FluentCard&gt;</code> wraps the <code>&lt;fluent-card&gt;</code> element, a web component implementation of a card leveraging the Fluent UI design system.</p>
<p>Use the <code>Width</code> and <code>Height</code> parameters to size the card. Both values default to 350 pixels.</p>
<h2 id="example">Examples</h2>

<DemoSection Title="Simple card example" Component="@typeof(DataFilterDefault)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentDataFilter<>)" GenericLabel="TItem" />
