
<div id="xxx" class="fluent-tabs">
  <fluent-tablist id="xxx" activeid="Tab2" blazor:ontabchange="1">
    <fluent-tab id="xxx" aria-controls="Tab1-panel">
      Tab 1
    </fluent-tab>
    <fluent-tab id="xxx" aria-controls="Tab2-panel">
      Tab 2
    </fluent-tab>
    <fluent-tab id="xxx" aria-controls="Tab3-panel">
      Tab 3
    </fluent-tab>
  </fluent-tablist>
  <div id="xxx" index="1" class="fluent-tab-panel">Content 1</div>
  <div id="xxx" index="2" class="fluent-tab-panel">Content 2</div>
  <div id="xxx" index="3" class="fluent-tab-panel">Loading...</div>
</div>
