/* Ensure all the flags are the same size, and centered */
.flag {
    height: 1rem;
    margin: auto;
    border: 1px solid var(--neutral-layer-3);
}
.search-box {
    min-width: 250px;
    width: 100%;
}

    .search-box fluent-search {
        width: 100%;
    }
