@page "/AnchorPage"
@using FluentUI.Demo.Shared.Pages.Anchor.Examples
<h2>Anchor</h2>


<DemoSection Title="Simple anchors" CodeFilename="AnchorDefaultExamples">
    <AnchorDefaultExamples></AnchorDefaultExamples>
</DemoSection>

<h2>API</h2>
<ApiDocumentation Component="typeof(FluentAnchor)" />
