@page "/AnchorPage"
@using FluentUI.Demo.Shared.Pages.Anchor.Examples

<h1>Anchor</h1>
<h2>API Documentation</h2>
<ApiDocumentation Component="typeof(FluentAnchor)" />

<h2>Examples</h2>
<DemoSection Title="Simple anchors" CodeFilename="AnchorDefaultExamples">
    <AnchorDefaultExamples></AnchorDefaultExamples>
</DemoSection>


