
<div id="xxx" class="fluent-dialog-provider" style="z-index: 999;">
  <div class="fluent-inputfile-container" style="display: none;" blazor:elementreference="xxx">
    <div class="inputfile-content" style="z-index: 991">
      <div class="inputfile-progress" style="visibility: hidden;">
        <fluent-progress-bar min="0" max="100" value="0"></fluent-progress-bar>
        <br>
      </div>
    </div>
    <div style="grid-column: 1; grid-row: 1; ">
      <input id="xxx" accept="" type="file" blazor:elementreference="xxx">
    </div>
  </div>
</div>