<div style="width: 350px; height: 200px; border: 1px solid var(--colorNeutralBackgroundDisabled);">
    <style>
        .layout-schema {
            margin: 0 24px;
        }
        .layout-schema div {
            padding: 0 8px;
            text-align: center;
            align-content: center;
            border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
        }
    </style>
    <FluentLayout Class="layout-schema">
        <FluentLayoutItem Area="LayoutArea.Header">Header</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Menu">Menu</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Content">Content</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Aside">Aside</FluentLayoutItem>
        <FluentLayoutItem Area="LayoutArea.Footer">Footer</FluentLayoutItem>
    </FluentLayout>
</div>
