.loading-button {
  position: relative;
}

  .loading-button fluent-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    cursor: not-allowed;
  }

fluent-button svg[slot="start"],
fluent-button fluent-spinner[slot="start"] {
  margin-inline-end: 8px;
}

fluent-button svg[slot="end"],
fluent-button fluent-spinner[slot="end"] {
  margin-inline-start: 8px;
}

fluent-button[disabled] svg {
    opacity: 0.4;
}
