<FluentGrid  AdaptiveRendering="true" >
	<FluentGridItem xs="3">
		<p>
			This paragraph contains a link which is very long.
			<FluentLink href="link#wrapping">
				Fluent links wrap correctly between lines when they are very long.
			</FluentLink>
			This is because they are inline elements.
		</p>
	</FluentGridItem>
</FluentGrid>
