@page "/TableOfContents"

<h1>Table of Contents</h1>

<p>
    The <code>FluentTableOfContents</code> components scans the <code>article</code>-section of a page for all h2, h3 and h4 headings and presents a table of contents as an accordion
    component that contains clickable links to those headings. In this demo site it is being used in the <code>aside</code>-section of the page 
    (depending on device and posture, either shown above or on the right side of the <code>article</code>-section).
</p>
<p>
    The component uses the id attributes of the headings it finds to create the bookmarks. If a heading doesn't have an id attribute set, the JavaScript will create one
    based on the title of the heading.
</p>
<p>
    The component also renders a (initially hidden) 'Back to top' button at the bottom of the page. The button appears once scrolling has started.
</p>

<ApiDocumentation Component="typeof(FluentTableOfContents)" />

<h2>Example</h2>

<DemoSection Component="typeof(FluentTableOfContents)" Title="Default" HideAllButExample=true>
    <Description>
        This is the generated table of contents for this page. The component is using all the default settings for its parameters.
    </Description>
</DemoSection>