@page "/Calendar"

@using FluentUI.Demo.Shared.Pages.Calendar.Examples

<h1>Calendar</h1>

<p>
    <code>&lt;FluentCalendar&gt;</code> wraps the <code>&lt;fluent-calendar&gt;</code> element, a web component implementation of a month calendar display leveraging the Fluent UI design system.
    It allows for setting a range of selected and/or disabled dates and can handle a click on a day event (if not <code>Readonly</code>)
</p>

<ApiDocumentation Component="typeof(FluentCalendar)" />

<h2>Examples</h2>

<DemoSection Title="Simple calendar examples" CodeFilename="CalendarDefaultExamples">
    <CalendarDefaultExamples></CalendarDefaultExamples>
</DemoSection>

<DemoSection Title="Interactive calendar examples" CodeFilename="CalendarInteractiveExamples">
    <CalendarInteractiveExamples></CalendarInteractiveExamples>
</DemoSection>
