@page "/CalendarPage"
<h1>Calendar</h1>
<ApiDocumentation Component="typeof(FluentCalendar)" />

<h2>Default</h2>
<p>
    <FluentCalendar />
</p>

<h2>Readonly</h2>
<p>
    <FluentCalendar Readonly=true />
</p>

<h2>Show 6 weeks minimal</h2>
<p>
    <FluentCalendar MinWeeks="6" />
</p>

<h2>Disabled dates</h2>
<p>
    <FluentCalendar DisabledDates=@disabledDates />
</p>
<h2>Selected dates</h2>
<p>
    <FluentCalendar SelectedDates=@selectedDates></FluentCalendar>
</p>

<h2>Selected dates (with @@bind)</h2>
<p>
    <FluentCalendar DisabledDates=@disabledDates @bind-SelectedDates =@selectedDates></FluentCalendar>
</p>
<p>Selected dates</p>
<ul>
@foreach(DateOnly date in selectedDates)
{
    <li>@date.ToString("yyyy-MM-dd")</li>
}
</ul>
<h2>Selected dates (with @@bind) and diasabled dates not selectable</h2>
<p>
    <FluentCalendar DisabledDates=@disabledDates @bind-SelectedDates=@selectedDates DisabledSelectable=false></FluentCalendar>
</p>
<h2>Selected dates (with @@bind) and dates outside of shown month not selectable</h2>
<p>
    <FluentCalendar DisabledDates=@disabledDates @bind-SelectedDates=@selectedDates OutOfMonthSelectable=false></FluentCalendar>
</p>

<h2>Day Format = 2 digit</h2>
<p>
    <FluentCalendar DayFormat=DayFormat.TwoDigit />
</p>

@code {
    static int currentYear = DateTime.Now.Year;
    static int currentMonth = DateTime.Now.Month;

    static int daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth) + 1;
    static Random random = new();

    List<DateOnly> disabledDates = new();
    List<DateOnly> selectedDates = new();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 3; i++)
        {
            disabledDates.Add(new DateOnly(currentYear, currentMonth, random.Next(1, daysInMonth)));
            selectedDates.Add(new DateOnly(currentYear, currentMonth, random.Next(1, daysInMonth)));
        };
    }
}