.fluent-month {
    --month-cell-size: 28px;
    --month-cell-height: 48px;
    --month-gap: 2px;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    color: var(--neutral-foreground-rest);
    max-width: calc((var(--month-cell-size) + 2 * var(--month-gap)) * 7);
    user-select: none;
}

    /* Header: Year name and navigation arrows */
    .fluent-month ::deep .title {
        display: flex;
        padding: calc(var(--design-unit) * 2px);
        font-weight: 600;
        width: 100%;
        height: calc(var(--month-cell-size) + 4 * var(--month-gap));
        flex-direction: row;
        justify-content: space-between;
    }

    .fluent-month ::deep .year {
        vertical-align: middle;
    }

    .fluent-month ::deep .change-year {
        float: right;
        display: flex;
        margin-right: -6px;
    }

    .fluent-month ::deep .previous-year,
    .fluent-month ::deep .next-year {
        width: var(--month-cell-size);
        height: var(--month-cell-size);
        margin-left: calc(2 * var(--month-gap));
        text-align: center;
        cursor: pointer;
    }

        .fluent-month ::deep .previous-year:hover,
        .fluent-month ::deep .next-year:hover {
            background: var(--neutral-fill-stealth-hover);
        }

        .fluent-month ::deep .previous-year svg,
        .fluent-month ::deep .next-year svg {
            width: 16px;
            fill: var(--neutral-fill-strong-focus);
        }

    /* List of months */
    .fluent-month ::deep .months {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: var(--month-gap);
        width: 100%;
    }

    .fluent-month ::deep .month {
        display: flex;
        height: var(--month-cell-height);
        border: calc(var(--stroke-width) * 1px) solid transparent;
        border-radius: calc(var(--control-corner-radius) * 1px);
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .fluent-month[readonly] ::deep .month {
        cursor: default;
    }

    .fluent-month ::deep .month:hover {
        background: var(--neutral-fill-stealth-hover);
    }

    /* Selected */
    .fluent-month ::deep .month[selected] {
        color: var(--accent-fill-rest);
        border: 1px solid var(--accent-fill-rest);
        background: var(--fill-color);
    }

    /* Animations */
    .fluent-month ::deep .animation-running-down {
        animation: 0.2s fluent-month-text-animation-down ease-out;
    }

    .fluent-month ::deep .animation-running-up {
        animation: 0.2s fluent-month-text-animation-up ease-out;
    }

    .fluent-month ::deep .animation-none {
        animation: none;
    }

@keyframes fluent-month-text-animation-up {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    80% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fluent-month-text-animation-down {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }

    20% {
        opacity: 0;
    }

    80% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
