.fluent-calendar {
  --calendar-width: 220px;
  --calendar-today-color: var(--colorNeutralForegroundOnBrand);
  --calendar-today-background: var(--colorBrandBackground);
  --calendar-today-border-radius: 50%;
  --calendar-hover-color: var(--colorNeutralForeground1);
  --calendar-hover-background: var(--colorSubtleBackgroundHover);
  --calendar-selected-color: var(--colorNeutralForeground1Static);
  --calendar-selected-border: var(--strokeWidthThin) solid var(--colorBrandStroke1);
  --calendar-selected-border-radius: var(--borderRadiusMedium);
  --calendar-selected-background: var(--colorBrandBackgroundInvertedSelected);
}

  .fluent-calendar[disabled] {
    color: var(--colorNeutralForegroundDisabled);
  }

/*
  "Days" View
*/
.fluent-day-view {
  --calendar-cell-size: 28px;
  --calendar-gap: 2px;
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  line-height: var(--lineHeightBase300);
  color: var(--colorNeutralForeground1);
  width: var(--calendar-width);
  min-width: calc((var(--calendar-cell-size) + 2 * var(--calendar-gap)) * 7) !important;
  max-width: calc((var(--calendar-cell-size) + 2 * var(--calendar-gap)) * 7) !important;
  height: calc((var(--calendar-cell-size) + 3 * var(--calendar-gap)) * 8);
  user-select: none;
}

  /* Header: month name and month navigation */
  .fluent-day-view .title {
    display: flex;
    padding: var(--spacingVerticalS) var(--spacingHorizontalS);
    font-weight: 600;
    width: 100%;
    height: calc(var(--calendar-cell-size) + 4 * var(--calendar-gap));
    flex-direction: row;
    justify-content: space-between;
  }

    .fluent-day-view .title > .label {
      vertical-align: middle;
      cursor: pointer;
      width: 100%;
    }

      .fluent-day-view .title > .label[readonly] {
        cursor: default;
      }

  .fluent-day-view .change-period {
    float: right;
    display: flex;
    margin-right: -6px;
  }

    .fluent-day-view .change-period > .previous,
    .fluent-day-view .change-period > .next {
      width: var(--calendar-cell-size);
      height: var(--calendar-cell-size);
      margin-left: calc(2 * var(--calendar-gap));
      text-align: center;
      cursor: pointer;
    }

      .fluent-day-view .change-period > .previous:not([disabled]):hover,
      .fluent-day-view .change-period > .next:not([disabled]):hover {
        color: var(--calendar-hover-color);
        background: var(--calendar-hover-background);
      }

      .fluent-day-view .change-period > .previous svg,
      .fluent-day-view .change-period > .next svg {
        width: 16px;
        fill: var(--colorNeutralForeground3);
      }

  /* List of days */
  .fluent-day-view .days {
    text-align: center;
  }

  .fluent-day-view .week-days,
  .fluent-day-view .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: var(--calendar-gap);
    border: 0px;
    padding: 0px;
  }

  .fluent-day-view .day,
  .fluent-day-view .week-day {
    border: var(--strokeWidthThin) solid transparent;
    width: var(--calendar-cell-size);
    height: var(--calendar-cell-size);
    line-height: var(--calendar-cell-size);
    padding: 0px;
    box-sizing: initial;
  }

  /* Week names */
  .fluent-day-view .week-day {
    font-weight: 600;
  }

  /* Days */
  .fluent-day-view .day {
    border: var(--strokeWidthThin) solid transparent;
    border-radius: var(--borderRadiusSmall);
    cursor: pointer;
  }

  .fluent-day-view[readonly] .day {
    cursor: default;
  }

  .fluent-day-view:not([readonly]) .day:not([disabled]):not([inactive]):not([today]):hover {
    color: var(--calendar-hover-color);
    background: var(--calendar-hover-background);
  }

  /* Inactive and Disabled */
  .fluent-day-view .day[inactive] {
    color: var(--colorNeutralForegroundDisabled);
    cursor: default;
  }

  .fluent-day-view .day[disabled] {
    color: var(--colorNeutralForegroundDisabled);
    cursor: default;
    position: relative;
  }

    .fluent-day-view .day[disabled]::before { /* strikethrough */
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(var(--calendar-cell-size) * .8);
      height: var(--strokeWidthThin);
      background-color: currentcolor;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: 1;
    }

  /* Today */
  .fluent-day-view .day:not([selected]):not([multi-day])[today] {
    color: var(--calendar-today-color);
    background: var(--calendar-today-background);
    border-radius: var(--calendar-today-border-radius);
    position: relative;
  }

  /* Selected */
  .fluent-day-view .day[selected] {
    color: var(--calendar-selected-color);
    border: var(--calendar-selected-border);
    border-radius: var(--calendar-selected-border-radius);
    background: var(--calendar-selected-background);
  }

  /* Selected Multiple Days */

  .fluent-day-view .day[multi-day],
  .fluent-day-view .day[multi-start],
  .fluent-day-view .day[multi-end] {
    color: var(--calendar-selected-color);
    border: var(--calendar-selected-border);
    border-radius: var(--calendar-selected-border-radius);
    background: var(--calendar-selected-background);
  }

  .fluent-day-view .day[multi-start] {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .fluent-day-view .day[multi-end] {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .fluent-day-view .day[multi-day-over]:not([multi-day]) {
    background: var(--colorSubtleBackgroundHover);
  }

  /* Animations */
  .fluent-day-view .animation-running-down {
    animation: 0.2s fluent-text-animation-down ease-out;
  }

  .fluent-day-view .animation-running-up {
    animation: 0.2s fluent-text-animation-up ease-out;
  }

  .fluent-day-view .animation-none {
    animation: none;
  }

[dir="rtl"] .fluent-day-view .day[disabled]::before {
  transform: translate(4px, 0px) rotate(45deg);
}

/*
    "Months" View
*/
.fluent-month-view {
  --month-cell-size: 28px;
  --month-cell-height: 48px;
  --month-gap: 2px;
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  line-height: var(--lineHeightBase300);
  color: var(--colorNeutralForeground1);
  width: var(--calendar-width);
  min-width: calc((var(--month-cell-size) + 2 * var(--month-gap)) * 7) !important;
  max-width: calc((var(--month-cell-size) + 2 * var(--month-gap)) * 7) !important;
  user-select: none;
}

  /* Header: Year name and navigation arrows */
  .fluent-month-view .title {
    display: flex;
    padding: var(--spacingVerticalS) var(--spacingHorizontalS);
    font-weight: 600;
    width: 100%;
    height: calc(var(--month-cell-size) + 4 * var(--month-gap));
    flex-direction: row;
    justify-content: space-between;
  }

    .fluent-month-view .title > .label {
      vertical-align: middle;
      cursor: pointer;
      width: 100%;
    }

      .fluent-month-view .title > .label[readonly] {
        cursor: default;
      }

  .fluent-month-view .change-period {
    float: right;
    display: flex;
    margin-right: -6px;
  }

    .fluent-month-view .change-period > .previous,
    .fluent-month-view .change-period > .next {
      width: var(--month-cell-size);
      height: var(--month-cell-size);
      margin-left: calc(2 * var(--month-gap));
      text-align: center;
      cursor: pointer;
    }

      .fluent-month-view .change-period > .previous:not([disabled]):hover,
      .fluent-month-view .change-period > .next:not([disabled]):hover {
        color: var(--calendar-hover-color);
        background: var(--calendar-hover-background);
      }

      .fluent-month-view .change-period > .previous svg,
      .fluent-month-view .change-period > .next svg {
        width: 16px;
        fill: var(--colorNeutralForeground3);
      }

  /* List of months */
  .fluent-month-view .months {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--month-gap);
    width: 100%;
  }

  .fluent-month-view .month {
    display: flex;
    height: var(--month-cell-height);
    border: var(--strokeWidthThin) solid transparent;
    border-radius: var(--borderRadiusSmall);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .fluent-month-view[readonly] .month {
    cursor: default;
  }

  .fluent-month-view:not([readonly]) .month:not([disabled]):hover {
    color: var(--calendar-hover-color);
    background: var(--calendar-hover-background);
  }

  .fluent-month-view .month[selected] {
    color: var(--calendar-selected-color);
    border: var(--calendar-selected-border);
    border-radius: var(--calendar-selected-border-radius);
    background: var(--calendar-selected-background);
  }

  .fluent-month-view .month[disabled] {
    color: var(--colorNeutralForegroundDisabled);
    cursor: default;
  }

  /* Animations */
  .fluent-month-view .animation-running-down {
    animation: 0.2s fluent-text-animation-down ease-out;
  }

  .fluent-month-view .animation-running-up {
    animation: 0.2s fluent-text-animation-up ease-out;
  }

  .fluent-month-view .animation-none {
    animation: none;
  }

/*
    "Years" View
*/
.fluent-year-view {
  --year-cell-size: 28px;
  --year-cell-height: 48px;
  --year-gap: 2px;
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  line-height: var(--lineHeightBase300);
  color: var(--colorNeutralForeground1);
  width: var(--calendar-width);
  min-width: calc((var(--year-cell-size) + 2 * var(--year-gap)) * 7) !important;
  max-width: calc((var(--year-cell-size) + 2 * var(--year-gap)) * 7) !important;
  user-select: none;
}

  /* Header: Multiple years and navigation arrows */
  .fluent-year-view .title {
    display: flex;
    padding: var(--spacingVerticalS) var(--spacingHorizontalS);
    font-weight: 600;
    width: 100%;
    height: calc(var(--year-cell-size) + 4 * var(--year-gap));
    flex-direction: row;
    justify-content: space-between;
  }

    .fluent-year-view .title > .label {
      vertical-align: middle;
    }

      .fluent-year-view .title > .label[readonly] {
        cursor: default;
      }

  .fluent-year-view .change-period {
    float: right;
    display: flex;
    margin-right: -6px;
  }

    .fluent-year-view .change-period > .previous,
    .fluent-year-view .change-period > .next {
      width: var(--year-cell-size);
      height: var(--year-cell-size);
      margin-left: calc(2 * var(--year-gap));
      text-align: center;
      cursor: pointer;
    }

      .fluent-year-view .change-period > .previous:not([disabled]):hover,
      .fluent-year-view .change-period > .next:not([disabled]):hover {
        color: var(--calendar-hover-color);
        background: var(--calendar-hover-background);
      }

      .fluent-year-view .change-period > .previous svg,
      .fluent-year-view .change-period > .next svg {
        width: 16px;
        fill: var(--colorNeutralForeground3);
      }

  /* List of years */
  .fluent-year-view .years {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--year-gap);
    width: 100%;
  }

  .fluent-year-view .year {
    display: flex;
    height: var(--year-cell-height);
    border: var(--strokeWidthThin) solid transparent;
    border-radius: var(--borderRadiusSmall);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .fluent-year-view[readonly] .year {
    cursor: default;
  }

  .fluent-year-view:not([readonly]) .year:not([disabled]):hover {
    color: var(--calendar-hover-color);
    background: var(--calendar-hover-background);
  }

  .fluent-year-view .year[selected] {
    color: var(--calendar-selected-color);
    border: var(--calendar-selected-border);
    border-radius: var(--calendar-selected-border-radius);
    background: var(--calendar-selected-background);
  }

  .fluent-year-view .year[disabled] {
    color: var(--colorNeutralForegroundDisabled);
    cursor: default;
  }

  /* Animations */
  .fluent-year-view .animation-running-down {
    animation: 0.2s fluent-text-animation-down ease-out;
  }

  .fluent-year-view .animation-running-up {
    animation: 0.2s fluent-text-animation-up ease-out;
  }

  .fluent-year-view .animation-none {
    animation: none;
  }

@keyframes fluent-text-animation-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fluent-text-animation-down {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }

  20% {
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
