@page "/Tooltip"

@using FluentUI.Demo.Shared.Pages.Tooltip.Examples

<h1>Tooltip</h1>
<p>
    The <code>&lt;FluentTooltip&gt</code> component is used to provide extra information about another element when it is hovered.
</p>
<p>
    <code>&lt;FluentTooltip&gt;</code> wraps the <code>&lt;fluent-tooltip&gt;</code> element, a web component implementation of a tooltip composition leveraging the
    Fluent UI design system.
</p>
<ApiDocumentation Component="typeof(FluentTooltip)" />

<h2>Examples</h2>

<DemoSection Title="Default" Component="@typeof(TooltipDefault)">
    <Description>Hover one of the buttons to have a tooltip appear on hover at the position mentioned.</Description>
</DemoSection>

