
<fluent-field id="xxx" label-position="above">
    <div id="xxx" class="fluent-calendar fluent-day-view" slot="input" blazor:onfocusout="1" blazor:elementreference="xxx">
        <input type="datetime" value="0001-02-01" hidden="">
        <div>
            <div class="title" part="title" aria-label="February 1">
                <div part="label" class="label" role="button" tabindex="0" blazor:onclick="x">February 1</div>
                <div part="move" class="change-period">
                    <div class="previous" disabled=""></div>
                    <div class="next" title="March" blazor:onclick="x" role="button" tabindex="0">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.8 13.27a.75.75 0 00-1.1-1.04l-5.95 6.25V3.75a.75.75 0 10-1.5 0v14.73L5.3 12.23a.75.75 0 10-1.1 1.04l7.08 7.42a1 1 0 001.44 0l7.07-7.42z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="days" part="days" blazor:onmouseleave="4">
                <div class="week-days" part="week-days">
                    <div class="week-day" part="week-day" title="Sunday" abbr="Sunday">S</div>
                    <div class="week-day" part="week-day" title="Monday" abbr="Monday">M</div>
                    <div class="week-day" part="week-day" title="Tuesday" abbr="Tuesday">T</div>
                    <div class="week-day" part="week-day" title="Wednesday" abbr="Wednesday">W</div>
                    <div class="week-day" part="week-day" title="Thursday" abbr="Thursday">T</div>
                    <div class="week-day" part="week-day" title="Friday" abbr="Friday">F</div>
                    <div class="week-day" part="week-day" title="Saturday" abbr="Saturday">S</div>
                </div>
                <div class="week">
                    <div part="day" class="day" inactive="" aria-label="January 28" value="0001-01-28" blazor:onclick="x" blazor:onmouseover="6">28</div>
                    <div part="day" class="day" inactive="" aria-label="January 29" value="0001-01-29" blazor:onclick="x" blazor:onmouseover="8">29</div>
                    <div part="day" class="day" inactive="" aria-label="January 30" value="0001-01-30" blazor:onclick="x" blazor:onmouseover="10">30</div>
                    <div part="day" class="day" inactive="" aria-label="January 31" value="0001-01-31" blazor:onclick="x" blazor:onmouseover="12">31</div>
                    <div part="day" class="day" role="button" tabindex="0" selected="" aria-label="February 1" value="0001-02-01" blazor:onclick="x" blazor:onmouseover="14">1</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 2" value="0001-02-02" blazor:onclick="x" blazor:onmouseover="16">2</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 3" value="0001-02-03" blazor:onclick="x" blazor:onmouseover="18">3</div>
                </div>
                <div class="week">
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 4" value="0001-02-04" blazor:onclick="x" blazor:onmouseover="20">4</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 5" value="0001-02-05" blazor:onclick="x" blazor:onmouseover="22">5</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 6" value="0001-02-06" blazor:onclick="x" blazor:onmouseover="24">6</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 7" value="0001-02-07" blazor:onclick="x" blazor:onmouseover="26">7</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 8" value="0001-02-08" blazor:onclick="x" blazor:onmouseover="28">8</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 9" value="0001-02-09" blazor:onclick="x" blazor:onmouseover="30">9</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 10" value="0001-02-10" blazor:onclick="x" blazor:onmouseover="32">10</div>
                </div>
                <div class="week">
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 11" value="0001-02-11" blazor:onclick="x" blazor:onmouseover="34">11</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 12" value="0001-02-12" blazor:onclick="x" blazor:onmouseover="36">12</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 13" value="0001-02-13" blazor:onclick="x" blazor:onmouseover="38">13</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 14" value="0001-02-14" blazor:onclick="x" blazor:onmouseover="40">14</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 15" value="0001-02-15" blazor:onclick="x" blazor:onmouseover="42">15</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 16" value="0001-02-16" blazor:onclick="x" blazor:onmouseover="44">16</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 17" value="0001-02-17" blazor:onclick="x" blazor:onmouseover="46">17</div>
                </div>
                <div class="week">
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 18" value="0001-02-18" blazor:onclick="x" blazor:onmouseover="48">18</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 19" value="0001-02-19" blazor:onclick="x" blazor:onmouseover="50">19</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 20" value="0001-02-20" blazor:onclick="x" blazor:onmouseover="52">20</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 21" value="0001-02-21" blazor:onclick="x" blazor:onmouseover="54">21</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 22" value="0001-02-22" blazor:onclick="x" blazor:onmouseover="56">22</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 23" value="0001-02-23" blazor:onclick="x" blazor:onmouseover="58">23</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 24" value="0001-02-24" blazor:onclick="x" blazor:onmouseover="60">24</div>
                </div>
                <div class="week">
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 25" value="0001-02-25" blazor:onclick="x" blazor:onmouseover="62">25</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 26" value="0001-02-26" blazor:onclick="x" blazor:onmouseover="64">26</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 27" value="0001-02-27" blazor:onclick="x" blazor:onmouseover="66">27</div>
                    <div part="day" class="day" role="button" tabindex="0" aria-label="February 28" value="0001-02-28" blazor:onclick="x" blazor:onmouseover="68">28</div>
                    <div part="day" class="day" inactive="" aria-label="March 1" value="0001-03-01" blazor:onclick="x" blazor:onmouseover="70">1</div>
                    <div part="day" class="day" inactive="" aria-label="March 2" value="0001-03-02" blazor:onclick="x" blazor:onmouseover="72">2</div>
                    <div part="day" class="day" inactive="" aria-label="March 3" value="0001-03-03" blazor:onclick="x" blazor:onmouseover="74">3</div>
                </div>
                <div class="week">
                    <div part="day" class="day" inactive="" aria-label="March 4" value="0001-03-04" blazor:onclick="x" blazor:onmouseover="76">4</div>
                    <div part="day" class="day" inactive="" aria-label="March 5" value="0001-03-05" blazor:onclick="x" blazor:onmouseover="78">5</div>
                    <div part="day" class="day" inactive="" aria-label="March 6" value="0001-03-06" blazor:onclick="x" blazor:onmouseover="80">6</div>
                    <div part="day" class="day" inactive="" aria-label="March 7" value="0001-03-07" blazor:onclick="x" blazor:onmouseover="82">7</div>
                    <div part="day" class="day" inactive="" aria-label="March 8" value="0001-03-08" blazor:onclick="x" blazor:onmouseover="84">8</div>
                    <div part="day" class="day" inactive="" aria-label="March 9" value="0001-03-09" blazor:onclick="x" blazor:onmouseover="86">9</div>
                    <div part="day" class="day" inactive="" aria-label="March 10" value="0001-03-10" blazor:onclick="x" blazor:onmouseover="88">10</div>
                </div>
            </div>
        </div>
    </div>
</fluent-field>
