
<fluent-field id="xxx" label-position="above">
  <div id="xxx" class="fluent-calendar fluent-day-view" slot="input" blazor:onfocusout="1" blazor:elementreference="xxx">
    <input type="datetime" value="0001-01-01" hidden="">
    <div>
      <div class="title" part="title" aria-label="January 1">
        <div part="label" class="label" role="button" tabindex="0" blazor:onclick="x">January 1</div>
        <div part="move" class="change-period">
          <div class="previous" disabled=""></div>
          <div class="next" title="February" blazor:onclick="x" role="button" tabindex="0">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.8 13.27a.75.75 0 00-1.1-1.04l-5.95 6.25V3.75a.75.75 0 10-1.5 0v14.73L5.3 12.23a.75.75 0 10-1.1 1.04l7.08 7.42a1 1 0 001.44 0l7.07-7.42z"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="days" part="days" blazor:onmouseleave="4">
        <div class="week-days" part="week-days">
          <div class="week-day" part="week-day" title="Sunday" abbr="Sunday">S</div>
          <div class="week-day" part="week-day" title="Monday" abbr="Monday">M</div>
          <div class="week-day" part="week-day" title="Tuesday" abbr="Tuesday">T</div>
          <div class="week-day" part="week-day" title="Wednesday" abbr="Wednesday">W</div>
          <div class="week-day" part="week-day" title="Thursday" abbr="Thursday">T</div>
          <div class="week-day" part="week-day" title="Friday" abbr="Friday">F</div>
          <div class="week-day" part="week-day" title="Saturday" abbr="Saturday">S</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" selected="" aria-label="January 1" value="0001-01-01" blazor:onclick="x" blazor:onmouseover="6">1</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 2" value="0001-01-02" blazor:onclick="x" blazor:onmouseover="8">2</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 3" value="0001-01-03" blazor:onclick="x" blazor:onmouseover="10">3</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 4" value="0001-01-04" blazor:onclick="x" blazor:onmouseover="12">4</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 5" value="0001-01-05" blazor:onclick="x" blazor:onmouseover="14">5</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 6" value="0001-01-06" blazor:onclick="x" blazor:onmouseover="16">6</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 7" value="0001-01-07" blazor:onclick="x" blazor:onmouseover="18">7</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 7" value="0001-01-07" blazor:onclick="x" blazor:onmouseover="20">7</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 8" value="0001-01-08" blazor:onclick="x" blazor:onmouseover="22">8</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 9" value="0001-01-09" blazor:onclick="x" blazor:onmouseover="24">9</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 10" value="0001-01-10" blazor:onclick="x" blazor:onmouseover="26">10</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 11" value="0001-01-11" blazor:onclick="x" blazor:onmouseover="28">11</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 12" value="0001-01-12" blazor:onclick="x" blazor:onmouseover="30">12</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 13" value="0001-01-13" blazor:onclick="x" blazor:onmouseover="32">13</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 14" value="0001-01-14" blazor:onclick="x" blazor:onmouseover="34">14</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 15" value="0001-01-15" blazor:onclick="x" blazor:onmouseover="36">15</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 16" value="0001-01-16" blazor:onclick="x" blazor:onmouseover="38">16</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 17" value="0001-01-17" blazor:onclick="x" blazor:onmouseover="40">17</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 18" value="0001-01-18" blazor:onclick="x" blazor:onmouseover="42">18</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 19" value="0001-01-19" blazor:onclick="x" blazor:onmouseover="44">19</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 20" value="0001-01-20" blazor:onclick="x" blazor:onmouseover="46">20</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 21" value="0001-01-21" blazor:onclick="x" blazor:onmouseover="48">21</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 22" value="0001-01-22" blazor:onclick="x" blazor:onmouseover="50">22</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 23" value="0001-01-23" blazor:onclick="x" blazor:onmouseover="52">23</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 24" value="0001-01-24" blazor:onclick="x" blazor:onmouseover="54">24</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 25" value="0001-01-25" blazor:onclick="x" blazor:onmouseover="56">25</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 26" value="0001-01-26" blazor:onclick="x" blazor:onmouseover="58">26</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 27" value="0001-01-27" blazor:onclick="x" blazor:onmouseover="60">27</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 28" value="0001-01-28" blazor:onclick="x" blazor:onmouseover="62">28</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 29" value="0001-01-29" blazor:onclick="x" blazor:onmouseover="64">29</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 30" value="0001-01-30" blazor:onclick="x" blazor:onmouseover="66">30</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="January 31" value="0001-01-31" blazor:onclick="x" blazor:onmouseover="68">31</div>
          <div part="day" class="day" inactive="" aria-label="February 1" value="0001-02-01" blazor:onclick="x" blazor:onmouseover="70">1</div>
          <div part="day" class="day" inactive="" aria-label="February 2" value="0001-02-02" blazor:onclick="x" blazor:onmouseover="72">2</div>
          <div part="day" class="day" inactive="" aria-label="February 3" value="0001-02-03" blazor:onclick="x" blazor:onmouseover="74">3</div>
        </div>
        <div class="week">
          <div part="day" class="day" inactive="" aria-label="February 4" value="0001-02-04" blazor:onclick="x" blazor:onmouseover="76">4</div>
          <div part="day" class="day" inactive="" aria-label="February 5" value="0001-02-05" blazor:onclick="x" blazor:onmouseover="78">5</div>
          <div part="day" class="day" inactive="" aria-label="February 6" value="0001-02-06" blazor:onclick="x" blazor:onmouseover="80">6</div>
          <div part="day" class="day" inactive="" aria-label="February 7" value="0001-02-07" blazor:onclick="x" blazor:onmouseover="82">7</div>
          <div part="day" class="day" inactive="" aria-label="February 8" value="0001-02-08" blazor:onclick="x" blazor:onmouseover="84">8</div>
          <div part="day" class="day" inactive="" aria-label="February 9" value="0001-02-09" blazor:onclick="x" blazor:onmouseover="86">9</div>
          <div part="day" class="day" inactive="" aria-label="February 10" value="0001-02-10" blazor:onclick="x" blazor:onmouseover="88">10</div>
        </div>
      </div>
    </div>
  </div>
</fluent-field>