
<fluent-field id="xxx" label-position="above">
  <div id="xxx" class="fluent-calendar fluent-day-view" slot="input" blazor:onfocusout="1" blazor:elementreference="xxx">
    <input type="datetime" value="9999-12-31" hidden="">
    <div>
      <div class="title" part="title" aria-label="December 9999">
        <div part="label" class="label" role="button" tabindex="0" blazor:onclick="x">December 9999</div>
        <div part="move" class="change-period">
          <div class="previous" title="November" blazor:onclick="x" role="button" tabindex="0">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.2 10.73a.75.75 0 001.1 1.04l5.95-6.25v14.73a.75.75 0 001.5 0V5.52l5.95 6.25a.75.75 0 001.1-1.04l-7.08-7.42a1 1 0 00-1.44 0L4.2 10.73z"></path>
            </svg>
          </div>
          <div class="next" disabled=""></div>
        </div>
      </div>
      <div class="days" part="days" blazor:onmouseleave="4">
        <div class="week-days" part="week-days">
          <div class="week-day" part="week-day" title="Sunday" abbr="Sunday">S</div>
          <div class="week-day" part="week-day" title="Monday" abbr="Monday">M</div>
          <div class="week-day" part="week-day" title="Tuesday" abbr="Tuesday">T</div>
          <div class="week-day" part="week-day" title="Wednesday" abbr="Wednesday">W</div>
          <div class="week-day" part="week-day" title="Thursday" abbr="Thursday">T</div>
          <div class="week-day" part="week-day" title="Friday" abbr="Friday">F</div>
          <div class="week-day" part="week-day" title="Saturday" abbr="Saturday">S</div>
        </div>
        <div class="week">
          <div part="day" class="day" inactive="" aria-label="November 28" value="9999-11-28" blazor:onclick="x" blazor:onmouseover="6">28</div>
          <div part="day" class="day" inactive="" aria-label="November 29" value="9999-11-29" blazor:onclick="x" blazor:onmouseover="8">29</div>
          <div part="day" class="day" inactive="" aria-label="November 30" value="9999-11-30" blazor:onclick="x" blazor:onmouseover="10">30</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 1" value="9999-12-01" blazor:onclick="x" blazor:onmouseover="12">1</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 2" value="9999-12-02" blazor:onclick="x" blazor:onmouseover="14">2</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 3" value="9999-12-03" blazor:onclick="x" blazor:onmouseover="16">3</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 4" value="9999-12-04" blazor:onclick="x" blazor:onmouseover="18">4</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 5" value="9999-12-05" blazor:onclick="x" blazor:onmouseover="20">5</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 6" value="9999-12-06" blazor:onclick="x" blazor:onmouseover="22">6</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 7" value="9999-12-07" blazor:onclick="x" blazor:onmouseover="24">7</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 8" value="9999-12-08" blazor:onclick="x" blazor:onmouseover="26">8</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 9" value="9999-12-09" blazor:onclick="x" blazor:onmouseover="28">9</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 10" value="9999-12-10" blazor:onclick="x" blazor:onmouseover="30">10</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 11" value="9999-12-11" blazor:onclick="x" blazor:onmouseover="32">11</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 12" value="9999-12-12" blazor:onclick="x" blazor:onmouseover="34">12</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 13" value="9999-12-13" blazor:onclick="x" blazor:onmouseover="36">13</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 14" value="9999-12-14" blazor:onclick="x" blazor:onmouseover="38">14</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 15" value="9999-12-15" blazor:onclick="x" blazor:onmouseover="40">15</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 16" value="9999-12-16" blazor:onclick="x" blazor:onmouseover="42">16</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 17" value="9999-12-17" blazor:onclick="x" blazor:onmouseover="44">17</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 18" value="9999-12-18" blazor:onclick="x" blazor:onmouseover="46">18</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 19" value="9999-12-19" blazor:onclick="x" blazor:onmouseover="48">19</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 20" value="9999-12-20" blazor:onclick="x" blazor:onmouseover="50">20</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 21" value="9999-12-21" blazor:onclick="x" blazor:onmouseover="52">21</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 22" value="9999-12-22" blazor:onclick="x" blazor:onmouseover="54">22</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 23" value="9999-12-23" blazor:onclick="x" blazor:onmouseover="56">23</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 24" value="9999-12-24" blazor:onclick="x" blazor:onmouseover="58">24</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="December 25" value="9999-12-25" blazor:onclick="x" blazor:onmouseover="60">25</div>
        </div>
        <div class="week"></div>
        <div class="week"></div>
      </div>
    </div>
  </div>
</fluent-field>