
<fluent-field id="xxx" label-position="above">
			<div id="xxx" class="fluent-calendar fluent-year-view" slot="input" blazor:onfocusout="1" blazor:elementreference="xxx">
				<input type="datetime" value="9999-12-31" hidden="">
				<div>
					<div class="title" part="title" aria-label="9999">
						<div part="label" class="label" role="button" tabindex="0" blazor:onclick="x">9999</div>
						<div part="move" class="change-period">
							<div class="previous" title="9982 - 9993" blazor:onclick="x" role="button" tabindex="0">
								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.2 10.73a.75.75 0 001.1 1.04l5.95-6.25v14.73a.75.75 0 001.5 0V5.52l5.95 6.25a.75.75 0 001.1-1.04l-7.08-7.42a1 1 0 00-1.44 0L4.2 10.73z"></path>
								</svg>
							</div>
							<div class="next" disabled=""></div>
						</div>
					</div>
					<div class="years" part="years">
						<div class="year" aria-label="9994" title="9994" value="9994" tabindex="0" blazor:onclick="x">9994</div>
						<div class="year" aria-label="9995" title="9995" value="9995" tabindex="0" blazor:onclick="x">9995</div>
						<div class="year" aria-label="9996" title="9996" value="9996" tabindex="0" blazor:onclick="x">9996</div>
						<div class="year" aria-label="9997" title="9997" value="9997" tabindex="0" blazor:onclick="x">9997</div>
						<div class="year" aria-label="9998" title="9998" value="9998" tabindex="0" blazor:onclick="x">9998</div>
						<div class="year" selected="" aria-label="9999" title="9999" value="9999" tabindex="0" blazor:onclick="x">9999</div>
					</div>
				</div>
			</div>
		</fluent-field>