
<fluent-field id="xxx" label-position="above">
  <div id="xxx" class="fluent-calendar fluent-day-view" slot="input" blazor:onfocusout="1" blazor:elementreference="xxx">
    <input type="datetime" value="2022-02-15" hidden="">
    <div>
      <div class="title" part="title" aria-label="بهمن 1400">
        <div part="label" class="label" role="button" tabindex="0" blazor:onclick="x">بهمن 1400</div>
        <div part="move" class="change-period">
          <div class="previous" title="دی" blazor:onclick="x" role="button" tabindex="0">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.2 10.73a.75.75 0 001.1 1.04l5.95-6.25v14.73a.75.75 0 001.5 0V5.52l5.95 6.25a.75.75 0 001.1-1.04l-7.08-7.42a1 1 0 00-1.44 0L4.2 10.73z"></path>
            </svg>
          </div>
          <div class="next" title="اسفند" blazor:onclick="x" role="button" tabindex="0">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.8 13.27a.75.75 0 00-1.1-1.04l-5.95 6.25V3.75a.75.75 0 10-1.5 0v14.73L5.3 12.23a.75.75 0 10-1.1 1.04l7.08 7.42a1 1 0 001.44 0l7.07-7.42z"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="days" part="days" blazor:onmouseleave="5">
        <div class="week-days" part="week-days">
          <div class="week-day" part="week-day" title="شنبه" abbr="شنبه">ج</div>
          <div class="week-day" part="week-day" title="یکشنبه" abbr="یکشنبه">ش</div>
          <div class="week-day" part="week-day" title="دوشنبه" abbr="دوشنبه">ی</div>
          <div class="week-day" part="week-day" title="سه‌شنبه" abbr="سه‌شنبه">د</div>
          <div class="week-day" part="week-day" title="چهارشنبه" abbr="چهارشنبه">س</div>
          <div class="week-day" part="week-day" title="پنجشنبه" abbr="پنجشنبه">چ</div>
          <div class="week-day" part="week-day" title="جمعه" abbr="جمعه">پ</div>
        </div>
        <div class="week">
          <div part="day" class="day" inactive="" aria-label="دی 25" value="2022-01-15" blazor:onclick="x" blazor:onmouseover="7">25</div>
          <div part="day" class="day" inactive="" aria-label="دی 26" value="2022-01-16" blazor:onclick="x" blazor:onmouseover="9">26</div>
          <div part="day" class="day" inactive="" aria-label="دی 27" value="2022-01-17" blazor:onclick="x" blazor:onmouseover="11">27</div>
          <div part="day" class="day" inactive="" aria-label="دی 28" value="2022-01-18" blazor:onclick="x" blazor:onmouseover="13">28</div>
          <div part="day" class="day" inactive="" aria-label="دی 29" value="2022-01-19" blazor:onclick="x" blazor:onmouseover="15">29</div>
          <div part="day" class="day" inactive="" aria-label="دی 30" value="2022-01-20" blazor:onclick="x" blazor:onmouseover="17">30</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 1" value="2022-01-21" blazor:onclick="x" blazor:onmouseover="19">1</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 2" value="2022-01-22" blazor:onclick="x" blazor:onmouseover="21">2</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 3" value="2022-01-23" blazor:onclick="x" blazor:onmouseover="23">3</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 4" value="2022-01-24" blazor:onclick="x" blazor:onmouseover="25">4</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 5" value="2022-01-25" blazor:onclick="x" blazor:onmouseover="27">5</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 6" value="2022-01-26" blazor:onclick="x" blazor:onmouseover="29">6</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 7" value="2022-01-27" blazor:onclick="x" blazor:onmouseover="31">7</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 8" value="2022-01-28" blazor:onclick="x" blazor:onmouseover="33">8</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 9" value="2022-01-29" blazor:onclick="x" blazor:onmouseover="35">9</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 10" value="2022-01-30" blazor:onclick="x" blazor:onmouseover="37">10</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 11" value="2022-01-31" blazor:onclick="x" blazor:onmouseover="39">11</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 12" value="2022-02-01" blazor:onclick="x" blazor:onmouseover="41">12</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 13" value="2022-02-02" blazor:onclick="x" blazor:onmouseover="43">13</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 14" value="2022-02-03" blazor:onclick="x" blazor:onmouseover="45">14</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 15" value="2022-02-04" blazor:onclick="x" blazor:onmouseover="47">15</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 16" value="2022-02-05" blazor:onclick="x" blazor:onmouseover="49">16</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 17" value="2022-02-06" blazor:onclick="x" blazor:onmouseover="51">17</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 18" value="2022-02-07" blazor:onclick="x" blazor:onmouseover="53">18</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 19" value="2022-02-08" blazor:onclick="x" blazor:onmouseover="55">19</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 20" value="2022-02-09" blazor:onclick="x" blazor:onmouseover="57">20</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 21" value="2022-02-10" blazor:onclick="x" blazor:onmouseover="59">21</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 22" value="2022-02-11" blazor:onclick="x" blazor:onmouseover="61">22</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 23" value="2022-02-12" blazor:onclick="x" blazor:onmouseover="63">23</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 24" value="2022-02-13" blazor:onclick="x" blazor:onmouseover="65">24</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 25" value="2022-02-14" blazor:onclick="x" blazor:onmouseover="67">25</div>
          <div part="day" class="day" role="button" tabindex="0" selected="" aria-label="بهمن 26" value="2022-02-15" blazor:onclick="x" blazor:onmouseover="69">26</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 27" value="2022-02-16" blazor:onclick="x" blazor:onmouseover="71">27</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 28" value="2022-02-17" blazor:onclick="x" blazor:onmouseover="73">28</div>
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 29" value="2022-02-18" blazor:onclick="x" blazor:onmouseover="75">29</div>
        </div>
        <div class="week">
          <div part="day" class="day" role="button" tabindex="0" aria-label="بهمن 30" value="2022-02-19" blazor:onclick="x" blazor:onmouseover="77">30</div>
          <div part="day" class="day" inactive="" aria-label="اسفند 1" value="2022-02-20" blazor:onclick="x" blazor:onmouseover="79">1</div>
          <div part="day" class="day" inactive="" aria-label="اسفند 2" value="2022-02-21" blazor:onclick="x" blazor:onmouseover="81">2</div>
          <div part="day" class="day" inactive="" aria-label="اسفند 3" value="2022-02-22" blazor:onclick="x" blazor:onmouseover="83">3</div>
          <div part="day" class="day" inactive="" aria-label="اسفند 4" value="2022-02-23" blazor:onclick="x" blazor:onmouseover="85">4</div>
          <div part="day" class="day" inactive="" aria-label="اسفند 5" value="2022-02-24" blazor:onclick="x" blazor:onmouseover="87">5</div>
          <div part="day" class="day" inactive="" aria-label="اسفند 6" value="2022-02-25" blazor:onclick="x" blazor:onmouseover="89">6</div>
        </div>
      </div>
    </div>
  </div>
</fluent-field>