
<fluent-field id="xxx" label-position="above" class="fluent-timepicker">
    <fluent-dropdown id="xxx" placeholder="HH:mm" slot="input" type="combobox" blazor:ondropdownchange="1" blazor:onfocusout="2" blazor:onkeydown="x">
        <fluent-listbox>
            <fluent-option text="08:00" value="08:00:00">08:00</fluent-option>
            <fluent-option text="08:30" value="08:30:00">08:30</fluent-option>
            <fluent-option text="09:00" value="09:00:00">09:00</fluent-option>
            <fluent-option text="09:30" value="09:30:00">09:30</fluent-option>
            <fluent-option text="10:00" value="10:00:00">10:00</fluent-option>
            <fluent-option text="10:30" value="10:30:00" selected="">10:30</fluent-option>
            <fluent-option text="11:00" value="11:00:00">11:00</fluent-option>
            <fluent-option text="11:30" value="11:30:00">11:30</fluent-option>
            <fluent-option text="12:00" value="12:00:00">12:00</fluent-option>
        </fluent-listbox>
        <svg viewBox="0 0 20 20" width="20px" fill="var(--colorNeutralForeground3)" style="background-color: var(--colorNeutralBackground1); width: 20px;" aria-hidden="true" slot="indicator" role="button">
            <path d="M10 2a8 8 0 1 1 0 16 8 8 0 0 1 0-16Zm0 1a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-.5 2a.5.5 0 0 1 .5.41V10h2.5a.5.5 0 0 1 .09 1H9.5a.5.5 0 0 1-.5-.41V5.5c0-.28.22-.5.5-.5Z"></path>
        </svg>
    </fluent-dropdown>
</fluent-field>
