<h5>Horizontal</h5>
<FluentTabs>
    <div slot="start">
        <button>1</button>
        <button>2</button>
        <button>3</button>
    </div>
    <div slot="end">
        <button>1</button>
        <button>2</button>
        <button>3</button>
    </div>
    <FluentTab>Tab one</FluentTab>
    <FluentTab>Tab two</FluentTab>
    <FluentTab>Tab three</FluentTab>
    <FluentTabPanel>
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab three content. This is for testing.
    </FluentTabPanel>
</FluentTabs>

<h5>Vertical</h5>
<FluentTabs Orientation="Orientation.Vertical">
    <div slot="start">
        <button>1</button>
        <button>2</button>
        <button>3</button>
    </div>
    <div slot="end">
        <button>1</button>
        <button>2</button>
        <button>3</button>
    </div>
    <FluentTab>Tab one</FluentTab>
    <FluentTab>Tab two</FluentTab>
    <FluentTab>Tab three</FluentTab>
    <FluentTabPanel>
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab three content. This is for testing.
    </FluentTabPanel>
</FluentTabs>
