<h5>No active indicator</h5>
<FluentTabs HideActiveIndicator=true activeId="TabTwo">
    <FluentTab id="TabOne">Tab one</FluentTab>
    <FluentTab id="TabTwo">Tab two</FluentTab>
    <FluentTab id="TabThree">Tab three</FluentTab>
    <FluentTabPanel id="TabPanelOne">
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel id="TabPanelTwo">
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel id="TabPanelThree">
        Tab three content. This is for testing.
    </FluentTabPanel>
</FluentTabs>

<h5>No active indicator - Vertical</h5>
<FluentTabs HideActiveIndicator=true ActiveId="tab3" Orientation="Orientation.Vertical">
    <FluentTab id="tab1">Tab one</FluentTab>
    <FluentTab id="tab2">Tab two</FluentTab>
    <FluentTab id="tab3">Tab three</FluentTab>
    <FluentTab id="tab4" Disabled=true>Tab four</FluentTab>
    <FluentTabPanel>
        Tab one content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab two content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab three content. This is for testing.
    </FluentTabPanel>
    <FluentTabPanel>
        Tab four content. This is for testing.
    </FluentTabPanel>
</FluentTabs>