@namespace Microsoft.FluentUI.AspNetCore.Components
@implements IDialogContentComponent<MessageBoxContent>

<div class="fluent-messagebox">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
        @if (Content.Icon != null)
        {
            <FluentIcon Value="@Content.Icon" Color="@Content.IconColor" Width="24px" Class="icon" />
        }
        <div>
            @Content.Message
            @Content.MarkupMessage
        </div>
    </FluentStack>
</div>