.fluent-messagebox {
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    background-color: var( --neutral-layer-floating);
    color: var( --neutral-foreground-rest);
}

    .fluent-messagebox .body {
        width: calc(100% - 24px);
        text-align: justify;
        word-break: break-word;
        margin-right: 10px;
    }
