.fluent-messagebox {
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    color: var( --neutral-foreground-rest);
    word-break: break-word;
}

.fluent-messagebox ::deep .icon {
    min-width: 24px;
    margin: 4px;
}