@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@using System.Globalization

<div @attributes="AdditionalAttributes" class="@ClassValue" style="@StyleValue">
    @ChildContent
</div>