@page "/Overflow"
@using FluentUI.Demo.Shared.Pages.Overflow.Examples

<h1>Overflow panel</h1>

<p>
    Resize your browser to hide Tags when an overflow occurs.
</p>

<ApiDocumentation Component="typeof(FluentOverflow)" />

<ApiDocumentation Component="typeof(FluentOverflowItem)" />

<h2>Examples</h2>
<DemoSection Title="Horizontal" Component="@typeof(OverflowDefaultExample)" />

<DemoSection Title="Horizontal Customized" Component="@typeof(OverflowHorizontalExample)" />