fluent-textarea {
  width: 100%;
}

fluent-field:not([style~="width:"]):has(fluent-textarea) {
  min-width: 180px;
}

fluent-textarea::part(root) {
  width: 100%;
}

fluent-textarea[style~="height:"]::part(root) {
  height: 100%;
}
