@page "/Highlighter"

<h1>Highlighter</h1>

<PageTitle>@App.PageTitle("Highlighter")</PageTitle>

<p>
    Highlight text in a string based on a search term and using &lt;mark&gt; tags.
</p>

<h2 id="example">Example</h2>

<DemoSection Title="General usage" Component="@typeof(HighlighterDefault)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentHighlighter)" />
