<h5>Standard</h5>
<p>Without a label: <FluentCheckbox></FluentCheckbox></p>
<p>With a label: <FluentCheckbox>label</FluentCheckbox></p>

<h5>Checked</h5>
<FluentCheckbox Checked="true"></FluentCheckbox>

<!-- Required -->
<h5>Required</h5>
<FluentCheckbox Required="true"></FluentCheckbox>

<!-- Disabled -->
<h5>Disabled</h5>
<FluentCheckbox Disabled="true"></FluentCheckbox>
<FluentCheckbox Disabled="true">label</FluentCheckbox>
<FluentCheckbox Disabled="true" Checked="true">Checked="true"</FluentCheckbox>

<h5>Inline</h5>
<FluentCheckbox Checked="true">Apples</FluentCheckbox>
<FluentCheckbox Checked="true">Bananas</FluentCheckbox>
<FluentCheckbox>Honeydew</FluentCheckbox>
<FluentCheckbox Checked="true">Oranges</FluentCheckbox>