/*
    --type-ramp-base-font-size: 14px;
    --type-ramp-base-line-height: 20px;
*/
.fluent-typography {
    font-family: var(--body-font);
    color: var(--neutral-foreground-rest);
    font-style: normal;
}

    .fluent-typography:not([default-margin]) {
        margin-block: 0px;
    }

    .fluent-typography[typo='body'] {
        font-size: var(--type-ramp-base-font-size);
        line-height: var(--type-ramp-base-line-height);
        font-weight: 400;
    }

    .fluent-typography[typo='subject'] {
        font-size: var(--type-ramp-plus-1-font-size);
        line-height: var(--type-ramp-plus-1-line-height);
        font-weight: 400;
    }

    .fluent-typography[typo='header'] {
        font-size: var(--type-ramp-plus-2-font-size);
        line-height: var(--type-ramp-plus-2-line-height);
        font-weight: 400;
    }

    .fluent-typography[typo='pane-header'] {
        font-size: var(--type-ramp-plus-3-font-size);
        line-height: var(--type-ramp-plus-3-line-height);
        font-weight: 400;
    }

    .fluent-typography[typo='email-header'] {
        font-size: var(--type-ramp-plus-4-font-size);
        line-height: var(--type-ramp-plus-4-line-height);
        font-weight: 400;
    }

    .fluent-typography[typo='page-title'] {
        font-size: var(--type-ramp-plus-5-font-size);
        line-height: var(--type-ramp-plus-5-line-height);
        font-weight: 400;
    }

    .fluent-typography[typo='hero-title'] {
        font-size: var(--type-ramp-plus-6-font-size);
        line-height: var(--type-ramp-plus-6-line-height);
        font-weight: 400;
    }

    .fluent-typography[bold] {
        font-weight: 600;
    }

    .fluent-typography[bolder] {
        font-weight: 800;
    }

    .fluent-typography[disabled] {
        opacity: var(--disabled-opacity);
    }

.fluent-typo-left {
    text-align: left;
}

.fluent-typo-center {
    text-align: center;
}

.fluent-typo-right {
    text-align: right;
}
