.fluent-input-label {
    display: flex;
    color: var(--neutral-foreground-rest);
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: initial;
    font-variation-settings: var(--type-ramp-base-font-variations);
    margin-bottom: calc(var(--design-unit) * 1px);
    align-items: center;
}

    .fluent-input-label[orientation='horizontal'] {
        margin-bottom: 0;
    }
