@namespace Microsoft.Fast.Components.FluentUI

@if (!string.IsNullOrWhiteSpace(Label) || ChildContent is not null)
{
    <label for="@ForId" class="fluent-input-label" @attributes="@AdditionalAttributes">
        @Label
        @ChildContent
    </label>
}