<div>
  <fluent-overflow id="xxx" class="fluent-overflow" orientation="horizontal" selector="" visible-on-load="true" max-overflow-items="0" pre-overflow-count="0">
    <div>Item 1</div>
    <div>Item 2</div>
    <div id="xxx" class="fluent-overflow-more" style="anchor-name: --overflow-more;" slot="trigger">
      <fluent-badge fuib="" style="min-width: 32px; max-width:32px;" appearance="filled">+0</fluent-badge>
    </div>
  </fluent-overflow>
  <fluent-tooltip id="xxx" style="position-anchor: --overflow-more; flex-direction: column;" anchor="xxx" positioning="below-start"></fluent-tooltip>
</div>