<FluentStack Orientation="Orientation.Vertical">
    <FluentText>Opened: @Opened</FluentText>

    <FluentButton Id="MyButton">Open Popover</FluentButton>

    <FluentPopover AnchorId="MyButton"
                   AnchorTrigger="PopoverTrigger.All"
                   @bind-Opened="@Opened">
        <p>Example content for the</p>
        <p>Popover component</p>
    </FluentPopover>
</FluentStack>

@code
{
    bool Opened = false;
}
