<FluentStack>
    <div>
        <FluentButton Id="LeftButton" OnClick="@(e => LeftOpened = true)">Click</FluentButton>
        <FluentPopover AnchorId="LeftButton" @bind-Opened="@LeftOpened">
            <p>Example content for the</p>
            <p>Popover component</p>
        </FluentPopover>
    </div>

    <FluentSpacer />

    <div>
        <FluentButton Id="RightButton" OnClick="@(e => RightOpened = true)">Click</FluentButton>
        <FluentPopover AnchorId="RightButton" @bind-Opened="@RightOpened">
            <p>Example content for the</p>
            <p>Popover component</p>
        </FluentPopover>
    </div>
</FluentStack>

@code
{
    bool LeftOpened = false;
    bool RightOpened = false;
}
