@namespace Microsoft.FluentUI.AspNetCore.Components

@inherits FluentComponentBase

<header @ref=Element id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
    <div class="header-gutters">
        @ChildContent
    </div>
</header>
