.header {
    display: flex;
    z-index: 10;
    flex-shrink: 0;
    background-color: var(--colorBrandBackground);
    font-family: var(--fontFamilyBase);
    font-weight: bold;
    font-size: var(--fontSizeBase400);
    line-height: var(--lineHeightBase400);
    color: var(--colorNeutralForegroundOnBrand);
}

    .header .header-gutters {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        margin: 0.5rem 1.5rem;
    }

.header .header-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
