.header {
    display: flex;
    z-index: 10;
    flex-shrink: 0;
    background-color: var(--accent-fill-rest);
    font-family: var(--body-font);
    font-weight: bold;
    font-size: var(--type-ramp-plus-1-font-size);
    line-height: var(--type-ramp-plus-1-line-height);
    color: var(--fill-color);
}

    .header .header-gutters {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        margin: 0.5rem 1.5rem;
    }

.header .header-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}