<FluentDialog @ref="MyFluentDialog" id="foo" aria-label="Simple dialog" Modal="false" @ondismiss=OnDismiss>
    <h2>Dialog referenced to object</h2>
    <button @onclick="OnCloseModalRefButtonClick">Close dialog with component object function</button>
</FluentDialog>



<p>MyFluentDialog.Hidden value: @MyFluentDialog?.Hidden</p>
<p>@status</p>
<p>ModalHidden value: @ModalHidden</p>

<button @onclick="OnOpenModalRefButtonClick">Open dialog with ref</button>


@code {
    private FluentDialog? MyFluentDialog;
    public bool ModalHidden { get; set; } = true;
    private string? status;


    private void OnOpenModalRefButtonClick()
    {
        status = "";
        MyFluentDialog!.Show();
    }

    private void OnCloseModalRefButtonClick() => MyFluentDialog!.Hide();

    private void OnDismiss()
    {
        MyFluentDialog!.Hide();
        status = "MyFluentDialog was dismissed/canceled";
    }
}