@* --- SimpleDialog.razor --- *@

@using Microsoft.Fast.Components.FluentUI
@inherits IDialogContentComponent
@implements IDialogInstance

<h1>Hello @Name</h1>

@code
{
    [Parameter]
    public IDialogReference DialogReference { get; set; } = default!;

    [Parameter]
    public string Name { get; set; } = "";

    async Task IDialogInstance.OnCloseAsync(DialogResult result)
    {
        await Task.CompletedTask;   // To avoid a warning
        if (result.Cancelled)
        {
            result.Data = "Cancel";
        }
        else
        {
            result.Data = $"OK {Name}";
        }
    }
}