@page "/Grid"

@using FluentUI.Demo.Shared.Pages.Grid.Examples;
@using Microsoft.Fast.Components.FluentUI;

<h1>Grid</h1>
<p>
    The grid component helps keeping layout consistent across various screen resolutions and sizes. <code>FluentGrid</code> comes with a 12-point grid system and contains 5 types of breakpoints that are used for specific screen sizes.
</p>

<ApiDocumentation Component="typeof(FluentGrid)" />

<ApiDocumentation Component="typeof(FluentGridItem)" />

<h2>Examples</h2>

<DemoSection Title="Default" Component="@typeof(GridDefault)">
    
</DemoSection>
