@page "/AccordionPage"
@using FluentUI.Demo.Shared.Pages.Accordion.Examples

<h1>Accordion</h1>
<h2>API Documentation</h2>
<ApiDocumentation Component="typeof(FluentAccordion)" />
<ApiDocumentation Component="typeof(FluentAccordionItem)" />

<h2>Examples</h2>
<DemoSection Title="Accordion default example" CodeFilename="AccordionDefaultExample">
    <AccordionDefaultExample></AccordionDefaultExample>
</DemoSection>

<DemoSection Title="Accordion with single expand mode" CodeFilename="AccordionSingleExpandExample">
    <AccordionSingleExpandExample></AccordionSingleExpandExample>
</DemoSection>


