@page "/AccordionPage"
@using FluentUI.Demo.Shared.Pages.Accordion.Examples

<DemoSection Title="Accordion examples" CodeFilename="AccordionDefaultExamples">
    <AccordionDefaultExamples></AccordionDefaultExamples>
</DemoSection>

<h2>APIs</h2>
<ApiDocumentation Component="typeof(FluentAccordion)" />
<ApiDocumentation Component="typeof(FluentAccordionItem)" />