@page "/AccordionPage"
@using FluentUI.Demo.Shared.Pages.Accordion.Examples

<DemoSection Title="Accordion default example" CodeFilename="AccordionDefaultExample">
    <AccordionDefaultExample></AccordionDefaultExample>
</DemoSection>

<DemoSection Title="Accordion with single expand mode" CodeFilename="AccordionSingleExpandExample">
    <AccordionSingleExpandExample></AccordionSingleExpandExample>
</DemoSection>


<h2>APIs</h2>
<ApiDocumentation Component="typeof(FluentAccordion)" />
<ApiDocumentation Component="typeof(FluentAccordionItem)" />