@page "/CodeEditor"

<h1>CodeEditor</h1>

<p>
    The editor from Visual Studio Code we all know and love.
</p>

<ApiDocumentation Component="typeof(FluentCodeEditor)" />

<h2>Example</h2>

<DemoSection Component="typeof(CodeEditorDefaultExample)" Title="Default example" CollocatedFiles="@(new[] { "cs" })"  />

