@page "/CodeEditor"

<h1>CodeEditor</h1>

<p>
    The editor from Visual Studio Code we all know and love.
</p>


<blockquote>
    <p>
        <strong>Important:</strong> When using this component, make sure to add the following line to your <code>index.html</code> / <code>_Layout.cshtml</code> <strong>before</strong> where the Blazor script is added:
        <br />
        <br />
        <code>&lt;script src="_content/Microsoft.Fast.Components.FluentUI/lib/monaco-editor/min/vs/loader.min.js">&lt;/script></code>
    </p>
</blockquote>


<p>
    The <code>CodeEditor</code> component is a wrapper around the <a href="https://microsoft.github.io/monaco-editor/">Monaco Editor</a>. To enable a dark/light mode switch as shown in the example below requires some more work than just adding the component to a page.
    An example of this can be found in this demo site's source code available on <a href="https://github.com/microsoft/fluentui-blazor/tree/dev/examples/Demo">GitHub</a>.
</p>

<ApiDocumentation Component="typeof(FluentCodeEditor)" />

<h2>Example</h2>

<DemoSection Component="typeof(CodeEditorDefaultExample)" Title="Default example" CollocatedFiles="@(new[] { "cs" })" />

