<h5>Disabled Select</h5>
<FluentSelect Disabled="true" @bind-Value="@selectValue" TOption="string">
    <FluentOption>This option is not selectable</FluentOption>
</FluentSelect>
<p></p>
<h5>Disabled Option</h5>
<FluentSelect @bind-Value="@selectValue" TOption="string">
    <FluentOption Disabled="true">This option is disabled</FluentOption>
    <FluentOption>This option is not disabled</FluentOption>
    <FluentOption>This option is not disabled</FluentOption>
</FluentSelect>
<p></p>
<h5>Selected Option</h5>
<FluentSelect @bind-Value="@selectValue" TOption="string">
    <FluentOption>Option One</FluentOption>
    <FluentOption Selected="true">Option Two</FluentOption>
    <FluentOption>Option Three</FluentOption>
    <FluentOption>Option Four</FluentOption>
</FluentSelect>

@code {
    string? selectValue;
}
