.my-3-o {
  margin-bottom: var(--spacingVerticalM);
  margin-top: var(--spacingVerticalM);
}

fluent-field[label-position='before'] > fluent-label[slot='label'] {
  margin-top: 8px;
  align-self: flex-start;
}

fluent-field label[disabled] {
  color: var(--colorNeutralForegroundDisabled);
}

/* To use with input element without specifi width/height */
fluent-field div[slot='input'] {
  min-width: -webkit-fill-available;
  min-width: -moz-available;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}

fluent-field.invalid fluent-text-input {
  border: 1px solid var(--colorPaletteRedBorder2);
  border-radius: var(--borderRadiusMedium);
}
