.my-3-o {
  margin-bottom: var(--spacingVerticalM);
  margin-top: var(--spacingVerticalM);
}

fluent-field[label-position='before'] > fluent-label[slot='label'] {
  margin-top: 8px;
  align-self: flex-start;
}

fluent-field label[disabled] {
  color: var(--colorNeutralForegroundDisabled);
}
