<p>
    You can use <code>Content</code> and/or <code>ChildContent</code> to specify the main text on the button.
</p>
<p>
    When you supply both, both will be rendered.
</p>

<FluentStack HorizontalGap="10">
    <div>
        <strong>ChildContent</strong>
        <br />
        <FluentCompoundButton>
            <ChildContent>Child content</ChildContent>
            <Description>Description content</Description>
        </FluentCompoundButton>
    </div>

    <div>
        <strong>Label</strong>
        <br />
        <FluentCompoundButton Label="Label">
            <Description>Description content</Description>
        </FluentCompoundButton>
    </div>

    <div>
        <strong>Both</strong>
        <br />
        <FluentCompoundButton Label="Both">
            <ChildContent>Both</ChildContent>
            <Description>Description content</Description>
        </FluentCompoundButton>
    </div>
</FluentStack>
