@page "/Debug/Test"
<h3>Test</h3>


<InputText @bind-Value="@test" />

<textarea id="my-area" data-smart-textarea spellcheck="false" />

<fluent-text-suggestion anchor="my-area" id="my-suggestion" value="abc" minlength="3" delay="10" />

@code {
    public string test { get; set; } = "test";
}

<script>
    // let value = 0;
    // setInterval(() => {
    //     value++;
    //     // updateSelectedText("Hello " + value);
    //     updateSuggestionValue("Hello " + value);
    // }, 2000);

    // function updateSuggestionValue(newValue) {
    //     const suggestion = document.getElementById('my-suggestion');
    //     suggestion.value = newValue;
    // }

     // function updateSelectedText(newText) {
     //        const textarea = document.getElementById('my-area');
     //        const start = textarea.selectionStart;
     //        const userText = textarea.value.substring(0, start);

     //        console.log(`updateSelectedText: ${start} = ${userText}`);

     //        textarea.value = userText + newText;
     //        textarea.setSelectionRange(start, start + newText.length);
     //    }
</script>

<style>

/*     textarea::selection {
        color: #999;
    } */

    .smart-paste-icon {
        width: 1.2rem;
        height: 1.3rem;
        display: inline;
        vertical-align: text-bottom;
        margin-inline-end: .1rem;
    }

    .smart-paste-icon-running {
        display: none;
    }

    button:disabled > .smart-paste-icon-running {
        display: inline;
    }

    button:disabled > .smart-paste-icon-normal {
        display: none;
    }

    input:focus + .smartcombobox-suggestions {
        display: block;
    }

    .smartcombobox-suggestions {
        display: none;
        position: absolute;
        z-index: 1;
        border: 1px solid silver;
        background: white;
        max-height: 15rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .smartcombobox-suggestion {
        cursor: pointer;
        padding: 0.5rem 0.6rem;
        font-size: 0.9rem;
        user-select: none;
        white-space: nowrap;
    }

        .smartcombobox-suggestion:hover {
            background-color: #eee;
        }

        .smartcombobox-suggestion.selected {
            background-color: #224a96;
            color: white;
        }

    [data-suggestion-visible][data-smart-textarea]::selection {
        color: #999;
    }

    .smart-textarea-suggestion-overlay {
        display: none;
        position: absolute;
        background-color: white;
        color: black;
        padding: 0.25rem 0.75rem;
        border-radius: 0.3rem;
        box-shadow: 0 1.25px 4px 0px rgba(0,0,0,0.4);
        cursor: pointer;
        user-select: none;
        margin-right: 1rem;
    }

        .smart-textarea-suggestion-overlay.smart-textarea-suggestion-overlay-visible {
            display: block;
        }

    .smart-textarea-caret {
        position: absolute;
        width: 0.8px;
        background: red;
        display: none;
        animation: caret-blink 1.025s step-end infinite;
    }

    @@keyframes caret-blink {
        from, to {
            opacity: 100%;
        }

        50% {
            opacity: 0%;
        }
    }
</style>
