@page "/Debug/Test"
<h3>Test</h3>


<fluent-text-input id="my-field" />
<fluent-text-suggestion anchor="my-field" value="abc" />

<input type="text" id="my-text" />
<fluent-text-suggestion anchor="my-text" value="abc" />

<textarea id="my-area" spellcheck="false" />
<fluent-text-suggestion anchor="my-area" value="abc" minlength="3" delay="10" />

@code {
    public string test { get; set; } = "test";
}
