<html>
	<head></head>
	<body>
		<div id="xxx" class="fluent-color-picker" style="width: calc(19 * 20px); height: calc(10 * 20px);" view="swatch-palette" orientation="horizontal">
			<div style="background-color: #FFE4E9;" blazor:onclick="x"></div>
			<div style="background-color: #FFCDD2;" blazor:onclick="x"></div>
			<div style="background-color: #EE9A9A;" blazor:onclick="x"></div>
			<div style="background-color: #E57373;" blazor:onclick="x"></div>
			<div style="background-color: #EE534F;" blazor:onclick="x"></div>
			<div style="background-color: #F44236;" blazor:onclick="x"></div>
			<div style="background-color: #E53935;" blazor:onclick="x"></div>
			<div style="background-color: #C9342D;" blazor:onclick="x"></div>
			<div style="background-color: #C32C28;" blazor:onclick="x"></div>
			<div style="background-color: #B61C1C;" blazor:onclick="x"></div>
			<div style="background-color: #FFD2E7;" blazor:onclick="x"></div>
			<div style="background-color: #F9BBD0;" blazor:onclick="x"></div>
			<div style="background-color: #F48FB1;" blazor:onclick="x"></div>
			<div style="background-color: #F06292;" blazor:onclick="x"></div>
			<div style="background-color: #EC407A;" blazor:onclick="x"></div>
			<div style="background-color: #EA1E63;" blazor:onclick="x"></div>
			<div style="background-color: #D81A60;" blazor:onclick="x"></div>
			<div style="background-color: #C2175B;" blazor:onclick="x"></div>
			<div style="background-color: #AD1457;" blazor:onclick="x"></div>
			<div style="background-color: #890E4F;" blazor:onclick="x"></div>
			<div style="background-color: #F8D5FF;" blazor:onclick="x"></div>
			<div style="background-color: #E1BEE8;" blazor:onclick="x"></div>
			<div style="background-color: #CF93D9;" blazor:onclick="x"></div>
			<div style="background-color: #B968C7;" blazor:onclick="x"></div>
			<div style="background-color: #AA47BC;" blazor:onclick="x"></div>
			<div style="background-color: #9C28B1;" blazor:onclick="x"></div>
			<div style="background-color: #8E24AA;" blazor:onclick="x"></div>
			<div style="background-color: #7A1FA2;" blazor:onclick="x"></div>
			<div style="background-color: #6A1B9A;" blazor:onclick="x"></div>
			<div style="background-color: #4A148C;" blazor:onclick="x"></div>
			<div style="background-color: #E7DBFF;" blazor:onclick="x"></div>
			<div style="background-color: #D0C4E8;" blazor:onclick="x"></div>
			<div style="background-color: #B39DDB;" blazor:onclick="x"></div>
			<div style="background-color: #9675CE;" blazor:onclick="x"></div>
			<div style="background-color: #7E57C2;" blazor:onclick="x"></div>
			<div style="background-color: #673BB7;" blazor:onclick="x"></div>
			<div style="background-color: #5D35B0;" blazor:onclick="x"></div>
			<div style="background-color: #512DA7;" blazor:onclick="x"></div>
			<div style="background-color: #45289F;" blazor:onclick="x"></div>
			<div style="background-color: #301B92;" blazor:onclick="x"></div>
			<div style="background-color: #DCE1FF;" blazor:onclick="x"></div>
			<div style="background-color: #C5CAE8;" blazor:onclick="x"></div>
			<div style="background-color: #9EA8DB;" blazor:onclick="x"></div>
			<div style="background-color: #7986CC;" blazor:onclick="x"></div>
			<div style="background-color: #5C6BC0;" blazor:onclick="x"></div>
			<div style="background-color: #3F51B5;" blazor:onclick="x"></div>
			<div style="background-color: #3949AB;" blazor:onclick="x"></div>
			<div style="background-color: #303E9F;" blazor:onclick="x"></div>
			<div style="background-color: #283593;" blazor:onclick="x"></div>
			<div style="background-color: #1A237E;" blazor:onclick="x"></div>
			<div style="background-color: #D2F5FF;" blazor:onclick="x"></div>
			<div style="background-color: #BBDEFA;" blazor:onclick="x"></div>
			<div style="background-color: #90CAF8;" blazor:onclick="x"></div>
			<div style="background-color: #64B5F6;" blazor:onclick="x"></div>
			<div style="background-color: #42A5F6;" blazor:onclick="x"></div>
			<div style="background-color: #2196F3;" blazor:onclick="x"></div>
			<div style="background-color: #1D89E4;" blazor:onclick="x"></div>
			<div style="background-color: #1976D3;" blazor:onclick="x"></div>
			<div style="background-color: #1564C0;" blazor:onclick="x"></div>
			<div style="background-color: #0E47A1;" blazor:onclick="x"></div>
			<div style="background-color: #CAFCFF;" blazor:onclick="x"></div>
			<div style="background-color: #B3E5FC;" blazor:onclick="x"></div>
			<div style="background-color: #81D5FA;" blazor:onclick="x"></div>
			<div style="background-color: #4FC2F8;" blazor:onclick="x"></div>
			<div style="background-color: #28B6F6;" blazor:onclick="x"></div>
			<div style="background-color: #03A9F5;" blazor:onclick="x"></div>
			<div style="background-color: #039BE6;" blazor:onclick="x"></div>
			<div style="background-color: #0288D1;" blazor:onclick="x"></div>
			<div style="background-color: #0277BD;" blazor:onclick="x"></div>
			<div style="background-color: #00579C;" blazor:onclick="x"></div>
			<div style="background-color: #C9FFFF;" blazor:onclick="x"></div>
			<div style="background-color: #B2EBF2;" blazor:onclick="x"></div>
			<div style="background-color: #80DEEA;" blazor:onclick="x"></div>
			<div style="background-color: #4DD0E2;" blazor:onclick="x"></div>
			<div style="background-color: #25C6DA;" blazor:onclick="x"></div>
			<div style="background-color: #00BCD5;" blazor:onclick="x"></div>
			<div style="background-color: #00ACC2;" blazor:onclick="x"></div>
			<div style="background-color: #0098A6;" blazor:onclick="x"></div>
			<div style="background-color: #00828F;" blazor:onclick="x"></div>
			<div style="background-color: #016064;" blazor:onclick="x"></div>
			<div style="background-color: #C9F6F3;" blazor:onclick="x"></div>
			<div style="background-color: #B2DFDC;" blazor:onclick="x"></div>
			<div style="background-color: #80CBC4;" blazor:onclick="x"></div>
			<div style="background-color: #4CB6AC;" blazor:onclick="x"></div>
			<div style="background-color: #26A59A;" blazor:onclick="x"></div>
			<div style="background-color: #009788;" blazor:onclick="x"></div>
			<div style="background-color: #00887A;" blazor:onclick="x"></div>
			<div style="background-color: #00796A;" blazor:onclick="x"></div>
			<div style="background-color: #00695B;" blazor:onclick="x"></div>
			<div style="background-color: #004C3F;" blazor:onclick="x"></div>
			<div style="background-color: #DFFDE1;" blazor:onclick="x"></div>
			<div style="background-color: #C8E6CA;" blazor:onclick="x"></div>
			<div style="background-color: #A5D6A7;" blazor:onclick="x"></div>
			<div style="background-color: #80C783;" blazor:onclick="x"></div>
			<div style="background-color: #66BB6A;" blazor:onclick="x"></div>
			<div style="background-color: #4CB050;" blazor:onclick="x"></div>
			<div style="background-color: #43A047;" blazor:onclick="x"></div>
			<div style="background-color: #398E3D;" blazor:onclick="x"></div>
			<div style="background-color: #2F7D32;" blazor:onclick="x"></div>
			<div style="background-color: #1C5E20;" blazor:onclick="x"></div>
			<div style="background-color: #F4FFDF;" blazor:onclick="x"></div>
			<div style="background-color: #DDEDC8;" blazor:onclick="x"></div>
			<div style="background-color: #C5E1A6;" blazor:onclick="x"></div>
			<div style="background-color: #AED582;" blazor:onclick="x"></div>
			<div style="background-color: #9CCC66;" blazor:onclick="x"></div>
			<div style="background-color: #8BC24A;" blazor:onclick="x"></div>
			<div style="background-color: #7DB343;" blazor:onclick="x"></div>
			<div style="background-color: #689F39;" blazor:onclick="x"></div>
			<div style="background-color: #548B2E;" blazor:onclick="x"></div>
			<div style="background-color: #33691E;" blazor:onclick="x"></div>
			<div style="background-color: #FFFFD9;" blazor:onclick="x"></div>
			<div style="background-color: #F0F4C2;" blazor:onclick="x"></div>
			<div style="background-color: #E6EE9B;" blazor:onclick="x"></div>
			<div style="background-color: #DDE776;" blazor:onclick="x"></div>
			<div style="background-color: #D4E056;" blazor:onclick="x"></div>
			<div style="background-color: #CDDC39;" blazor:onclick="x"></div>
			<div style="background-color: #C0CA33;" blazor:onclick="x"></div>
			<div style="background-color: #B0B42B;" blazor:onclick="x"></div>
			<div style="background-color: #9E9E24;" blazor:onclick="x"></div>
			<div style="background-color: #817716;" blazor:onclick="x"></div>
			<div style="background-color: #FFFFDA;" blazor:onclick="x"></div>
			<div style="background-color: #FFFAC3;" blazor:onclick="x"></div>
			<div style="background-color: #FFF59C;" blazor:onclick="x"></div>
			<div style="background-color: #FFF176;" blazor:onclick="x"></div>
			<div style="background-color: #FFEE58;" blazor:onclick="x"></div>
			<div style="background-color: #FFEB3C;" blazor:onclick="x"></div>
			<div style="background-color: #FDD734;" blazor:onclick="x"></div>
			<div style="background-color: #FAC02E;" blazor:onclick="x"></div>
			<div style="background-color: #F9A825;" blazor:onclick="x"></div>
			<div style="background-color: #F47F16;" blazor:onclick="x"></div>
			<div style="background-color: #FFFFC9;" blazor:onclick="x"></div>
			<div style="background-color: #FFECB2;" blazor:onclick="x"></div>
			<div style="background-color: #FFE083;" blazor:onclick="x"></div>
			<div style="background-color: #FFD54F;" blazor:onclick="x"></div>
			<div style="background-color: #FFC928;" blazor:onclick="x"></div>
			<div style="background-color: #FEC107;" blazor:onclick="x"></div>
			<div style="background-color: #FFB200;" blazor:onclick="x"></div>
			<div style="background-color: #FF9F00;" blazor:onclick="x"></div>
			<div style="background-color: #FF8E01;" blazor:onclick="x"></div>
			<div style="background-color: #FF6F00;" blazor:onclick="x"></div>
			<div style="background-color: #FFF7C9;" blazor:onclick="x"></div>
			<div style="background-color: #FFE0B2;" blazor:onclick="x"></div>
			<div style="background-color: #FFCC80;" blazor:onclick="x"></div>
			<div style="background-color: #FFB64D;" blazor:onclick="x"></div>
			<div style="background-color: #FFA827;" blazor:onclick="x"></div>
			<div style="background-color: #FF9700;" blazor:onclick="x"></div>
			<div style="background-color: #FB8C00;" blazor:onclick="x"></div>
			<div style="background-color: #F67C01;" blazor:onclick="x"></div>
			<div style="background-color: #EF6C00;" blazor:onclick="x"></div>
			<div style="background-color: #E65100;" blazor:onclick="x"></div>
			<div style="background-color: #FFE3D2;" blazor:onclick="x"></div>
			<div style="background-color: #FFCCBB;" blazor:onclick="x"></div>
			<div style="background-color: #FFAB91;" blazor:onclick="x"></div>
			<div style="background-color: #FF8A66;" blazor:onclick="x"></div>
			<div style="background-color: #FF7143;" blazor:onclick="x"></div>
			<div style="background-color: #FE5722;" blazor:onclick="x"></div>
			<div style="background-color: #F5511E;" blazor:onclick="x"></div>
			<div style="background-color: #E64A19;" blazor:onclick="x"></div>
			<div style="background-color: #D74315;" blazor:onclick="x"></div>
			<div style="background-color: #BF360C;" blazor:onclick="x"></div>
			<div style="background-color: #EEE3DF;" blazor:onclick="x"></div>
			<div style="background-color: #D7CCC8;" blazor:onclick="x"></div>
			<div style="background-color: #BCABA4;" blazor:onclick="x"></div>
			<div style="background-color: #A0887E;" blazor:onclick="x"></div>
			<div style="background-color: #8C6E63;" blazor:onclick="x"></div>
			<div style="background-color: #7B5347;" blazor:onclick="x"></div>
			<div style="background-color: #6D4D42;" blazor:onclick="x"></div>
			<div style="background-color: #5D4038;" blazor:onclick="x"></div>
			<div style="background-color: #4D342F;" blazor:onclick="x"></div>
			<div style="background-color: #3E2622;" blazor:onclick="x"></div>
			<div style="background-color: #FFFFFF;" blazor:onclick="x"></div>
			<div style="background-color: #F5F5F5;" blazor:onclick="x"></div>
			<div style="background-color: #EEEEEE;" blazor:onclick="x"></div>
			<div style="background-color: #E0E0E0;" blazor:onclick="x"></div>
			<div style="background-color: #BDBDBD;" blazor:onclick="x"></div>
			<div style="background-color: #9E9E9E;" blazor:onclick="x"></div>
			<div style="background-color: #757575;" blazor:onclick="x"></div>
			<div style="background-color: #616161;" blazor:onclick="x"></div>
			<div style="background-color: #424242;" blazor:onclick="x"></div>
			<div style="background-color: #212121;" blazor:onclick="x"></div>
			<div style="background-color: #E5F0F4;" blazor:onclick="x"></div>
			<div style="background-color: #CED9DD;" blazor:onclick="x"></div>
			<div style="background-color: #B0BFC6;" blazor:onclick="x"></div>
			<div style="background-color: #90A4AD;" blazor:onclick="x"></div>
			<div style="background-color: #798F9A;" blazor:onclick="x"></div>
			<div style="background-color: #607D8B;" blazor:onclick="x"></div>
			<div style="background-color: #546F7A;" blazor:onclick="x"></div>
			<div style="background-color: #465A65;" blazor:onclick="x"></div>
			<div style="background-color: #36474F;" blazor:onclick="x"></div>
			<div style="background-color: #273238;" blazor:onclick="x"></div>
		</div>
	</body>
</html>