<div style="background: @(SystemColors.Brand.Background); color: @(SystemColors.Neutral.ForegroundOnBrand); width: 120px;">
    <div style="font-family: @(StylesVariables.Fonts.Family.Monospace);" class="pa-2">
        Hello World
    </div>
</div>
