@page "/ProfileViewer"

<h1>ProfileViewer</h1>

<FluentStack HorizontalAlignment="@HorizontalAlignment.Center">
    <FluentProfileViewer Image="@DataSource.SamplePicture"
                         Status="@PresenceStatus.Available"
                         CompanyName="Microsoft"
                         Initials="BG"
                         FullName="Bill Gates"
                         EMail="bill.gates@microsoft.com" />
</FluentStack>
