@inherits LayoutComponentBase

<FluentLayout>
    <FluentLayoutItem Area="LayoutArea.Header">
        <FluentLayoutHamburger />
         Aspire-StarterApplication.1
    </FluentLayoutItem>
    <FluentLayoutItem Area="LayoutArea.Navigation">
        <NavMenu />
    </FluentLayoutItem>
    <FluentLayoutItem Area="LayoutArea.Content" Class="main">
        <div class="content">
            @Body
        </div>
    </FluentLayoutItem>

    <FluentLayoutItem Area="LayoutArea.Footer">
        <div style="display: flex">
            <FluentLink Href="https://www.fluentui-blazor.net" Target="LinkTarget.Blank" IconEnd="@(new Icons.Regular.Size16.ArrowExit())">
                Documentation and demos
                </FluentLink>
            <FluentSpacer />
                <FluentLink Href="https://learn.microsoft.com/en-us/aspnet/core/blazor" Target="LinkTarget.Blank" IconEnd="@(new Icons.Regular.Size16.ArrowExit())">
                About Blazor
            </FluentLink>
        </div>
    </FluentLayoutItem>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
