@page "/NavMenu"

<h1>NavMenu, NavMenuGroup and NavMenuLink</h1>
<p>
    The <code>FluentNavMenuGroup</code>, <code>FluentNavMenuLink</code> and <code>FluentNavMenu</code> components can be used to build
    hierarchical, collapsible and expandable menus. They can range from simple 1-level deep lists to complex multi-level menu 
    structures. 
</p> 
<p>
    None of these components are particulary useful when used stand-alone.
</p>

<ApiDocumentation Component="typeof(FluentNavMenu)" />

<ApiDocumentation Component="typeof(FluentNavMenuGroup)" />

<ApiDocumentation Component="typeof(FluentNavMenuLink)" />

<h2>Examples</h2>

<DemoSection Component="typeof(NavMenuDefault)" Title="Submenus, icons and plain">
    <Description>
        This demo shows 3 different versions of a <code>NavMenu</code> (with <code>FluentNavMenuGoups</code> and <code>FluentNavMenuLinks</code>).
        From left to right:
        <ul>
            <li>Menu with several sub-menus, icons, etc</li>
            <li>Menu without sub-menus but with icons</li>
            <li>Menu with just text links</li>
        </ul>
    </Description>
</DemoSection>

<DemoSection Component="typeof(NavMenuCollapsible)" Title="Collapsible navigation">
    <Description>
        More complete example which show how menu works with together with a text section when it collapses. 
    </Description>
</DemoSection>

<DemoSection Component="typeof(NavMenuCustomIconContent)" Title="Custom icon content">
    <Description>
        An example of using RenderFragments for content instead of icons.
    </Description>
</DemoSection>