@page "/basicform-fluentui-components"

<h1>Starfleet Starship Database</h1>

<h2>New Ship Entry Form</h2>

<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <FluentValidationSummary />

    <div style="display:grid; gap: 5px;">
        <div><FluentTextField @bind-Value="starship.Identifier">Identifier:</FluentTextField></div>
        <div><FluentTextArea @bind-Value="starship.Description">Description (optional):</FluentTextArea></div>
        <div><label>Primary Classification:</label>
            <FluentSelect @bind-Value="starship.Classification" TOption="string">
                <FluentOption Value="">Select classification ...</FluentOption>
                <FluentOption Value="Exploration">Exploration</FluentOption>
                <FluentOption Value="Diplomacy">Diplomacy</FluentOption>
                <FluentOption Value="Defense">Defense</FluentOption>
            </FluentSelect>
        </div>
        <div><FluentNumberField @bind-Value="starship.MaximumAccommodation"> Maximum Accommodation:</FluentNumberField></div>
        <div><FluentCheckbox @bind-Value="starship.IsValidatedDesign">Engineering Approval</FluentCheckbox></div>
        <div><label>Production Date:</label>
            <FluentDatePicker @bind-Value="prodDate" />
        </div>
        <div><FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton></div>
        <div><a href="http://www.startrek.com/">Star Trek</a>, ©1966-2023 CBS Studios, Inc. and <a href="https://www.paramount.com">Paramount Pictures</a></div>
    </div>
</EditForm>

@code {
    DateTime? prodDate = DateTime.Now;

    protected override void OnInitialized()
    {
        starship.ProductionDate = new DateOnly(prodDate!.Value.Year, prodDate!.Value.Month, prodDate!.Value.Day);
    }

    private Starship starship = new();

    private void HandleValidSubmit()
    {
        DemoLogger.WriteLine("HandleValidSubmit called");

        // Process the valid form
    }
}