@page "/IconsAndEmoji"

<PageTitle>@App.PageTitle("Icons and Emoji")</PageTitle>

<h1>Using Icons and Emoji</h1>

<MarkdownSection FromAsset="./_content/FluentUI.Demo.Shared/docs/IconsAndEmoji.md" OnContentConverted="RefreshTableOfContents" />

@code {

    [CascadingParameter]
    public EventCallback OnRefreshTableOfContents { get; set; }

    private async Task RefreshTableOfContents()
    {
        await OnRefreshTableOfContents.InvokeAsync();
    }
}
