@page "/Templates"

<PageTitle>@App.PageTitle("Templates")</PageTitle>

<h1><FluentIcon Value="@(new Icons.Regular.Size24.Classification())" /> Project templates</h1>

<MarkdownSection FromAsset="./_content/FluentUI.Demo.Shared/docs/Templates.md" OnContentConverted="RefreshTableOfContents" />

@code {

    [CascadingParameter]
    public EventCallback OnRefreshTableOfContents { get; set; }

    private async Task RefreshTableOfContents()
    {
        await OnRefreshTableOfContents.InvokeAsync();
    }
}
