@page "/WhatsNew-Before410"

<PageTitle>@App.PageTitle("What's new? (v4.0 - v4.9)")</PageTitle>

<h1>What's new? (v4.0 - v4.9)</h1>

<p>Here you can find the release notes for the FluentUI components library before version 4.10.</p>

<MarkdownSection FromAsset="./_content/FluentUI.Demo.Shared/docs/WhatsNew-Before410.md" OnContentConverted="RefreshTableOfContents" />

@code {

    [CascadingParameter]
    public EventCallback OnRefreshTableOfContents { get; set; }

    private async Task RefreshTableOfContents()
    {
        await OnRefreshTableOfContents.InvokeAsync();
    }
}
