@page "/WhatsNew"

<PageTitle>@App.PageTitle("What's new?")</PageTitle>

<h1>What's new?</h1>

<div class="demopanel">
    Most items below contain a link to the relevant PR (Pull Request) on GitHub in which the described functionality was added or changed.
    Often the PR descriptions will contain valuable, extra, information that is not always available in the component documentation.
</div>

<MarkdownSection FromAsset="./_content/FluentUI.Demo.Shared/docs/WhatsNew.md" OnContentConverted="RefreshTableOfContents" />

@code {

    [CascadingParameter]
    public EventCallback OnRefreshTableOfContents { get; set; }

    private async Task RefreshTableOfContents()
    {
        await OnRefreshTableOfContents.InvokeAsync();
    }
}
