<h2>Disabled</h2>
<FluentSelect TOption=string>
    <FluentOption Disabled="true">This option is disabled.</FluentOption>
</FluentSelect>
<h2>Selected</h2>
<FluentSelect TOption=string>
    <FluentOption Selected="true">This option is selected by default.</FluentOption>
</FluentSelect>