@page "/Search"

@using FluentUI.Demo.Shared.Pages.Search.Examples

<h1>Search</h1>

<ApiDocumentation Component="typeof(FluentSearch)" />

<h2>Examples</h2>


<DemoSection Title="Default" ExampleFile="SearchDefault"></DemoSection>

<DemoSection Title="Interactive" ExampleFile="SearchInteractive"></DemoSection>

<DemoSection Title="States" ExampleFile="SearchStates"></DemoSection>

<DemoSection Title="Icons" ExampleFile="SearchIcons"></DemoSection>

<DemoSection Title="Filled style" ExampleFile="SearchAppearanceFilled"></DemoSection>

<DemoSection Title="Aria" ExampleFile="SearchAria"></DemoSection>

<DemoSection Title="Miscelaneous" ExampleFile="SearchMisc"></DemoSection>