
<fluent-field label-position="above" class="my-3">
  <div slot="input" id="xxx">Field content</div>
  <fluent-text as="span" size="200" slot="message">
    <svg style="margin: 0px 4px 0px 0px; width: 12px; fill: var(--warning);" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
      <path d="M8.68 2.79a1.5 1.5 0 0 1 2.64 0l6.5 12A1.5 1.5 0 0 1 16.5 17h-13a1.5 1.5 0 0 1-1.32-2.21l6.5-12ZM10.5 7.5a.5.5 0 0 0-1 0v4a.5.5 0 0 0 1 0v-4Zm.25 6.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z"></path>
    </svg>
    <fluent-text style="color: var(--info);" as="span">Please, check this value</fluent-text>
  </fluent-text>
</fluent-field>