﻿<div>
    <b>Selected Time:</b> @(SelectedValue?.ToString("HH:mm"))
</div>

<FluentTimePicker Label="Meeting time" RenderStyle="DatePickerRenderStyle.Native" @bind-Value="@SelectedValue" />

@code
{
    DateTime? SelectedValue = DateTime.Today.AddHours(14);
}
