.result-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        align-content: start;
        height: 100%;
    }

        .result-list > div {
            display: flex;
            width: 100%;
            height: 120px;
        }
