.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-rest);
    border-radius: calc(var(--layer-corner-radius) * 1px);
    box-shadow: var(--elevation-shadow-card-rest);
}

    .card ::deep .copy {
        position: absolute;
        top: 4px;
        right: 4px;
        display: none;
    }

    .card ::deep .size {
        position: absolute;
        top: 4px;
        left: 4px;
        font-size: 8px;
    }

    .card:hover ::deep .copy {
        display: block;
    }

    .card ::deep .image {
        flex: 1;
    }

    .card ::deep .label {
        font-size: 11px;
        width: 100%;
        text-align: center;
        background-color: var(--neutral-stroke-rest);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }

    .card ::deep .header {
        margin: 16px;
        flex-wrap: wrap;
        width: 100%;
    }

    .card ::deep .footer {
        margin-top: 16px;
        flex-wrap: wrap;
        width: 100%;
    }
