@page "/"

<h2>Icons</h2>
<FluentSystemIcon Icon="@(Icons.Regular.Size24.Save)"  />
<FluentSystemIcon Icon="@(Icons.Regular.Size24.Album)" />

@foreach (var item in Icons.AllIcons.Take(30))
{
    <FluentSystemIcon Value="@(new CustomIcon(item.GetInstance()))" />
}

@code
{
    public class CustomIcon : Icon
    {
        public CustomIcon() : base(string.Empty, IconVariant.Regular, IconSize.Size24, string.Empty)
        { }

        public CustomIcon(Icon icon) : base(icon.Name, icon.Variant, icon.Size, icon.Content)
        { }
    }
}