@page "/"

<h2>Icons</h2>
<FluentSystemIcon Icon="@(Icons.Regular.Size24.Save)"  />
<FluentSystemIcon Icon="@(Icons.Regular.Size24.Album)" />

<h2>Markup</h2>
@(new Icons.Regular.Size20.Add().Markup)

<h2>AllIcons</h2>
@foreach (var item in Icons.AllIcons
                           .Where(i => i.Variant == IconVariant.Regular
                                    && i.Size == IconSize.Size24)
                           .Take(30))
{
    <FluentSystemIcon Value="Icons.GetInstance(item)" />
}