@page "/DividerPage"
<h1>Divider</h1>
<ApiDocumentation Component="typeof(FluentDivider)" />
<h4>Default</h4>
<FluentDivider></FluentDivider>

<h4>Presentation</h4>
<FluentDivider Role="DividerRole.Presentation"></FluentDivider>