.emoji-explorer-criteria {
    display: flex;
    gap: 10px;
}

.emoji-explorer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 600px;
    align-content: start;
}

    .emoji-explorer ::deep .card {
        height: 100px;
        width: 100px;
        margin: 10px;
        text-align: center;
    }

    .emoji-explorer ::deep .emoji {
        height: 80px;
        width: 100px;
        display: table-cell;
        vertical-align: middle;
    }

    .emoji-explorer ::deep label {
        height: 20px;
        width: 100px;
        text-align: center;
        font-size: 10px;
        font-family: Monaco, monospace;
        white-space: nowrap;
        overflow: hidden;
        background: var(--neutral-stroke-rest);
    }
}
