<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p>This is a paragraph.</p>
<a href="#">This is a link</a>
<blockquote>This is a blockquote.</blockquote>
<abbr title="Abbreviation">abbr</abbr>
<address>123 Main St, Anytown, USA</address>
<ol>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
</ol>
<ul>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
</ul>
<dl>
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
<b>Bold text</b>
<strong>Strong text</strong>
<small>Small text</small>
<mark>Highlighted text</mark>
<sub>Subscript text</sub>
<sup>Superscript text</sup>
<pre><code>Code block</code></pre>
<kbd>Keyboard input</kbd>
<figure>
    <figcaption>Figure caption</figcaption>
</figure>
<table>
    <caption>Table caption</caption>
    <thead>
        <tr>
            <th>Header</th>
            <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
            <td>Data</td>
        </tr>
    </tbody>
</table>
<label for="input">Label</label>
<input type="text" id="input">
<button>Button</button>
<select>
    <option>Option 1</option>
    <option>Option 2</option>
</select>
<textarea>Textarea</textarea>
<fieldset>
    <legend>Fieldset legend</legend>
    <input type="text">
</fieldset>
<output>Output</output>
<iframe src="about:blank"></iframe>
<summary>Summary</summary>
<progress value="50" max="100"></progress>
<hr>
