<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p>This is a paragraph.</p>
<a href="#">This is a link</a>
<blockquote>This is a blockquote.</blockquote>
<abbr title="Abbreviation">abbr</abbr>
<address>123 Main St, Anytown, USA</address>
<ol>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
</ol>
<ul>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
</ul>
<dl>
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
<b>Bold text</b>
<strong>Strong text</strong>
<small>Small text</small>
<mark>Highlighted text</mark>
<sub>Subscript text</sub>
<sup>Superscript text</sup>
<pre><code>Code block</code></pre>
<kbd>Keyboard input</kbd> Press <kbd><kbd>ctrl</kbd> + <kbd>a</kbd></kbd>
<figure>
    <figcaption>Figure caption</figcaption>
</figure>
<table>
    <caption>Table caption</caption>
    <thead>
        <tr>
            <th>Header</th>
            <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
            <td>Data</td>
        </tr>
    </tbody>
</table>
<output>Output</output>
<br />
<progress value="50" max="100"></progress>
<br />
<details>
    <summary>Some details</summary>
    <p>More info about the details.</p>
</details>
<br/>
<hr>

<form>
    <fieldset>

        <legend>Example legend</legend>

        <p>
            <label for="input">Example input</label>
            <input type="text" id="input" placeholder="Example input">
        </p>

        <p>
            <label for="email">Example email</label>
            <input type="email" id="email" placeholder="test@example.com">
        </p>

        <p>
            <label for="tel">Example telephone</label>
            <input type="tel" id="tel">
        </p>

        <p>
            <label for="url">Example url</label>
            <input type="url" id="url">
        </p>

        <p>
            <label for="number">Example number</label>
            <input type="number" id="number">
        </p>

        <p>
            <label for="search">Example search</label>
            <input type="search" id="search">
        </p>

        <p>
            <label for="range">Example range</label>
            <input type="range" id="range" min="0" max="10">
        </p>

        <p>
            <label for="file">Example file input</label>
            <input type="file" id="file">
        </p>
        <p>
            <label for="select">Example select</label>
            <select id="select">
                <option value="">Choose...</option>
                <optgroup label="Option group 1">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </optgroup>
                <optgroup label="Option group 2">
                    <option value="">Option 4</option>
                    <option value="">Option 5</option>
                    <option value="">Option 6</option>
                </optgroup>
            </select>
        </p>

        <p>
            <label>
                <input type="checkbox" value="">
                Check this checkbox
            </label>
        </p>

        <p>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Option one is this and that
            </label>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two is something else that's also super long to demonstrate the wrapping of these fancy form controls.
            </label>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                Option three is disabled
            </label>
        </p>

        <p>
            <label for="textarea">Example textarea</label>
            <textarea id="textarea" rows="3"></textarea>
        </p>

        <p>
            <label for="date">Example date</label>
            <input type="date" id="date">
        </p>

        <p>
            <label for="time">Example time</label>
            <input type="time" id="time">
        </p>

        <p>
            <label for="password">Example password</label>
            <input type="password" id="password">
        </p>

        <p>
            <label for="datetime-local">Example datetime-local</label>
            <input type="datetime-local" id="datetime-local">
        </p>

        <p>
            <label for="week">Example week</label>
            <input type="week" id="week">
        </p>

        <p>
            <label for="month">Example month</label>
            <input type="month" id="month">
        </p>

        <p>
            <label for="color">Example color</label>
            <input type="color" id="color">
        </p>

        <p>
            <label for="output">Example output</label>
            <output name="result" id="output">100</output>
        </p>

        <p>
            <button type="submit">Button submit</button>
            <input type="submit" value="Input submit button">
            <input type="reset" value="Input reset button">
            <input type="button" value="Input button">
        </p>

        <p>
            <button type="submit" disabled="">Button submit</button>
            <input type="submit" value="Input submit button" disabled="">
            <input type="reset" value="Input reset button" disabled="">
            <input type="button" value="Input button" disabled="">
        </p>
    </fieldset>
</form>
