.fluent-stack-vertical {
  display: flex;
  flex-direction: column;
}

.fluent-stack-horizontal {
  display: flex;
  flex-direction: row;
}

.fluent-stack-vertical[reverse] {
  display: flex;
  flex-direction: column-reverse;
}

.fluent-stack-horizontal[reverse] {
  display: flex;
  flex-direction: row-reverse;
}