.stack-vertical {
    display: flex;
    flex-direction: column;
}

.stack-horizontal {
    display: flex;
    flex-direction: row;
}

.stack-vertical[reverse='true'] {
    display: flex;
    flex-direction: column-reverse;
}

.stack-horizontal[reverse='true'] {
    display: flex;
    flex-direction: row-reverse;
}
