@namespace Microsoft.FluentUI.AspNetCore.Components

@inherits FluentComponentBase

<div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes" reverse="@(Reversed == true ? "true" : "false")">
    @ChildContent
</div>
