.stack-vertical {
    display: flex;
    flex-direction: column;
}

.stack-horizontal {
    display: flex;
    flex-direction: row;
}

.stack-vertical-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.stack-horizontal-reversed {
    display: flex;
    flex-direction: row-reverse;
}
