@page "/InfoButton"

@using FluentUI.Demo.Shared.Pages.InfoButton.Examples

<PageTitle>@App.PageTitle("InfoButton")</PageTitle>

<h1>Info Button</h1>

<p>
    <code>FluentInfoButton</code> Use Info button control to provide additional information to users.   
</p>
<p>
    The component exposes the following parameters:
</p>

<h2 id="example">Example</h2>

<DemoSection Title="Default" Component="typeof(InfoButtonDefault)" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentInfoButton)" />
