.fluent-console-log {
  position: relative;
  background-color: #1e1e1e;
  color: #c5c8c6;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

  .fluent-console-log ul {
    overflow-x: auto;
    overflow-y: scroll;
    list-style-type: none;
    padding: 4px 12px;
    margin: 0;
    height: 100%;
    height: 80px;
  }

  .fluent-console-log li {
    margin: 2px 0;
    display: flex;
    align-items: baseline;
  }

  .fluent-console-log code {
    color: #9d9d9d;
    font-size: small;
    margin-right: 10px;
  }

  .fluent-console-log span {
    color: #c5c8c6;
    font-weight: bold;
  }

  .fluent-console-log li::before {
    content: '> '; /* Add a prompt before each message */
    color: yellow; /* Yellow color for the prompt */
    font-weight: 900;
    font-size: small;
    margin-right: 5px;
  }

.fluent-console-log .clear-button {
  position: absolute;
  top: 0px;
  right: 15px; 
}
