.doc-viewer ::deep .component-not-found {
  padding: 12px;
  border: 1px dashed red;
  background-color: lightyellow;
  color: red;
  font-weight: bold;
}

.doc-viewer ::deep pre code {
  overflow-x: auto;
  display: block;
  padding: 1em;
  background-color: rgb(243, 243, 243);
  border: 1px solid silver;
  font-size: 13px;
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.2;
}

  .doc-viewer ::deep pre code[class*="hljs"] {
    opacity: 1;
  }

  .doc-viewer ::deep pre code[source] {
    display: none;
  }

    .doc-viewer ::deep pre code[source][class*="hljs"] {
      display: block;
    }

.doc-viewer ::deep .demo-tabs {
  min-height: 200px;
}

.doc-viewer ::deep .demo-section-example {
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  border-radius: var(--borderRadiusMedium);
  padding: 16px 16px;
  margin: 8px 0px;  
}

.doc-viewer ::deep .api-table {
  width: 100%;
  border-collapse: collapse;
}

  .doc-viewer ::deep .api-table th {
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
  }

  .doc-viewer ::deep .api-table tr {
    border-bottom: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    vertical-align: top;
  }

  .doc-viewer ::deep .api-table td {
    padding: 8px 12px 8px 0px;
    white-space: nowrap;
  }

    .doc-viewer ::deep .api-table td:last-child {
      white-space: normal;
      width: 100%;
    }

    .doc-viewer ::deep .api-table td code {
      font-weight: 500;
      background-color: rgb(243, 243, 243);
    }

    .doc-viewer ::deep .api-table td p {
      margin: 0;
    }

  .doc-viewer ::deep .api-table .api-enum-tooltip {
    margin-left: 4px;
    cursor: pointer;
    fill: var(--colorBrandBackgroundHover);
  }

    .doc-viewer ::deep .api-table .api-enum-tooltip::before {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M10.5 8.91a.5.5 0 0 0-1 .09v4.6a.5.5 0 0 0 1-.1V8.91Zm.3-2.16a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0ZM18 10a8 8 0 1 0-16 0 8 8 0 0 0 16 0ZM3 10a7 7 0 1 1 14 0 7 7 0 0 1-14 0Z'></path></svg>");
      display: inline-block;
      width: 20px;
      height: 20px;
    }
