::deep .component-not-found {
  padding: 12px;
  border: 1px dashed red;
  background-color: lightyellow;
  color: red;
  font-weight: bold;
}

::deep pre code {
  overflow-x: auto;
  display: block;
  padding: 1em;
  background-color: rgb(243, 243, 243);
  border: 1px solid silver;
  font-size: 13px;
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.2;
}

  ::deep pre code[class*="hljs"] {
    opacity: 1;
  }

  ::deep pre code[source] {
    display: none;
  }

    ::deep pre code[source][class*="hljs"] {
      display: block;
    }

::deep .demo-section-example {
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  border-radius: var(--borderRadiusMedium);
  padding: 16px 16px;
  margin: 8px 0px;
  min-height: 100px;
}

::deep .api-table {
  width: 100%;
  border-collapse: collapse;
}

  ::deep .api-table th {
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
  }

  ::deep .api-table tr {
    border-bottom: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    vertical-align: top;
  }

  ::deep .api-table td {
    padding: 8px 12px 8px 0px;
    white-space: nowrap;
  }

    ::deep .api-table td:last-child {
      white-space: normal;
      width: 100%;
    }

    ::deep .api-table td code {
      font-weight: 500;
      background-color: rgb(243, 243, 243);
    }

    ::deep .api-table td p {
      margin: 0;
    }

  ::deep .api-table .api-enum-tooltip {
    margin-left: 4px;
    font-size: larger;
    cursor: pointer;
    color: var(--colorBrandBackgroundHover);
  }
