@page "/Panel"

@using FluentUI.Demo.Shared.Pages.Panel.Examples;

<h1>Panel</h1>

<p>
    A panel is a dialog that is anchored to the side of the screen. 
    By implementing <code>IDialogContentComponent&lt;T&gt;</code>, a component can be used as the content of a panel.
    The appearance of the panel can be altered by using the <code>DialogParameters</code> class.
</p>

<p>
    A panel can be shown by calling one of the two <code>ShowPanel</code> methods on the <code>DialogService</code>.
    For more information on how to use the <code>DialogService</code>, see the <a href="DialogService">DialogService</a> page.
</p>

<h2>Examples</h2>

<DemoSection Title="Simple Panel" Component="@typeof(DialogPanel)">
</DemoSection>

