@page "/Overflow"

@using FluentUI.Demo.Shared.Pages.Overflow.Examples

<PageTitle>@App.PageTitle("Overflow")</PageTitle>

<h1>Overflow panel</h1>

<p>
    Resize the area where the badges are shown in (bottom right/left corner) to hide Tags when an overflow occurs.
</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Horizontal" Component="@typeof(OverflowDefaultExample)" />

<DemoSection Title="Horizontal Customized" Component="@typeof(OverflowHorizontalExample)" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentOverflow)" />

<ApiDocumentation Component="typeof(FluentOverflowItem)" />
