<div style="display: flex; margin: 1rem; justify-self: center;">
    <span style="position: relative">
        <FluentBadge Positioning="Positioning.BeforeTop" Content="1">
            <FluentBadge Positioning="Positioning.Above" Content="2">
                <FluentBadge Positioning="Positioning.AboveEnd" Content="3">
                    <FluentBadge Positioning="Positioning.After" Content="4">
                        <FluentBadge Positioning="Positioning.AfterBottom" Content="5">
                            <FluentBadge Positioning="Positioning.Below" Content="6">
                                <FluentBadge Positioning="Positioning.BeforeBottom" Content="7">
                                    <FluentBadge Positioning="Positioning.Before" Content="8">
                                        <FluentBadge Positioning="Positioning.CenterCenter" Content="9">
                                            <FluentButton style="width: 200px; height: 80px">Click</FluentButton>
                                        </FluentBadge>
                                    </FluentBadge>
                                </FluentBadge>
                            </FluentBadge>
                        </FluentBadge>
                    </FluentBadge>
                </FluentBadge>
            </FluentBadge>
        </FluentBadge>
    </span>
</div>
