<div>
    <FluentCard class="state-override">Custom size using CSS</FluentCard>

    <BaseLayerLuminance Value="(float?)0.15">
        <FluentCard BackReference="@context">
            <div class="contents">
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>
    </BaseLayerLuminance>

    <FluentDesignSystemProvider FillColor="#D6D6D6">
        <FluentCard neutral-palette-source="#CABA8C">
            <div class="contents">
                <p>Tinted neutral-palette-source, dark container</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>
    </FluentDesignSystemProvider>

    <BaseLayerLuminance Value="(float?)0.15">
        <FluentCard neutral-palette-source="#CABA8C" BackReference="@context">
            <div class="contents">
                <p>Tinted neutral-palette-source, dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>
    </BaseLayerLuminance>

    <FluentDesignSystemProvider BaseLayerLuminance="(float?)0.15">
        <FluentCard neutral-palette-source="#CABA8C">
            <div class="contents">
                <p>Tinted neutral-palette-source, dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
            <FluentCard neutral-palette-source="#718E71" style="margin: 0; --card-height: 200px; --card-width: 460px;" >
                <div class="contents">
                    <p>Tinted neutral-palette-source, nested, dark</p>
                    <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                    <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                    <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                    <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
                </div>
            </FluentCard>
        </FluentCard>
    </FluentDesignSystemProvider>

    <FluentCard card-fill-color="#449544">
        <div class="contents">
            <p>Custom card-fill-color</p>
            <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
            <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
            <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
            <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            <p>
                Note the stealth buttons have a slight fill, which is because the card-fill-color is explicit, but the stealth
                recipe gets its value from the neutral palette which has been created based on the card-fill-color, but does not
                contain that exact color.
            </p>
        </div>
    </FluentCard>

    <FluentDesignSystemProvider FillColor="#D6D6D6" AccentBaseColor="#718E71" NeutralBaseColor="#A90000">
        <FluentCard>
            <div class="contents">
                <p>Accent and neutral color by DSP</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Neutral">Neutral</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>
    </FluentDesignSystemProvider>
</div>