<div style="margin-top: 12px; display: flex;">
    <FluentBadge Fill="highlight" Color="highlight">
        Badge
    </FluentBadge>
    <FluentBadge Fill="lowlight" Color="lowlight">
        Badge
    </FluentBadge>
</div>