@page "/NumberField"

@using FluentUI.Demo.Shared.Pages.NumberField.Examples

<h1>Number field</h1>

<p>An implementation of a <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/text" target="_blank" rel="noopener noreferrer">text field</a>. The <code>&lt;FluentNumberField&gt;</code> supports two visual appearances, outline and filled, with the control defaulting to the outline appearance.</p>

<p>
    <code>&lt;FluentNumberField&gt;</code> wraps the <code>&lt;fluent-number-field&gt;</code> element, a web component implementation of a number input field leveraging the
    Fluent UI design system.
</p>


<ApiDocumentation Component="typeof(FluentNumberField<int>)" GenericLabel="TValue" />
    
<h2>Examples</h2>

<DemoSection Title="Default" ExampleFile="NumberFieldDefault" ></DemoSection>

<DemoSection Title="Types" ExampleFile="NumberFieldTypes"></DemoSection>

<DemoSection Title="Displays" ExampleFile="NumberFieldDisplays"></DemoSection>

<DemoSection Title="Icons"ExampleFile="NumberFieldIcons"></DemoSection>

<DemoSection Title="Focus" ExampleFile="NumberFieldFocus"></DemoSection>

<DemoSection Title="Filled Appearance" ExampleFile="NumberFieldFilled"></DemoSection>

<DemoSection Title="Aria label" ExampleFile="NumberFieldAria"></DemoSection>

