<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <defs>
        <symbol id="icon" viewBox="0 0 16 16">
            <path d="M6.5 7.7h-1v-1h1v1zm4.1 0h-1v-1h1v1zm4.1-1v2.1h-1v2.6l-.1.6-.3.5c-.1.1-.3.3-.5.3l-.6.1H10l-3.5 3v-3H3.9l-.6-.1-.5-.3c-.1-.1-.3-.3-.3-.5l-.1-.6V8.8h-1V6.7h1V5.2l.1-.6.3-.5c.1-.1.3-.3.5-.3l.6-.1h3.6V1.9a.8.8 0 01-.4-.4L7 1V.6l.2-.3.3-.2L8 0l.4.1.3.2.3.3V1l-.1.5-.4.4v1.7h3.6l.6.1.5.3c.1.1.3.3.3.5l.1.6v1.5h1.1zm-2.1-1.5l-.2-.4-.4-.2H3.9l-.4.2-.1.4v6.2l.2.4.4.2h3.6v1.8L9.7 12h2.5l.4-.2.2-.4V5.2zM5.8 8.9l1 .7 1.2.2a5 5 0 001.2-.2l1-.7.7.7c-.4.4-.8.7-1.4.9-.5.2-1 .3-1.6.3s-1.1-.1-1.6-.3A3 3 0 015 9.6l.8-.7z"></path>
        </symbol>
    </defs>
</svg>
<h1>Toolbar</h1>

<h2>Default</h2>
<FluentToolbar id="toolbar-fluent-components">
    <FluentButton Appearance="Appearance.Accent">Accent Button</FluentButton>
    <FluentButton Appearance="Appearance.Stealth">Stealth Button</FluentButton>
    <FluentRadioGroup value="on">
        <FluentRadio Checked="true">One</FluentRadio>
        <FluentRadio>Two</FluentRadio>
        <FluentRadio>Three</FluentRadio>
    </FluentRadioGroup>
    <FluentCombobox class="below outline">
        <FluentOption id="option-2">Please Please Me</FluentOption>
        <FluentOption id="option-3">With The Beatles</FluentOption>
        <FluentOption id="option-4">A Hard Day's Night</FluentOption>
        <FluentOption id="option-5">Beatles for Sale</FluentOption>
        <FluentOption id="option-6">Help!</FluentOption>
        <FluentOption id="option-7">Rubber Soul</FluentOption>
        <FluentOption id="option-8">Revolver</FluentOption>
        <FluentOption id="option-9">Sgt. Pepper's Lonely Hearts Club Band</FluentOption>
        <FluentOption id="option-10">Magical Mystery Tour</FluentOption>
        <FluentOption id="option-11">The Beatles</FluentOption>
        <FluentOption id="option-12">Yellow Submarine</FluentOption>
        <FluentOption id="option-13">Abbey Road</FluentOption>
        <FluentOption id="option-14">Let It Be</FluentOption>
    </FluentCombobox>
    <FluentButton>Button</FluentButton>
    <FluentSelect class="below outline">
        <FluentOption id="option-15">Option 1</FluentOption>
        <FluentOption id="option-16">Second option</FluentOption>
        <FluentOption id="option-17">Option 3</FluentOption>
    </FluentSelect>
    <FluentCheckbox>Checkbox</FluentCheckbox>
</FluentToolbar>

<h2>Dark Mode</h2>
<FluentDesignSystemProvider fill-color="#333" style="padding:10px">
    <FluentToolbar id="toolbar-fluent-components-two" style="width:100%">
        <FluentRadioGroup Value="on">
            <FluentRadio Checked="true">Add</FluentRadio>
            <FluentRadio>Open</FluentRadio>
            <FluentRadio>Copy</FluentRadio>
            <FluentRadio>Export</FluentRadio>
            <FluentRadio>Automate</FluentRadio>
        </FluentRadioGroup>
        <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
        <FluentButton Appearance="Appearance.Accent">Refresh</FluentButton>
        <FluentBadge>21 items</FluentBadge>
        <FluentRadioGroup slot="end">
            <FluentRadio>Filter</FluentRadio>
            <FluentRadio>
                <FluentTextField placeholder="Search" type="text" Appearance="Appearance.Outline"></FluentTextField>
            </FluentRadio>
        </FluentRadioGroup>
    </FluentToolbar>
</FluentDesignSystemProvider>

<h2>Slotted End Items w/ Min Width</h2>
<FluentDesignSystemProvider fill-color="#333" style="padding:10px;min-width:800px">
    <FluentToolbar id="toolbar-fluent-components-two" style="width:100%">
        <label slot="label">slotted label</label>
        <FluentRadioGroup Value="on">
            <FluentRadio Checked="true">Add</FluentRadio>
            <FluentRadio>Open</FluentRadio>
            <FluentRadio>Copy</FluentRadio>
        </FluentRadioGroup>
        <FluentButton Appearance="Appearance.Accent">Refresh</FluentButton>
        <FluentBadge>21 items</FluentBadge>
        <FluentRadioGroup slot="end">
            <FluentRadio>Filter</FluentRadio>
            <FluentRadio>
                <FluentTextField Placeholder="Search" TextFieldType=TextFieldType.Text Appearance="Appearance.Outline"></FluentTextField>
            </FluentRadio>
        </FluentRadioGroup>
        <svg slot="end"><use href="#icon"></use></svg>
    </FluentToolbar>
</FluentDesignSystemProvider>

<h2>Toolbar with slotted span label</h2>
<FluentToolbar id="toolbar-slotted-label">
    <span slot="label">Span Label</span>
    <FluentButton>One</FluentButton>
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<h2>Toolbar with external label</h2>
<label id="toolbar-label" for="toolbar-external-label">External label</label>
<FluentToolbar aria-labelledby="toolbar-label" id="toolbar-external-label">
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<h2>Toolbar with invisible label</h2>
<FluentToolbar id="toolbar-invisible-label">
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<h2>Vertical orientation</h2>
<FluentToolbar id="toolbar-vertical-orientation" Orientation="Orientation.Vertical">
    <span slot="label">Span Label</span>
    <FluentButton>One</FluentButton>
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<h2>Disabled Elements</h2>
<FluentToolbar id="toolbar-first-disabled" Orientation="Orientation.Vertical">
    <FluentCheckbox Disabled="true">One</FluentCheckbox>
    <FluentCheckbox>Two</FluentCheckbox>
    <FluentCheckbox>Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-second-disabled" Orientation="Orientation.Vertical">
    <FluentCheckbox>One</FluentCheckbox>
    <FluentCheckbox Disabled="true">Two</FluentCheckbox>
    <FluentCheckbox>Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-last-disabled" Orientation="Orientation.Vertical">
    <FluentCheckbox>One</FluentCheckbox>
    <FluentCheckbox>Two</FluentCheckbox>
    <FluentCheckbox Disabled="true">Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-last-two-disabled" Orientation="Orientation.Vertical">
    <FluentCheckbox>One</FluentCheckbox>
    <FluentCheckbox Disabled="true">Two</FluentCheckbox>
    <FluentCheckbox Disabled="true">Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-first-last-disabled" Orientation="Orientation.Vertical">
    <FluentCheckbox Disabled="true">One</FluentCheckbox>
    <FluentCheckbox>Two</FluentCheckbox>
    <FluentCheckbox Disabled="true">Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-first-two-disabled" Orientation="Orientation.Vertical">
    <span slot="label">Span Label</span>
    <FluentCheckbox Disabled="true">One</FluentCheckbox>
    <FluentCheckbox Disabled="true">Two</FluentCheckbox>
    <FluentCheckbox>Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-disabled-all" Orientation="Orientation.Vertical">
    <FluentCheckbox Disabled="true">One</FluentCheckbox>
    <FluentCheckbox Disabled="true">Two</FluentCheckbox>
    <FluentCheckbox Disabled="true">Three</FluentCheckbox>
</FluentToolbar>

<h2>RTL Mode</h2>
<FluentToolbar id="toolbar-rtl" dir="rtl">
    <FluentCheckbox>One</FluentCheckbox>
    <FluentCheckbox>Two</FluentCheckbox>
    <FluentCheckbox>Three</FluentCheckbox>
</FluentToolbar>
<FluentToolbar id="toolbar-rtl-vertical" dir="rtl" Orientation="Orientation.Vertical">
    <FluentCheckbox>One</FluentCheckbox>
    <FluentCheckbox>Two</FluentCheckbox>
    <FluentCheckbox>Three</FluentCheckbox>
</FluentToolbar>

<h2>Start/End Slots</h2>
<FluentToolbar id="toolbar-start-end-slots">
    <svg slot="start"><use href="#icon"></use></svg>
    <svg slot="end"><use href="#icon"></use></svg>
</FluentToolbar>
<FluentToolbar id="toolbar-start-end-slots-vertical" Orientation="Orientation.Vertical">
    <svg slot="start"><use href="#icon"></use></svg>
    <svg slot="end"><use href="#icon"></use></svg>
</FluentToolbar>
