<h1>Progress</h1>
<h4>Default</h4>
<div style="width: 300px;">
    <FluentProgress Min="0" Max="100" Value="75"></FluentProgress>
    <FluentProgress></FluentProgress>
</div>
<h4>Paused</h4>
<div style="width: 300px;">
    <FluentProgress Paused="true" Min="0" Max="100" Value="75"></FluentProgress>
    <FluentProgress Paused="true"></FluentProgress>
</div>
<h4>Custom Sizes</h4>
<div style="width: 300px;">
    <FluentProgress Min="0" Max="100" Value="20"></FluentProgress>
    <FluentProgress Min="0" Max="100" Value="40" style="height: 8px;"></FluentProgress>
    <FluentProgress Min="0" Max="100" Value="60" style="height: 12px;"></FluentProgress>
    <FluentProgress Min="0" Max="100" Value="80" style="height: 16px;"></FluentProgress>
    <FluentProgress Min="0" Max="100" Value="100" style="height: 20px;"></FluentProgress>
    <FluentProgress></FluentProgress>
    <FluentProgress style="height: 8px;"></FluentProgress>
    <FluentProgress style="height: 12px;"></FluentProgress>
    <FluentProgress style="height: 16px;"></FluentProgress>
    <FluentProgress style="height: 20px;"></FluentProgress>
</div>