
<fluent-field id="xxx" label-position="above">
  <fluent-radio-group id="xxx" slot="input" aria-labelledby="radio-group-default--label" name="xxx" value="" blazor:onradiochange="1" blazor:onfocusout="2" blazor:elementreference="xxx">
    <fluent-field label-position="after">
      <fluent-radio id="xxx" slot="input" name="xxx" value=""></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
    <fluent-field label-position="after" class="my-3-o">
      <label slot="label" for="xxx">ONE
      </label>
      <fluent-radio id="xxx" slot="input" name="xxx" value="O"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
    <fluent-field label-position="after" class="my-3-o">
      <label slot="label" for="xxx">TWO
      </label>
      <fluent-radio id="xxx" slot="input" name="xxx" value="T"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
    <fluent-field label-position="after" class="my-3-o">
      <label slot="label" for="xxx" disabled="">FOUR
      </label>
      <fluent-radio id="xxx" disabled="" slot="input" name="xxx" value="F"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
  </fluent-radio-group>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>