
<fluent-field id="xxx" label-position="above">
  <fluent-radio-group id="xxx" slot="input" aria-labelledby="radio-group-default--label" value="" blazor:onfocusout="1">
    <fluent-field label-position="after" class="my-3-o">
      <label slot="label" for="xxx">Option 1
      </label>
      <fluent-radio id="xxx" slot="input" value="option1" name="xxx" blazor:onchange="2"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
    <fluent-field label-position="after" class="my-3-o">
      <label slot="label" for="xxx">Option 2
      </label>
      <fluent-radio id="xxx" slot="input" value="option2" name="xxx" blazor:onchange="3"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
    <fluent-field label-position="after" class="my-3-o">
      <label slot="label" for="xxx">Option 3
      </label>
      <fluent-radio id="xxx" slot="input" value="option3" name="xxx" blazor:onchange="4"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
  </fluent-radio-group>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>