
<fluent-field id="xxx" label-position="above">
  <fluent-radio-group id="xxx" slot="input" aria-labelledby="radio-group-default--label">
    <fluent-field id="xxx" label-position="after" class="my-3">
      <label id="xxx" slot="label" for="xxx">Test Label
      </label>
      <fluent-radio id="xxx" slot="input" value="Test Label" name="xxx" blazor:onchange="1"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
  </fluent-radio-group>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>