
<fluent-field id="xxx" label-position="above">
  <fluent-radio-group id="xxx" slot="input" aria-labelledby="radio-group-default--label" name="xxx" blazor:onradiochange="1" blazor:onfocusout="2" blazor:elementreference="xxx">
    <fluent-field label-position="after">
      <fluent-radio id="xxx" slot="input" name="xxx" value="MyOption"></fluent-radio>
      <fluent-text as="span" size="200" slot="message"></fluent-text>
    </fluent-field>
  </fluent-radio-group>
  <fluent-text as="span" size="200" slot="message"></fluent-text>
</fluent-field>
