<h4>Required</h4>
<FluentTextArea @bind-Value=value1 Required="true"></FluentTextArea>

<h4>Disabled</h4>
<FluentTextArea @bind-Value=value2 Disabled="true"></FluentTextArea>
<FluentTextArea @bind-Value=value3 Disabled="true">
    <span>label</span>
</FluentTextArea>
<FluentTextArea @bind-Value=value4 Disabled="true" Placeholder="placeholder"></FluentTextArea>

<h4>Read only</h4>
<FluentTextArea @bind-Value=value5 ReadOnly="true"></FluentTextArea>
<FluentTextArea @bind-Value=value6 ReadOnly="true">label</FluentTextArea>

@code {
    string? value1, value2, value3, value4, value5 = "Readonly text area", value6 = "Readonly text area";
}