@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<fluent-popover trigger-id="@TriggerId" anchor-id="@AnchorId">
    Hello
</fluent-popover>

@* <dialog id="@Id" class="fluent-popover">
    <p>This <span tabindex="0">is a popover</span> dialog!</p>
</dialog>
 *@
