.fluent-popover-content  {
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    line-height: 27px;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    width: 100%;
    padding: 1em;
}

    .fluent-popover-content div[part="header"] {
        font-size: 20px;
        font-weight: 600;
        width: inherit;
        margin-bottom: 12px;
    }

    .fluent-popover-content div[part="body"] {
        height: 100%;
    }

    .fluent-popover-content div[part="footer"] {
        font-size: 14px;
        font-weight: normal;
        width: inherit;
        margin-top: 12px;
    }
