<div style="display: flex;flex-direction: column; gap: 12px;">
    <FluentCheckbox Shape="@CheckboxShape.Square" Label="Square checked" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Label="Circular checked" Checked="true" />
</div>
