<div>
    <FluentCheckbox
        @bind-CheckState="checkState1"
        @bind-Value="value1"
        ThreeState="true"
        Label="Three state = true" />
    <span style="width: 50px; display: inline-block" />
    Value = @value1 - CheckState is @(checkState1 is null ? "(null indeterminate)" : checkState1.Value.ToString())
    <br />

    <FluentCheckbox
        @bind-Value="value2"
        ThreeState="false"
        Label="Three state = false" />
    <span style="width: 50px; display: inline-block" />
    Value = @value2
    <br />
    <FluentCheckbox
        @bind-CheckState="checkStateThreeStateOrderUncheckToIntermediate"
        @bind-Value="valueThreeStateOrderUncheckToIntermediate"
    ThreeState="true"
    ThreeStateOrderUncheckToIntermediate="true"
    Label="Three state with order uncheck to intermediate" />
    <span style="width: 50px; display: inline-block" />
    Value: @valueThreeStateOrderUncheckToIntermediate - CheckState is
    @(checkStateThreeStateOrderUncheckToIntermediate is null
        ? "(null indeterminate)"
        : checkStateThreeStateOrderUncheckToIntermediate.Value.ToString())
        
    <br />
    <br />
    <FluentCheckbox @bind-CheckState="checkStateShowIntermediateWithoutThreeState"
                    @bind-Value="valueShowIntermediateWithoutThreeState"
                    ShowIndeterminate="false"
                    ThreeState="true"
                    Label="Three state with show intermediate" />
    <span style="width: 50px; display: inline-block" />
    Value: @valueShowIntermediateWithoutThreeState - CheckState is
    @(checkStateShowIntermediateWithoutThreeState is null
        ? "(null indeterminate)"
        : checkStateShowIntermediateWithoutThreeState.Value.ToString())
</div>

@code {
    private bool? checkState1 = true;
    private bool value1 = false;
    private bool value2 = false;
    private bool? checkStateThreeStateOrderUncheckToIntermediate = false;
    private bool valueThreeStateOrderUncheckToIntermediate = false;
    private bool valueShowIntermediateWithoutThreeState = false;
    private bool? checkStateShowIntermediateWithoutThreeState = null;
}
