::deep .fluent-nav-link {
    width: 100%;
    color: inherit;
    align-items: center;
    text-decoration: none;
    display: flex;
}

::deep .fluent-nav-icon {
    
    min-width: 20px;
}

::deep .fluent-nav-link.disabled {
    color: var(--neutral-fill-secondary-rest) !important;
    cursor: not-allowed ;
    pointer-events: none;
}


::deep .fluent-nav-link.disabled .fluent-nav-icon {
    fill: var(--neutral-stroke-rest) !important;
}
