.fluent-calendar {
    --calendar-cell-size: 28px;
    --calendar-gap: 2px;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    color: var(--neutral-foreground-rest);
    width: calc((var(--calendar-cell-size) + 2 * var(--calendar-gap)) * 7);
    height: calc((var(--calendar-cell-size) + 3 * var(--calendar-gap)) * 8);
}

    .fluent-calendar ::deep .month {
        vertical-align: middle;
    }

    .fluent-calendar ::deep .change-month {
        float: right;
        display: flex;
        margin-right: -6px;
    }

    .fluent-calendar ::deep .previous-month,
    .fluent-calendar ::deep .next-month {
        width: var(--calendar-cell-size);
        height: var(--calendar-cell-size);
        margin-left: calc(2 * var(--calendar-gap));
        text-align: center;
    }

        .fluent-calendar ::deep .previous-month:hover,
        .fluent-calendar ::deep .next-month:hover {
            background: var(--neutral-fill-stealth-hover);
        }

    .fluent-calendar ::deep .previous-month svg,
    .fluent-calendar ::deep .next-month svg {
        width: 16px;
        fill: var(--neutral-fill-strong-focus);
    }

    .fluent-calendar ::deep .title {
        padding: calc(var(--design-unit) * 2px);
        font-weight: 600;
        width: 100%;
        height: calc(var(--calendar-cell-size) + 4 * var(--calendar-gap));
    }

    .fluent-calendar ::deep slot {
        display: contents;
    }

    .fluent-calendar ::deep .days {
        text-align: center;
    }

    .fluent-calendar ::deep div {
        display: block;
        line-height: inherit;
        font-weight: inherit;
    }

    .fluent-calendar ::deep .week-days,
    .fluent-calendar ::deep .week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: var(--calendar-gap);
        border: 0px;
        padding: 0px;
    }

    .fluent-calendar ::deep .day,
    .fluent-calendar ::deep .week-day {
        border: 1px solid transparent;
        width: var(--calendar-cell-size);
        height: var(--calendar-cell-size);
        line-height: var(--calendar-cell-size);
        padding: 0px;
        box-sizing: initial;
    }

    .fluent-calendar ::deep .week-day {
        font-weight: 600;
    }

    .fluent-calendar ::deep .day {
        border: calc(var(--stroke-width) * 1px) solid transparent;
        border-radius: calc(var(--control-corner-radius) * 1px);
        cursor: pointer;
    }

    .fluent-calendar ::deep .inactive {
        color: var(--neutral-stroke-focus);
        cursor: default;
    }

    .fluent-calendar ::deep .today .date {
        color: var(--foreground-on-accent-rest);
        background: var(--accent-fill-rest);
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }

    .fluent-calendar ::deep .selected {
        color: var(--accent-fill-rest);
        border: 1px solid var(--accent-fill-rest);
        background: var(--fill-color);
        cursor: pointer;
    }
