@namespace FluentUI.Demo.Shared.Pages.Dialog.Examples
@inherits FluentComponentBase

<div class="custom-dialog-header">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">

        <FluentButton Appearance="Appearance.Stealth" @onclick="@(() => Dialog!.CancelAsync())">
            <FluentIcon Icon="Icons.Regular.Size24.Dismiss" Width="16px" />
        </FluentButton>

        <FluentLabel Typo="Typography.PaneHeader" Style="width: 100%; margin: 0px;">@Title</FluentLabel>

    </FluentStack>
</div>