@page "/Popover"

@using FluentUI.Demo.Shared.Pages.Popover.Examples

<h1>Popover</h1>

<p>Popovers are used to display additional information about an element when the user hovers over or focuses on the element.</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Callout" Component="typeof(PopoverDefault)"></DemoSection>

<DemoSection Title="Empty parts" Component="typeof(PopoverEmptyParts)"></DemoSection>

<h2 id="documentaiton">Documentation</h2>

<ApiDocumentation Component="typeof(FluentPopover)" />
