@page "/Popover"
@using FluentUI.Demo.Shared.Pages.Popover.Examples

<h1>Popover</h1>
<p>Popovers are used to display additional information about an element when the user hovers over or focuses on the element.</p>

<ApiDocumentation Component="typeof(FluentPopover)" />

<h2>Examples</h2>
<DemoSection Title="Callout" Component="typeof(PopoverDefault)">
</DemoSection>



