@page "/Popover"

@using FluentUI.Demo.Shared.Pages.Popover.Examples

<PageTitle>@App.PageTitle("Popover")</PageTitle>

<h1>Popover</h1>

<p>Popovers are used to display additional information about an element when the user hovers over or focuses on the element.</p>
<p>Use the <code>AnchorId</code> parameter to connect the popover to the component it is positioned relative to.</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Callout" Component="typeof(PopoverDefault)"></DemoSection>

<DemoSection Title="Empty parts" Component="typeof(PopoverEmptyParts)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentPopover)" />
