<FluentInfoButton>
    This is example information for an InfoButton
    <a href="https://www.fluentui-blazor.net/InfoButton">Learn more</a>
</FluentInfoButton>

<FluentInfoButton Position="TooltipPosition.Right">
    <div style="text-wrap: nowrap;">
        This is example information for an InfoButton
        <a href="https://www.fluentui-blazor.net/InfoButton">Learn more</a>
    </div>
</FluentInfoButton>

<FluentInfoButton Position="TooltipPosition.Right" MaxWidth="">
    <div style="min-width: 500px; text-wrap:wrap">
        <strong>Part 1:</strong>
        <p>
            <b>Lorem ipsum</b> dolor sit amet, consectetur adipisci elit,
            sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            <a href="#">Lorem ipsum</a>.
        </p>

        <FluentDivider Orientation="Orientation.Horizontal" />

        <strong>Part 2:</strong>
        <p>
            Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <a href="#">Lorem ipsum</a>.
        </p>
    </div>
</FluentInfoButton>
