<p>With icon at start</p>
<FluentButton>
    Button
    <FluentIcon Icon="Icons.Regular.Size16.Globe" Slot="start" />
</FluentButton>

<p>With icon at end</p>
<FluentButton>
    <FluentIcon Icon="Icons.Regular.Size16.Globe" Slot="end" />
    Button
</FluentButton>

<p>With icon in default slot</p>
<FluentButton>
    <FluentIcon Icon="Icons.Regular.Size16.Globe" />
</FluentButton>