@import '/_content/Microsoft.Fast.Components.FluentUI/css/reboot.css'; 

body {
    height: 100%;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    padding: 12px 0;
    background-color: var(--neutral-layer-4);
    grid-area: header;
    display: grid;
    grid-template-columns: 280px 1fr auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: flex-start;
    border-bottom: calc(var(--stroke-width) * 3px) solid var(--accent-fill-rest)
}

    header .logo {
        width: 108px;
        height: 23px;
        padding: 0 30px;
        grid-column: 1;
    }

    header fluent-switch {
        width: 9rem;
    }

    header .colorgroup {
        grid-column: 3;
        display: flex;
        align-items: center;
    }
    
    header .switches {
        grid-column: 4;
        justify-self: end;
        padding: 0 20px 0 0;
        display: flex;
        align-items: center;
    }


footer {
    display: grid;
    grid-template-columns: 10px auto auto 10px;
    background: var(--neutral-layer-4);
    color: var(--neutral-foreground-rest);
    align-items: center;
    grid-area: footer;
    padding: 10px 10px;
}

    footer .version {
        grid-column: 2;
        justify-content: start;
    }

        footer .version a {
            color: var(--neutral-foreground-rest);
            text-decoration: none;
        }

            footer .version a:focus {
                outline: 1px dashed;
                outline-offset: 3px;
            }

            footer .version a:hover {
                text-decoration: underline;
            }

    footer .copy {
        grid-column: 3;
        justify-self: end;
    }

main {
    grid-area: main;
    background-color: var(--neutral-layer-1);
    color: var(--neutral-foreground-rest);
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
}

nav {
    z-index: 1;
    padding: 2.5rem 1.5rem;
    background-color: var(--neutral-layer-3);
    transition: all 300ms ease-in-out;
    grid-column: 1 / 2;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            padding: 2px 0;
        }

    nav h2 {
        font-size: var(--type-ramp-plus-1-font-size);
        line-height: var(--type-ramp-plus-1-line-height);
        padding: 15px 0;
        margin: 0;
    }

    nav h3 {
        font-size: var(--type-ramp-base-font-size);
        line-height: var(--type-ramp-minus-1-line-height);
        
        padding: 10px 0;
        margin: 0;
    }


    nav fluent-anchor {
        width: 100%;
        color: var(--fill-color);
    }

        nav fluent-anchor::part(control) {
            justify-content: start;
            background: var(--accent-fill-rest);
        }

.content {
    display: grid;
    grid-template-columns: 3fr 280px;
}

article {
    grid-area: 1 / 1;
    padding: 2.2rem 1.5rem;
    margin: 0 0;
    overflow-x: hidden;
    transition: all 300ms ease-in-out;
    
}

aside {
    padding: 2rem 0.75rem;
    border-left: 1px solid var(--neutral-stroke-divider-rest);
    grid-area: 1 / 2;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

#menu-toggle:checked > nav {
    width: 0px;
}

[dir="rtl"] #menu-toggle:checked ~ nav {
    right: 0px;
}

#color {
    margin-right: 10px;
    margin-left: 0;
}

[dir="rtl"] #color {
    margin-left: 10px;
    margin-right: 0;
}


label {
    color: var(--neutral-foreground-rest);
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: initial;
    font-variation-settings: var(--type-ramp-base-font-variations);
    margin-inline-end: calc(var(--design-unit) * 2px + 2px);
    cursor: pointer;
}

.shell, .sourceCode {
    background: var(--neutral-stroke-layer-rest);
    padding: 7px;
}

code {
    background: var(--neutral-stroke-layer-rest);
}

.demopanel {
    border: 1px dashed red;
    padding: 5px;
}

.highlighted-row {
    background-color: var(--neutral-fill-secondary-hover);
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: 20px 0;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::before {
        content: "An error has occurred. "
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

@media (max-width: 767px) {

    header {
        grid-area: header;
        grid-template-columns: 150px 1fr;
        align-items: center;
        justify-content: flex-start;
    }

        header .logo {
            width: 160px;
            height: 23px;
            padding: 0 25px;
        }


        header .switches {
            flex-direction: column;
            grid-column: 2
        }

            header .switches .label {
                padding-inline-end: 14px;
            }

        header .colorgroup {
            display: none;
        }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr;
    }

    aside {
        grid-area: 1 / 1 / 2 / 3;
        padding: 1em 0.75em;
    }

    article {
        grid-area: 2 / 1 / 3 / 3;
        padding-top: 0px;
    }

    #menu-toggle:checked ~ article {
        padding-left: 0;
        grid-area: 1 / 1 / 3 / 3;
    }

    nav ul {
        text-align: center;
        max-width: 100%;
    }

    .menu-icon {
        padding: 10px 0.75em;
        z-index: 2;
        transition: all 300ms ease-in-out;
        display: block;
        visibility: visible;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: 4rem;
    }

    #menu-toggle ~ nav {
        display: none;
    }

    #menu-toggle:checked ~ nav {
        display: block;
        grid-area: 1 / 1 / 3 / 3;
    }

    #menu-toggle ~ article {
        display: block;
    }

    #menu-toggle:checked ~ article {
        display: none;
    }

    #menu-toggle:checked + .menu-icon {
        padding-left: 89%;
    }

    [dir="rtl"] #menu-toggle:checked + .menu-icon {
    }

    footer {
        display: grid;
        grid-template-columns: 10px auto 10px;
    }

        footer .version {
            grid-column: 2;
            justify-content: start;
        }

        footer .copy {
            grid-column: 2;
            grid-row: 2;
            justify-self: end;
        }


    @media screen and (max-width: 767px) and (orientation: landscape) {

        nav {
            padding: 25px 40px;
        }

            nav ul {
                margin: 0 0;
            }

                nav ul li {
                }
    }
}

@media (max-width: 1024px) {
    fluent-select::part(control) {
        width: 150px;
    }
   
    .content {
        display: grid;
        grid-template-columns: auto;
    }
    aside {
        grid-area: 1 / 1 / 2 / 2;
        padding: 1.5em 0.75em 1em 0.75em;
    }

    article {
        grid-area: 2 / 1 / 2 / 2;
        padding-top: 0px;
    }
}


/* Surface Duo specific styling */
@media (horizontal-viewport-segments: 2) {

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 150px calc(env(viewport-segment-width 0 0) - 160px) 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 0;
        background-color: var(--neutral-layer-4);
    }

        header a {
            padding: 0px 15px;
            color: var(--neutral-foreground-rest);
        }

        header .logo {
            grid-column: 1;
            width: 108px;
            height: 23px;
            padding: 0 30px;
        }

        header .switches {
            margin-inline-start: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)); /* hinge width */
            grid-column: 3;
            justify-self: end;
            padding-left: 20px;
        }

        header .colorgroup {
            grid-column: 2;
            justify-self: end;
            z-index: 10;
        }

    main {
        display: grid;
        grid-template-columns: env(viewport-segment-width 0 0) 1fr;
        grid-template-rows: repeat(0, 1fr);
    }

    nav {
        grid-column: 1;
        width: env(viewport-segment-width 0 0)px;
    }

    .content {
        display: grid;
        grid-template-columns: auto;
    }

    aside {
        grid-area: 1 / 2 / 2 / 3;
        padding: 1.5em 0.75em 1em 0.75em;
        margin-inline-start: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)); /* hinge width */
        margin-inline-end: calc(100% - env(viewport-segment-left 1 0));
    }

    article {
        grid-area: 2 / 2 / 3 / 3;
        padding-top: 0px;
        margin-inline-start: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)); /* hinge width */
        margin-inline-end: calc(100% - env(viewport-segment-left 1 0));
    }
}
