@page "/Divider"

@using FluentUI.Demo.Shared.Pages.Divider.Examples;

<PageTitle>@App.PageTitle("Divider")</PageTitle>

<h1>Divider</h1>

<p>A web component implementation of a <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr" target="_blank" rel="noopener noreferrer">horizontal rule</a>.</p>

<p><code>&lt;FluentDivider&gt;</code> wraps the <code>&lt;fluent-divider&gt;</code> element, a web component implementation of a divider leveraging the Fluent UI design system.</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Usage examples" Component="@typeof(DividerDefault)"></DemoSection>

<DemoSection Title="Vertical divider" Component="@typeof(DividerVertical)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentDivider)" />
