<div style="display: flex; align-items: center; gap: 10px;">
	<FluentAnchor Href="#" Appearance="Appearance.Neutral">Neutral</FluentAnchor>

	<FluentAnchor Href="#" Appearance="Appearance.Accent">Accent</FluentAnchor>

	<FluentAnchor Href="#" Appearance="Appearance.Hypertext">Hypertext</FluentAnchor>

	<FluentAnchor Href="#" Appearance="Appearance.Lightweight">Lightweight</FluentAnchor>

	<FluentAnchor Href="#" Appearance="Appearance.Outline">Outline</FluentAnchor>

	<FluentAnchor Href="#" Appearance="Appearance.Stealth">Stealth</FluentAnchor>
</div>

<p style="font-weight:400;">
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ut aliquam quas quod ipsam cupiditate, voluptate,
	corrupti <FluentAnchor Class="specialbg" Appearance="Appearance.Hypertext" Href="#">doloremque totam</FluentAnchor> dicta perspiciatis 
	commodi consequatur reprehenderit laborum aliquid minima. Neque, recusandae. Adipisci.
</p>
