<div class="fluent-toast">
    <div class="fluent-toast-title-icon">
        <!-- icon -->
    </div>
    <div id="toast-title-123" class="fluent-toast-title">Email sent</div>
    <div class="fluent-toast-title-action">
        <!-- close or undo button as link -->
    </div>
    <div id="toast-body-123" class="fluent-toast-body">This is a toast body</div>
    <div class="fluent-toast-body-subtitle">Subtitle</div>
    <div class="fluent-toast-footer">
        <!-- action button 1 as link -->
        <!-- action button 2 as link -->
    </div>
</div>

@code {
  // If you want to use this razor component in standalone mode,
  // you can use a nullable IToastInstance property.
  // If the value is not null, the component is running using the ToastService.
  // `public IToastInstance? FluentToast { get; set; }`
  [CascadingParameter]
  public required IToastInstance Toast { get; set; }

  [Inject]
  public required IToastService ToastService { get; set; }

  [Parameter]
  public string? Name { get; set; }

  private async Task btnOK_Click()
  {
    await Toast.CloseAsync(ToastResult.Ok("Yes"));
  }

  private async Task btnCancel_Click()
  {
    await Toast.CloseAsync(ToastResult.Cancel("No"));
  }
}
