@page "/DesignTokens"

<PageTitle>@App.PageTitle("Design Tokens")</PageTitle>

<h1>Design Tokens</h1>

<MarkdownSection FromAsset="./_content/FluentUI.Demo.Shared/docs/DesignTokens.md" OnContentConverted="RefreshTableOfContents" />
<OfficeColorTable />

@code {
    [CascadingParameter]
    public EventCallback OnRefreshTableOfContents { get; set; }

    private async Task RefreshTableOfContents()
    {
        await OnRefreshTableOfContents.InvokeAsync();
    }
}
