.navmenu {
    background-color: var(--neutral-layer-1);
}

::deep .navmenu-main-button {
    width: 40px;
    margin-bottom: 5px
    
}


::deep .navmenu-link.nested::part(start) {
    margin-inline-start: -18px;
}

::deep .navmenu-link-nogroup::part(start) {
    margin-inline-start: -8px;
}

::deep .level1::part(start) {
    margin-inline-start: -24px!important;
}

::deep .navmenu-group.nested::part(start) {
    margin-inline-start: 4px;
}
::deep .collapsed .navmenu-group::part(content-region) {
    margin-inline-start: 5px;
}

::deep .collapsed .navmenu-link svg:first-of-type {
    margin-inline-end: 8px;
}

::deep .collapsed .navmenu-group svg:first-of-type {
    margin-inline-end: 8px;
}