<h5>Default</h5>
<FluentDivider></FluentDivider>

<h5>Role="Presentation""</h5>
<FluentDivider Role="DividerRole.Presentation"></FluentDivider>

<h5>Role="Separator""</h5>
<FluentDivider Role="DividerRole.Separator"></FluentDivider>