﻿
<h4>Role="Presentation""</h4>

<Stack Orientation="Orientation.Horizontal" VerticalAlignment="StackVerticalAlignment.Center">
    <span>before divider</span>
    <FluentDivider Style="height: 50px;" Role="DividerRole.Presentation" Orientation="Orientation.Vertical"></FluentDivider>
    <span>after divider</span>
</Stack>

<h4>Role="Separator""</h4>

<Stack Orientation="Orientation.Horizontal" VerticalAlignment="StackVerticalAlignment.Center">
    <span>before divider</span>
    <FluentDivider Style="height: 50px;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
    <span>after divider</span>
</Stack>