<p class="heavy">Slotted (span) label</p>
<FluentToolbar id="toolbar-slotted-label">
    <span slot="label">Span Label</span>
    <FluentButton>One</FluentButton>
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<p class ="heavy">External label</p>
<label id="toolbar-label" for="toolbar-external-label">External label</label>
<FluentToolbar aria-labelledby="toolbar-label" id="toolbar-external-label">
    <FluentButton>One</FluentButton>
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>

<p class="heavy">Invisible label</p>
<FluentToolbar id="toolbar-invisible-label" aria-label="Invisible label">
    <FluentButton>One</FluentButton>
    <FluentButton>Two</FluentButton>
    <FluentButton>Three</FluentButton>
</FluentToolbar>