<html>
	<head></head>
	<body>
		<table id="xxx" class="fluent-data-grid" style="grid-template-columns: 1fr; grid-template-rows: auto 1fr; height: 100%;" aria-rowcount="1" display-mode="grid" loading="true" blazor:onclosecolumnheaderui="1" blazor:elementreference="xxx">
			<thead>
				<tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="4" blazor:onfocus="5">
					<th col-index="1" style="min-height: 40px;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="12" cell-type="columnheader" col-justify="start" col-sort="asc" scope="col" aria-sort="ascending">
						<div style="display: flex; justify-content: flex-start; padding: 0 6px; ">
							<div col-title="">
								<div col-title-text="">Name</div>
							</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="fluent-data-grid-row" data-row-index="1" role="row" row-state="empty-content" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="8" blazor:onfocus="9">
					<td col-index="0" style="grid-column: 1 / 2;" role="gridcell">
						<p>empty content</p>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>


