
<table id="xxx" class="fluent-data-grid grid" style="grid-template-columns: 1fr;" aria-rowcount="4" blazor:onclosecolumnoptions="1" blazor:onclosecolumnresize="2" blazor:elementreference="xxx">
  <thead>
    <tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="5" blazor:onfocus="6">
      <th col-index="1" class="column-header col-sort-asc" style="grid-column: 1; height: 32px; min-height: 44px; z-index: 5;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="25" scope="col" aria-sort="ascending">
        <div style="display: flex; justify-content: flex-start;">
          <div class="col-title" style="width: calc(100% - 10px);">
            <div class="col-title-text">Name</div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="13" blazor:onfocus="14" aria-rowindex="2">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="28">Denis Voituron</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="17" blazor:onfocus="18" aria-rowindex="3">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="31">Vincent Baaij</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="4" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="21" blazor:onfocus="22" aria-rowindex="4">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="34">Bill Gates</td>
    </tr>
  </tbody>
</table>