
<table id="xxx" class="fluent-data-grid grid" style="grid-template-columns: 1fr;" aria-rowcount="4" blazor:onclosecolumnoptions="1" blazor:onclosecolumnresize="2" blazor:elementreference="xxx">
  <tbody>
    <tr class="fluent-data-grid-row" data-row-index="1" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="9" blazor:onfocus="10" aria-rowindex="1">
      <td col-index="1" class="col-justify-start" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="21">Denis Voituron</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="13" blazor:onfocus="14" aria-rowindex="2">
      <td col-index="1" class="col-justify-start" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="24">Vincent Baaij</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="17" blazor:onfocus="18" aria-rowindex="3">
      <td col-index="1" class="col-justify-start" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="27">Bill Gates</td>
    </tr>
  </tbody>
</table>