
<table id="xxx" class="fluent-data-grid grid" style="grid-template-columns: 1fr 1fr;" aria-rowcount="5" blazor:onclosecolumnoptions="1" blazor:onclosecolumnresize="2" blazor:elementreference="xxx">
  <thead>
    <tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="5" blazor:onfocus="6">
      <th col-index="1" class="column-header col-sort-desc" style="grid-column: 1; height: 32px; min-height: 44px; z-index: 5;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="29" scope="col" aria-sort="descending">
        <div style="display: flex; justify-content: flex-start;">
          <span class="keycapture" style="width: 100%;" blazor:oncontextmenu="57" blazor:elementreference="xxx">
            <fluent-button class="col-sort-button" style="width: calc(100% - 10px);" appearance="subtle" blazor:onclick="x">
              <div class="col-title-text">Item1</div>
              <svg slot="end" style="width: 20px; opacity: var(--fluent-data-grid-header-opacity);" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
                <path d="m10 15.29 2.65-2.64a.5.5 0 0 1 .7.7L9.9 16.82a.5.5 0 0 1-.74.03h-.01l-3.5-3.5a.5.5 0 1 1 .71-.7L9 15.29V3.5a.5.5 0 0 1 1 0v11.79Z"></path>
              </svg>
            </fluent-button>
          </span>
        </div>
      </th>
      <th col-index="2" class="column-header" style="grid-column: 2; height: 32px; min-height: 44px; z-index: 5;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="32" scope="col" aria-sort="none">
        <div style="display: flex; justify-content: flex-start;">
          <div class="col-title" style="width: calc(100% - 10px);">
            <div class="col-title-text">Item2</div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="fluent-data-grid-row" data-row-index="4" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="21" blazor:onfocus="22" aria-rowindex="2">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="47">D</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="50">A</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="5" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="25" blazor:onfocus="26" aria-rowindex="3">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="53">C</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="56">B</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="13" blazor:onfocus="14" aria-rowindex="4">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="35">B</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="38">C</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="17" blazor:onfocus="18" aria-rowindex="5">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="41">A</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="44">D</td>
    </tr>
  </tbody>
</table>