<html>
	<head></head>
	<body>
		<table id="xxx" class="fluent-data-grid" style="grid-template-columns: 1fr;" aria-rowcount="4" display-mode="grid" blazor:onclosecolumnheaderui="1" blazor:elementreference="xxx">
			<tbody>
				<tr class="fluent-data-grid-row" data-row-index="1" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="8" blazor:onfocus="9" aria-rowindex="1">
					<td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" col-justify="start">Denis Voituron</td>
				</tr>
				<tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="12" blazor:onfocus="13" aria-rowindex="2">
					<td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" col-justify="start">Vincent Baaij</td>
				</tr>
				<tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="16" blazor:onfocus="17" aria-rowindex="3">
					<td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" col-justify="start">Bill Gates</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>

