
<table id="xxx" class="fluent-data-grid grid loading" style="grid-template-columns: 1fr; grid-template-rows: auto 1fr; height: 100%;" aria-rowcount="1" blazor:onclosecolumnoptions="1" blazor:onclosecolumnresize="2" blazor:elementreference="xxx">
  <thead>
    <tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="5" blazor:onfocus="6">
      <th col-index="1" class="column-header col-justify-start col-sort-asc" style="min-width: 100px; min-height: 44px; z-index: 5;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="16" scope="col" aria-sort="ascending">
        <div style="display: flex; justify-content: flex-start; margin-inline-end: 5px; margin-inline-start: 5px;">
          <div class="col-title" style="width: calc(100% - 10px);">
            <div class="col-title-text">Name</div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="fluent-data-grid-row empty-content-row" data-row-index="1" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="9" blazor:onfocus="10">
      <td col-index="0" class="empty-content-row empty-content-cell" style="grid-column: 1 / 2;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="13">
        <p>empty content</p>
      </td>
    </tr>
  </tbody>
</table>