
<table id="xxx" class="fluent-data-grid grid" style="grid-template-columns: 0.5fr 0.5fr;" aria-rowcount="5" blazor:onclosecolumnoptions="1" blazor:onclosecolumnresize="2" blazor:elementreference="xxx">
  <thead>
    <tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="5" blazor:onfocus="6">
      <th col-index="1" class="column-header col-sort-asc resizable" style="grid-column: 1; height: 32px; min-height: 44px; z-index: 5;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="29" scope="col" aria-sort="ascending">
        <div style="display: flex; justify-content: flex-start;">
          <span class="keycapture" style="width: 100%;" blazor:oncontextmenu="57" blazor:elementreference="xxx">
            <fluent-button class="col-sort-button" style="width: calc(100% - 10px);" appearance="subtle" blazor:onclick="x">
              <div class="col-title-text">First Name</div>
              <svg slot="end" style="width: 20px; opacity: var(--fluent-data-grid-header-opacity);" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x">
                <path d="M9 4.71 6.35 7.35a.5.5 0 1 1-.7-.7L9.1 3.18a.5.5 0 0 1 .74-.03h.01l3.5 3.5a.5.5 0 1 1-.71.7L10 4.71V16.5a.5.5 0 0 1-1 0V4.71Z"></path>
              </svg>
            </fluent-button>
          </span>
        </div>
        <div class="resize-handle"></div>
      </th>
      <th col-index="2" class="column-header resizable" style="grid-column: 2; height: 32px; min-height: 44px; z-index: 5;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="32" scope="col" aria-sort="none">
        <div style="display: flex; justify-content: flex-start;">
          <span class="keycapture" style="width: 100%;" blazor:oncontextmenu="58" blazor:elementreference="xxx">
            <fluent-button class="col-sort-button" style="width: calc(100% - 10px);" appearance="subtle" blazor:onclick="x">
              <div class="col-title-text">Last Name</div>
            </fluent-button>
          </span>
        </div>
        <div class="resize-handle"></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="13" blazor:onfocus="14" aria-rowindex="2">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="35">Dolly</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="38">Parton</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="17" blazor:onfocus="18" aria-rowindex="3">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="41">James</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="44">Bond</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="4" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="21" blazor:onfocus="22" aria-rowindex="4">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="47">Nicole</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="50">Kidman</td>
    </tr>
    <tr class="fluent-data-grid-row" data-row-index="5" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="25" blazor:onfocus="26" aria-rowindex="5">
      <td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="53">Tom</td>
      <td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="56">Cruise</td>
    </tr>
  </tbody>
</table>