<html>
	<head></head>
	<body>
		<table id="xxx" class="fluent-data-grid" style="grid-template-columns: 1fr;" aria-rowcount="3" display-mode="grid" blazor:onclosecolumnheaderui="1" blazor:elementreference="xxx">
			<thead>
				<tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="4" blazor:onfocus="5">
					<th col-index="1" style="grid-column: 1; height: 32px; min-height: 40px;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="20" cell-type="columnheader" col-justify="start" scope="col" aria-sort="none">
						<div style="display: flex; justify-content: flex-start; padding: 0 6px; ">
							<div col-title="">
								<div col-title-text="">Id</div>
							</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="12" blazor:onfocus="13" aria-rowindex="2">
					<td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" col-justify="start">1</td>
				</tr>
				<tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="16" blazor:onfocus="17" aria-rowindex="3">
					<td col-index="1" style="grid-column: 1; height: 32px;" role="gridcell" tabindex="0" col-justify="start">2</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>

