<html>
	<head></head>
	<body>
		<table id="xxx" class="fluent-data-grid" style="grid-template-columns: 50px auto;" aria-rowcount="4" display-mode="grid" blazor:onclosecolumnheaderui="1" blazor:elementreference="xxx">
			<thead>
				<tr class="fluent-data-grid-row" data-row-index="0" role="row" row-type="header" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="4" blazor:onfocus="5">
					<th col-index="1" style="grid-column: 1; text-align: center; align-content: center; padding-top: 10px; height: 32px; min-height: 40px;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="24" cell-type="columnheader" col-justify="center" col-select="true" select-all="true" scope="col" aria-sort="none">
						<div style="cursor: pointer;" blazor:onclick="x" blazor:onkeydown="x">➖</div>
					</th>
					<th col-index="2" style="grid-column: 2; height: 32px; min-height: 40px;" blazor:oncontextmenu:preventdefault="" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="29" cell-type="columnheader" col-justify="start" scope="col" aria-sort="none">
						<div style="display: flex; justify-content: flex-start; padding: 0 6px; ">
							<div col-title="">
								<div col-title-text="">Name</div>
							</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="fluent-data-grid-row" data-row-index="2" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="12" blazor:onfocus="13" aria-rowindex="2">
					<td col-index="1" style="grid-column: 1; text-align: center; align-content: center; padding-top: 6px; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="32" col-justify="center" col-select="true">
					</td>
					<td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" col-justify="start">Jean Martin</td>
				</tr>
				<tr class="fluent-data-grid-row" data-row-index="3" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="16" blazor:onfocus="17" aria-rowindex="3">
					<td col-index="1" style="grid-column: 1; text-align: center; align-content: center; padding-top: 6px; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="35" col-justify="center" col-select="true">✅</td>
					<td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" col-justify="start">Kenji Sato</td>
				</tr>
				<tr class="fluent-data-grid-row" data-row-index="4" role="row" blazor:onkeydown="x" blazor:onclick="x" blazor:ondblclick="20" blazor:onfocus="21" aria-rowindex="4">
					<td col-index="1" style="grid-column: 1; text-align: center; align-content: center; padding-top: 6px; height: 32px;" role="gridcell" tabindex="0" blazor:onkeydown="x" blazor:onclick="x" blazor:onfocus="38" col-justify="center" col-select="true">✅</td>
					<td col-index="2" style="grid-column: 2; height: 32px;" role="gridcell" tabindex="0" col-justify="start">Julie Smith</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>

