.snippet {
    margin-bottom: 0.5rem;
    border: var(--strokeWidthThin) solid var(--colorNeutralBackground6);
    border-radius: var(--borderRadiusMedium);
    overflow-y: auto;
}

::deep .hljs {
    background-color: var(--colorNeutralBackground3);

    border-radius: var(--borderRadiusMediu );
}

::deep .hljs-copy-button {
    border-color: var(--colorNeutralStroke1);
    color: var(--colorBrandForeground1);
    top: 0.4rem;
}


    ::deep .hljs-copy-button:hover {
        border-color: var(--colorNeutralStroke1Hover);
    }

    ::deep .hljs-copy-button:active {
        border-color: var(--colorNeutralStroke1HoverPressed);
    }

::deep .hljs-copy {
    cursor: pointer;
    border-color: var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
    color: var(--colorBrandForeground1);
    background-color: var(--colorNeutralBackground4);
    top: 0.4rem;
}

::deep .hljs-copy {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));

    right: 1em;
    transition: background-color 200ms ease, transform 200ms ease-out;
}

.hljs-copy-wrapper ::deep {
    position: relative;
    overflow: hidden
}

    .hljs-copy-wrapper:hover ::deep .hljs-copy, .hljs-copy:focus {
        transform: translateX(0);
    }

