<h5>Neutral</h5>
<FluentAnchor Href="#" Appearance="Appearance.Neutral">Button</FluentAnchor>

<h5>Accent</h5>
<FluentAnchor Href="#" Appearance="Appearance.Accent">Anchor</FluentAnchor>

<h5>Hypertext</h5>
<FluentAnchor Href="#" Appearance="Appearance.Hypertext">Anchor</FluentAnchor>
<br />
<FluentAnchor Appearance="Appearance.Hypertext">Anchor (no Href)</FluentAnchor>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ut aliquam quas quod ipsam cupiditate, voluptate,
    corrupti
    <FluentAnchor Appearance="Appearance.Hypertext" Href="#">doloremque totam</FluentAnchor>
    dicta perspiciatis commodi consequatur reprehenderit laborum aliquid minima. Neque, recusandae. Adipisci.
</p>

<h5>Lightweight</h5>
<FluentAnchor Href="#" Appearance="Appearance.Lightweight">Anchor</FluentAnchor>

<h5>Outline</h5>
<FluentAnchor Href="#" Appearance="Appearance.Outline">Anchor</FluentAnchor>

<h5>Stealth</h5>
<FluentAnchor Href="#" Appearance="Appearance.Stealth">Anchor</FluentAnchor>