<FluentSelect Label="500 Names"
              Placeholder="Select a name"
              Items="@Names"
              @bind-Value="@Value" />

<div>
    Selected: @Value
</div>

@code {
    static string[] Names = SampleData.People.GeneratePersons(500).Select(i => $"{i.FirstName} {i.LastName}").ToArray();
    string? Value;
}
