fluent-data-grid {
    --col-gap: 1rem;
}

::deep > fluent-data-grid-row > fluent-data-grid-cell.grid-cell-placeholder:after {
    content: '\2026'; /*horizontal ellipsis*/
    opacity: 0.75;
}


::deep .col-width-draghandle {
    height: auto;
    width: 4px;
    right: calc(var(--col-gap)/2 - 0.5rem);
    /*margin: 0 calc(var(--design-unit) * 1px);*/
    border-top: none;
    border-left: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-divider-rest);
    cursor: col-resize;
}

    .col-width-draghandle:hover, .col-width-draghandle:active {
        background: var(--neutral-stroke-divider-rest);
    }

