<div style="display: flex;">
    <TokenEditor Style="width: 500px; height: calc(100vh - 170px); overflow-y: auto; overflow-x: hidden;" />
    <div>
        <h3>Preview:</h3>
        <fluent-button appearance="primary">Primary</fluent-button>
    </div>
</div>
