<div style="border: 1px solid red; overflow: hidden; resize: both; height: 500px;">
    <FluentLayout>
        <FluentHeader>My Header</FluentHeader>

        <FluentContent Area="menu" Width="150px" Sticky>
            <p>LEFT</p>
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
        </FluentContent>

        <FluentContent Area="content">
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
        </FluentContent>

        <FluentContent Area="aside" Sticky>
            RIGHT
        </FluentContent>

        <FluentFooter>My Footer</FluentFooter>
    </FluentLayout>
</div>
