@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@using System.Collections.Generic
@using System.Diagnostics.CodeAnalysis

@typeparam TItem

@if (SortableItemTemplate is not null)
{
    <div id="@Id" class="@ClassValue" style="@StyleValue">
        @foreach (var item in Items)
        {
            @SortableItemTemplate(item)
        }
    </div>
}
