<html>
	<head></head>
	<body>
		<fluent-field id="xxx" label-position="above" class="my-3-o">
			<label id="xxx" slot="label" for="xxx">number
			</label>
			<fluent-text-input appearance="outline" autocomplete="off" id="xxx" inputmode="numeric" slot="input" spellcheck="false" value="0" blazor:onfocusout="1" blazor:onchange="2" blazor:ontextimmediate="3" blazor:elementreference="xxx">
				<div slot="end">
					<div>
						<div button-step="up">
							<svg style="width: 20px; fill: var(--colorNeutralForeground1); cursor: pointer;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x" blazor:elementreference="xxx">
								<path d="M4.15 12.35a.5.5 0 0 1 0-.7L9.6 6.16a.55.55 0 0 1 .78 0l5.46 5.49a.5.5 0 0 1-.7.7L10 7.2l-5.15 5.16a.5.5 0 0 1-.7 0Z"></path>
							</svg>
						</div>
						<div button-step="down">
							<svg style="width: 20px; fill: var(--colorNeutralForeground1); cursor: pointer;" focusable="false" viewBox="0 0 20 20" aria-hidden="true" blazor:onkeydown="x" blazor:onclick="x" blazor:elementreference="xxx">
								<path d="M15.85 7.65c.2.2.2.5 0 .7l-5.46 5.49a.55.55 0 0 1-.78 0L4.15 8.35a.5.5 0 1 1 .7-.7L10 12.8l5.15-5.16c.2-.2.5-.2.7 0Z"></path>
							</svg>
						</div>
					</div>
				</div>
			</fluent-text-input>
		</fluent-field>
	</body>
</html>