<html>
	<head></head>
	<body>
		<fluent-field id="xxx" label-position="above" class="my-3-o" style="width: 100px;">
			<label id="xxx" slot="label" for="xxx">int
			</label>
			<fluent-text-input style="width: 100px;" appearance="outline" autocomplete="off" id="xxx" inputmode="numeric" slot="input" spellcheck="false" value="1234" blazor:onfocusout="1" blazor:onchange="2" blazor:ontextimmediate="3" blazor:elementreference="xxx">
				<div slot="end"></div>
			</fluent-text-input>
		</fluent-field>
	</body>
</html>