@page "/Videos"

<PageTitle>@App.PageTitle("Videos")</PageTitle>

<h1>Videos</h1>

<p>See below for some recent appearances of the library in YouTube videos</p>

<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title" style="overflow: unset;">Open at Microsoft - 2024</div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/lUZ5mrg2Q8k" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title"></div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/jOv9ioCVDFU" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title"></div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/HTUemhV9W-M" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">ASP.NET Community Standup 2024</div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/1fveBAi6Q7I" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="4">
        <div class="youtube-title">.NET Conf 2023</div>
        <div class="youtube-responsive">
            <iframe src="https://www.youtube.com/embed/a0xOqNemRoY" frameborder="0" allowfullscreen></iframe>
        </div>
    </FluentGridItem>
</FluentGrid>


@code {

}
