.icon-explorer-criteria {
    display: flex;
    gap: 10px;
}

.icon-explorer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 600px;
    align-content: start;
}

    .icon-explorer ::deep .card {
        height: 100px;
        width: 100px;
        margin: 10px;
        text-align: center;
    }

    .icon-explorer ::deep .copy {
        position: fixed;
        top: 5px;
        right: 5px;
    }

    .icon-explorer ::deep .icon {
        height: 50px;
        width: 100px;
        display: table-cell;
        vertical-align: middle;
    }

    .icon-explorer ::deep label {
        height: 20px;
        width: 100px;
        text-align: center;
        font-size: 10px;
        font-family: Monaco, monospace;
        white-space: nowrap;
        overflow: hidden;
        background: var(--neutral-stroke-rest);
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
