﻿﻿
<h4>Role="Presentation""</h4>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <span>before divider</span>
    <FluentDivider Style="height: 50px;" Role="DividerRole.Presentation" Orientation="Orientation.Vertical"></FluentDivider>
    <span>after divider</span>
</FluentStack>

<h4>Role="Separator""</h4>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <span>before divider</span>
    <FluentDivider Style="height: 50px;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
    <span>after divider</span>
</FluentStack>