@inject IMessageService MessageService
<p>
Click on this button to display a message (max 5).
</p>
<FluentButton OnClick="@DisplayMessage" Appearance="Appearance.Accent">Display</FluentButton>
<FluentButton Appearance="Appearance.Hypertext" OnClick="@((e) => MessageService.Clear())">Clear all messages</FluentButton>

@code
{
    int counter = 0;
    void DisplayMessage()
    {
        counter++;

        MessageAction link = new ()
        {
            Text = "Learn more",
            Href = "https://bing.com",
            OnClick = (e) => { DemoLogger.WriteLine($"Message 'learn more' clicked"); return Task.CompletedTask; }
        };

        MessageService.Add(options =>
        {
            options.Section = App.MESSAGES_TOP;
            options.Title = $"This is a message #{counter}.";
            options.Body = @"<em>You can't click these buttons really quickly</em";
            options.Intent = Enum.GetValues<MessageIntent>()[counter % 4];
            options.Icon = new Icons.Regular.Size24.PersonCircle();            
            options.ClearAfterNavigation = true;
            options.OnClose = (e) => { DemoLogger.WriteLine($"Message {e.Intent} dismissed"); return Task.CompletedTask; };
            options.Link = link;
        });
    }
}