@implements IDialogContentComponent<SimplePerson>
@inject IMessageBarService MessageService

<div style="margin-right: 7px;">

    <FluentStack>
        <FluentAnchor Href="/DataGrids" IconEnd="@(new Icons.Regular.Size20.ArrowRight())">
            More events in the activity log
        </FluentAnchor>
        <FluentSpacer />
        <FluentAnchor Href="" @onclick="@(e => MessageService.Clear(App.MESSAGE_NOTIFICATION_CENTER) )">
            Dismiss all
        </FluentAnchor>
    </FluentStack>

    <br />

    <FluentMessageBarContainer Section="@App.MESSAGE_NOTIFICATION_CENTER"
                        MaxMessageCount="-1"
                        Format="@MessageBarFormat.Notification" />
</div>

@code {
    [Parameter]
    public SimplePerson Content { get; set; } = default!;
}