.fluent-toasts {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.fluent-toast-top-left,
.fluent-toast-top-start {
    top: 24px;
    left: 24px;
    right: unset;
}

[dir='rtl'] .fluent-toast-top-left,
[dir='rtl'] .fluent-toast-top-start {
    top: 24px;
    right: 24px;
    left: unset;
}

.fluent-toast-top-center {
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.fluent-toast-top-right,
.fluent-toast-top-end {
    top: 24px;
    right: 24px;
    left:unset;
}

[dir='rtl'] .fluent-toast-top-right,
[dir='rtl'] .fluent-toast-top-end {
    top: 24px;
    left: 24px;
    right: unset;
}

.fluent-toast-bottom-left,
.fluent-toast-bottom-start {
    bottom: 24px;
    left: 24px;
    right:unset;
}

[dir='rtl'] .fluent-toast-bottom-left,
[dir='rtl'] .fluent-toast-bottom-start {
    bottom: 24px;
    right: 24px;
    left: unset;
}

.fluent-toast-bottom-center {
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.fluent-toast-bottom-right,
.fluent-toast-bottom-end {
    bottom: 24px;
    right: 24px;
    left: unset;
}

[dir='rtl'] .fluent-toast-bottom-right,
[dir='rtl'] .fluent-toast-bottom-end {
    bottom: 24px;
    left: 24px;
    right: unset;
}