@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
<div @attributes="AdditionalAttributes" class="@ClassValue" style="@StyleValue">
    @if (Toasts != null)
    {
        @foreach (var toast in Toasts)
        {
            <FluentToast @key="toast" ToastItem="@toast"></FluentToast>
        }
    }
</div>