@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inherits FluentComponentBase
@namespace Microsoft.Fast.Components.FluentUI

@if (ChildContent is not null)
{
    <CascadingValue Value="this" IsFixed="true">
        <div class="fluent-toast" @onclick="HandleOnClickAsync">
            @ChildContent
        </div>
    </CascadingValue>
}

