@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inherits FluentComponentBase

@namespace Microsoft.Fast.Components.FluentUI

<CascadingValue Value="this" IsFixed="true">
    <div class="fluent-toast" id="@Id" tabindex="0" @onfocus="PauseTimeout" @onblur="ResumeTimeout">
        <DynamicComponent Type="@Instance.ContentType" Parameters="@Instance.Parameters.Parameters" />
        
        
    </div>
</CascadingValue>
