.icon-explorer {
    display: flex;
    flex-direction: column;
}

    .icon-explorer h2 {
        margin: 32px 0px;
    }

    .icon-explorer ::deep .not-found {
        margin: 32px;
        flex-wrap: wrap;
        width: 100%;
        font-weight: bold;
        text-align: center;
    }
