.icon-explorer {
    display: flex;
    flex-direction: column;
}

    .icon-explorer h2 {
        margin: 32px 0px;
    }

    .icon-explorer ::deep .result-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        align-content: start;
        height: 100%;
    }

        .icon-explorer ::deep .result-list >div{
            display: flex;
            width: 100%;
            height: 120px;
        }


        .icon-explorer ::deep .not-found {
            margin: 32px;
            flex-wrap: wrap;
            width: 100%;
            font-weight: bold;
            text-align: center;
        }
