.icon-explorer {
    display: flex;
    flex-direction: column;
}

    .icon-explorer ::deep .result-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        align-content: start;
    }

    .icon-explorer ::deep .not-found {
        margin: 32px;
        flex-wrap: wrap;
        width: 100%;
        font-weight: bold;
        text-align: center;
    }
