<FluentAccordion ExpandMode="AccordionExpandMode.Single">
    <FluentAccordionItem Heading="Panel one">
        <div slot="start">
            <button>1</button>
        </div>
        <div slot="end">
            <button>1</button>
        </div>
        Panel one content
    </FluentAccordionItem>
    <FluentAccordionItem Heading="Panel two">
        Panel two content
    </FluentAccordionItem>
    <FluentAccordionItem Heading="Panel three">
        Panel three content
    </FluentAccordionItem>
</FluentAccordion>