<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="FluentUI.Demo.AssetExplorer.styles.css" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>

<body style="max-width: 100%; overflow-x: hidden; background: var(--neutral-layer-1);">
    <Routes @rendermode="@RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
