@page "/Layout"
@using FluentUI.Demo.Shared.Pages.Layout.Examples
<h1>Layout</h1>

<p>
    The <code>FluentLayout</code> component is a container for other components. It is used to create a layout for a page.
</p>
<p>
    The <code>FluentLayout</code> component has a <code>ChildContent</code> parameter that can be used to add other components to the layout.
</p>

<ApiDocumentation Component="typeof(FluentLayout)" />

<h2>Example</h2>
<DemoSection Component="typeof(LayoutDefault)" Title="Layout" />