.fluent-overflow[orientation="horizontal"] {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    gap: 5px;
}

.fluent-overflow[orientation="vertical"] {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.fluent-overflow-more {
    min-width: 32px;
    max-width: 32px;
    flex-shrink: 0;
}

.fluent-overflow-more[style*="visibility: hidden"] {
    pointer-events: none;
}

.fluent-overflow > *[overflow] {
    display: none;
}

.fluent-overflow > *[fixed] {
    flex-shrink: 0;
}

.fluent-overflow .fluent-overflow-item[fixed='ellipsis'] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: fit-content;
}
