.fluent-overflow[orientation="horizontal"] {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    gap: 5px;
}

.fluent-overflow[orientation="vertical"] {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.fluent-overflow-more {
    min-width: 32px;
    max-width: 32px;
}

.fluent-overflow ::deep > *[overflow] {
    display: none;
}

.fluent-overflow ::deep .fluent-overflow-item[fixed='ellipsis'] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}
