.fluent-overflow[orientation="horizontal"] {
    --fluent-overflow-gap: 4px;
}

.fluent-overflow[orientation="vertical"] {
    --fluent-overflow-gap: 0px;
}

.fluent-overflow:not(:defined)[visible-on-load="false"] {
    visibility: hidden;
}

.fluent-overflow-more {
    min-width: 32px;
    max-width: 32px;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fluent-overflow > [hidden] {
    display: none;
}
