<FluentSelect TOption="ImageFit" Items="@(Enum.GetValues<ImageFit>())" @bind-Value="@_selectedFit"/>
<div style="width: auto; height: 400px; margin-top: 10px">
    <FluentImage Fit="@_selectedFit" Source="https://picsum.photos/200" AlternateText="Placeholder Image"/>
</div>

@code{
    ImageFit _selectedFit;
}
