<FluentSelect TOption="ImageShape" Items="@(Enum.GetValues<ImageShape>())" @bind-Value="@_selectedShape"/>
<div style="width: auto; height: 400px; margin-top: 10px">
    <FluentImage Shape="@_selectedShape" Source="https://picsum.photos/200" AlternateText="Placeholder Image"/>
</div>

@code{
    ImageShape _selectedShape;
}
