﻿<h4>Default</h4>
<FluentDivider></FluentDivider>
<br />
<h4>Role="Presentation""</h4>
<p>
    <FluentStack Orientation="Orientation.Vertical">
        <span>before divider</span>
        <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
        <span>after divider</span>
    </FluentStack>
</p>

<h4>Role="Separator""</h4>
<p>
    <FluentStack Orientation="Orientation.Vertical">
        <span>before divider</span>
        <FluentDivider Style="width: 100%;" Orientation=Orientation.Horizontal Role="DividerRole.Separator"></FluentDivider>
        <span>after divider</span>
    </FluentStack>
</p>