@page "/Layout"

<h1>Layout</h1>

<p>
    The <code>FluentLayout</code> component is a container for other components. It is used to create a layout for a page.
</p>
<p>
    The <code>FluentLayout</code> component has a <code>ChildContent</code> parameter that can be used to add other components to the layout.
</p>

<ApiDocumentation Component="typeof(FluentLayout)" />

<h2>Example</h2>
<DemoSection Component="typeof(FluentLayout)" Title="Layout" HideAllButExample=true ComponentParameters="@(new Dictionary<string, object>(){ {"ChildContent",(RenderFragment)(builder => builder.AddMarkupContent(1,"<div style=\"display: flex;\">This is some content displayed in a Layout</div>")) } })">
    <ChildContent>
        <CodeSnippet>
&lt;FluentLayout&gt;
    This is some content displayed in a Layout
&lt;/FluentLayout&gt;
        </CodeSnippet>
        <p>Renders as:</p>
    </ChildContent>
</DemoSection>

@code {

}
