@page "/Rating"
@using FluentUI.Demo.Shared.Pages.Rating.Examples

<PageTitle>@App.PageTitle("Rating")</PageTitle>

<h1>Rating</h1>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="@typeof(RatingDefault)"></DemoSection>

<DemoSection Title="Example" Component="@typeof(RatingExample)"></DemoSection>

<h4>Keyboard Navigation</h4>

<p>
    <string>ArrowLeft</string> or  <string>ArrowDown</string>  key to decrease value by 1
    <string>ArrowRight</string> or  <strong>ArrowUp</strong>  key to increase value by 1
    <string>Shift+ArrowLeft</string> key to set value 0
    <string>Shift+ArrowRight</string> key to increase value to max
</p>


<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentRating)" />
