@page "/Rating"
@using FluentUI.Demo.Shared.Pages.Rating.Examples

<PageTitle>@App.PageTitle("Rating")</PageTitle>

<h1>Rating</h1>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="@typeof(RatingDefault)"></DemoSection>

<DemoSection Title="Example" Component="@typeof(RatingExample)"></DemoSection>

<h4>Keyboard Navigation</h4>

<p><strong>ArrowLeft</strong> or  <strong>ArrowDown</strong>  key to decrease value by 1</p>
<p><strong>ArrowRight</strong> or  <strong>ArrowUp</strong>  key to increase value by 1</p>
<p><strong>Shift+ArrowLeft</strong> key to set value 0</p>
<p><strong>Shift+ArrowRight</strong> key to increase value to max</p>

<DemoSection Title="Event" Component="@typeof(RatingEvent)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentRating)" />
