<html>
	<head></head>
	<body>
		<nav id="xxx" role="navigation" class="fluent-nav">
			<a fuib="" id="xxx" tabindex="-1" href="#" rel="" blazor:onclick="x" class="fluent-navitem">
				<span style="width: 20px;"></span>
				Test Item 1</a>
			<button fuib="" id="xxx" tabindex="-1" class="fluent-navitem disabled" href="#" rel="" disabled="" blazor:onclick="x">
				<span style="width: 20px;"></span>
				Test Item 2</button>
			<button fuib="" id="xxx" tabindex="-1" class="fluent-navitem" rel="" blazor:onclick="x">
				<span style="width: 20px;"></span>
				Test Item 3</button>
		</nav>
	</body>
</html>