@using Xunit
@using Microsoft.FluentUI.AspNetCore.Components
@inherits Bunit.TestContext

@code {
    public FluentNavTests()
    {
        JSInterop.Mode = JSRuntimeMode.Loose;
        Services.AddFluentUIComponents();
    }

    [Fact]
    public void FluentNav_Renders_WithDefaultParameters()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav>
            <div>Test Content</div>
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("Test Content", cut.Markup);
        Assert.Contains("navmenu-container", cut.Markup);
        Assert.Contains("fluent-nav", cut.Markup);
    }

    [Fact]
    public void FluentNav_Renders_AppTitle()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav AppTitle="My App">
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("My App", cut.Markup);
        Assert.Contains("appitem", cut.Markup);
    }

    [Fact]
    public void FluentNav_Does_Not_Render_AppTitle_When_Empty()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav AppTitle="">
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.DoesNotContain("appitem", cut.Markup);
    }

    [Fact]
    public void FluentNav_Renders_With_CustomAppLink()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav AppTitle="My App" AppLink="/custom-link">
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("href=\"/custom-link\"", cut.Markup);
    }

    
    [Fact]
    public void FluentNav_Renders_With_CustomId()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav Id="my-drawer-id">
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("id=\"my-drawer-id\"", cut.Markup);
    }

    [Fact]
    public void FluentNav_Renders_With_CustomClass()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav Class="custom-drawer-class">
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("custom-drawer-class", cut.Markup);
    }

    [Fact]
    public void FluentNav_Renders_With_CustomStyle()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav Style="background-color: red;">
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("background-color: red;", cut.Markup);
    }

    [Fact]
    public void FluentNav_Renders_With_Small_Density()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav Density="NavDrawerDensity.Small">
            <FluentNavItem Href="https://example.com">Test Item</FluentNavItem>
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("density=", cut.Markup);
    }

    [Fact]
    public void FluentNav_Renders_With_Medium_Density()
    {
        // Arrange & Act
        var cut = Render(@<FluentNav Density="NavDrawerDensity.Medium">
            <FluentNavItem Href="https://example.com">Test Item</FluentNavItem>
        </FluentNav>);

        // Assert
        Assert.NotNull(cut);
        Assert.Contains("density=", cut.Markup);
    }

	[Fact]
	public void FluentNav_Renders_With_AppIcon()
	{
		// Arrange & Act
		var cut = Render(@<FluentNav AppTitle="My App" AppIcon="@Samples.Icons.Info">
		</FluentNav>);
		// Assert
		Assert.NotNull(cut);
		Assert.Contains("<svg style=\"width: 24px;", cut.Markup); 
		Assert.Contains("My App", cut.Markup);
	}

	[Fact]
	public void FluentNav_UseIcons_True()
	{
		// Arrange & Act
		var cut = Render(@<FluentNav>
			<FluentNavItem Icon="@Samples.Icons.Info" Href="https://example.com">Test Item</FluentNavItem>
		</FluentNav>);

		// Assert
		Assert.NotNull(cut);
		Assert.Contains("<svg", cut.Markup);
	}
}
