/*
    before-top       above        after-top
    above-start                   above-end


    before       center-center    after


    before-bottom    below        after-bottom
    below-start                   below-end

*/

fluent-badge-container,
fluent-counter-badge-container {
  position: relative;
  display: inline-block;
}

fluent-badge[positioning='before-top'],
fluent-badge[positioning='above-start'],
fluent-counter-badge[positioning='before-top'],
fluent-counter-badge[positioning='above-start'] {
  position: absolute;
  top: calc(1 * var(--offset-y, 0px));
  left: calc(1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, -50%);
}

[dir='rtl'] fluent-badge[positioning='before-top'],
[dir='rtl'] fluent-badge[positioning='above-start'],
[dir='rtl'] fluent-counter-badge[positioning='before-top'],
[dir='rtl'] fluent-counter-badge[positioning='above-start'] {
  left: unset;
  right: calc(-1 * var(--offset-x, 0px));
  transform: translate(50%, -50%);
}

fluent-badge[positioning='above'],
fluent-counter-badge[positioning='above'] {
  position: absolute;
  top: calc(1 * var(--offset-y, 0px));
  left: calc(50% + 1 * var(--offset-x, 0px));
  transform: translate(-50%, -50%);
}

fluent-badge[positioning='after-top'],
fluent-badge[positioning='above-end'],
fluent-counter-badge[positioning='after-top'],
fluent-counter-badge[positioning='above-end'] {
  position: absolute;
  top: calc(1 * var(--offset-y, 0px));
  left: unset;
  right: calc(-1 * var(--offset-x, 0px));
  transform: translate(50%, -50%);
}

[dir='rtl'] fluent-badge[positioning='after-top'],
[dir='rtl'] fluent-badge[positioning='above-end'],
[dir='rtl'] fluent-counter-badge[positioning='after-top'],
[dir='rtl'] fluent-counter-badge[positioning='above-end'] {
  left: calc(1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, -50%);
}

fluent-badge[positioning='after'],
fluent-counter-badge[positioning='after'] {
  position: absolute;
  top: calc(50% + var(--offset-y, 0px));
  left: unset;
  right: calc(-1 * var(--offset-x, 0px));
  transform: translate(50%, -50%);
}

[dir='rtl'] fluent-badge[positioning='after'],
[dir='rtl'] fluent-counter-badge[positioning='after'] {
  left: calc(1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, -50%);
}

fluent-badge[positioning='after-bottom'],
fluent-badge[positioning='below-end'],
fluent-counter-badge[positioning='after-bottom'],
fluent-counter-badge[positioning='below-end'] {
  position: absolute;
  bottom: calc(-1 * var(--offset-y, 0px));
  left: unset;
  right: calc(-1 * var(--offset-x, 0px));
  transform: translate(50%, 50%);
}

[dir='rtl'] fluent-badge[positioning='after-bottom'],
[dir='rtl'] fluent-badge[positioning='below-end'],
[dir='rtl'] fluent-counter-badge[positioning='after-bottom'],
[dir='rtl'] fluent-counter-badge[positioning='below-end'] {
  left: calc(1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, 50%);
}

fluent-badge[positioning='below'],
fluent-counter-badge[positioning='below'] {
  position: absolute;
  bottom: calc(-1 * var(--offset-y, 0px));
  left: calc(50% + 1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, 50%);
}

fluent-badge[positioning='before-bottom'],
fluent-badge[positioning='below-start'],
fluent-counter-badge[positioning='before-bottom'],
fluent-counter-badge[positioning='below-start'] {
  position: absolute;
  bottom: calc(-1 * var(--offset-y, 0px));
  left: calc(1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, 50%);
}

[dir='rtl'] fluent-badge[positioning='before-bottom'],
[dir='rtl'] fluent-badge[positioning='below-start'],
[dir='rtl'] fluent-counter-badge[positioning='before-bottom'],
[dir='rtl'] fluent-counter-badge[positioning='below-start'] {
  left: unset;
  right: calc(-1 * var(--offset-x, 0px));
  transform: translate(50%, 50%);
}

fluent-badge[positioning='before'],
fluent-counter-badge[positioning='before'] {
  position: absolute;
  top: calc(50% + var(--offset-y, 0px));
  left: calc(1 * var(--offset-x, 0px));
  right: unset;
  transform: translate(-50%, -50%);
}

[dir='rtl'] fluent-badge[positioning='before'],
[dir='rtl'] fluent-counter-badge[positioning='before'] {
  left: unset;
  right: calc(-1 * var(--offset-x, 0px));
  transform: translate(50%, -50%);
}

fluent-badge[positioning='center-center'],
fluent-counter-badge[positioning='center-center'] {
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(50% + 1* var(--offset-x, 0px));
  top: calc(50% + var(--offset-y, 0px));
}
