.fluent-presence-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadiusCircular);
  background-color: var(--colorNeutralBackground1);
  background-clip: content-box;
  padding: 1px;
}
