@page "/Tabs"

@using FluentUI.Demo.Shared.Pages.Tabs.Examples

<h1>Tabs</h1>

<p><em>Tabs</em> are a set of layered sections of content that display one panel of content at a time. Each tab panel has an associated tab element, that when activated, displays the panel. The list of tab elements is arranged along one edge of the currently displayed panel.</p>
<p>
    <code>&lt;FluentTabs&gt;</code> wraps the <code>&lt;fluent-tabs&gt;</code> element, a web component implementation of a tabs composition leveraging the
    Fluent UI design system. It uses the <code>&lt;FluentTab&gt;</code> and <code>&lt;FluentTabPanel&gt;</code> (no parameters) components to define the structure.
</p>

<ApiDocumentation Component="typeof(FluentTab)" />
<ApiDocumentation Component="typeof(FluentTabs)" />

<h2>Examples</h2>

<DemoSection Title="Default" Component="@typeof(TabsDefault)"></DemoSection>

<DemoSection Title="Extra content" Component="@typeof(TabsExtraContent)"></DemoSection>

<DemoSection Title="No active tab indicator" Component="@typeof(TabsNoIndicator)"></DemoSection>