@page "/ProfileMenu"

@using FluentUI.Demo.Shared.Pages.ProfileMenu.Examples

<h1>ProfileMenu</h1>

<p>
    A "User Profile Menu" is a component commonly found on websites or applications.
    It typically appears in the top-right corner of a web page and provides options related to
    the user's account. Within this menu, users can access features such as viewing their account details,
    adjusting settings, and logging out. It serves as a convenient hub for managing account-related actions.
</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="typeof(ProfileMenuDefault)"></DemoSection>

<h2 id="customized">Customized</h2>

<DemoSection Title="Customized" Component="typeof(ProfileMenuCustomized)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentProfileMenu)" />
