@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<FluentCard>
    <p>
        This is some content in a <code>FluentCard</code> component.
        The button below does not do anything.
    </p>
    <FluentButton Appearance="Appearance.Accent">Hello</FluentButton>
</FluentCard>
