<h5>Autofocus</h5>
<p>Commented out to prevent page actually jumping to this location. See example code below for implementation.</p>
@*<FluentTextArea Autofocus="true">autofocus</FluentTextArea>*@

<!-- Focus Async -->
<h5>Focus Async</h5>
<div style="display:flex">
    <FluentButton @onclick="() => focusTest!.FocusAsync()">FocusAsync</FluentButton>
    <FluentTextArea @ref=focusTest></FluentTextArea>
</div>

@code {
    FluentTextArea? focusTest;
}
