<h5>Required</h5>
<FluentTextArea Required="true"></FluentTextArea>

<h5>Disabled</h5>
<FluentTextArea Disabled="true"></FluentTextArea>
<FluentTextArea Disabled="true">
    <span>label</span>
</FluentTextArea>
<FluentTextArea Disabled="true" Placeholder="placeholder"></FluentTextArea>

<h5>Read only</h5>
<FluentTextArea Readonly="true" Value="Readonly text area"></FluentTextArea>
<FluentTextArea Readonly="true" Value="Readonly text area">label</FluentTextArea>
