<h5>Both</h5>
<FluentTextArea Resize="TextAreaResize.Both"></FluentTextArea>

<h5>Horizontal</h5>
<FluentTextArea Resize="TextAreaResize.Horizontal"></FluentTextArea>

<h5>Vertical</h5>
<FluentTextArea Resize="TextAreaResize.Vertical"></FluentTextArea>