<h4>Both</h4>
<FluentTextArea Resize="TextAreaResize.Both"></FluentTextArea>

<h4>Horizontal</h4>
<FluentTextArea Resize="TextAreaResize.Horizontal"></FluentTextArea>

<h4>Vertical</h4>
<FluentTextArea Resize="TextAreaResize.Vertical"></FluentTextArea>