﻿<p>
    12 rows: <br />
    <FluentTextArea @bind-Value=value1 Rows="12"></FluentTextArea>
</p>
<p>
    60 cols: <br />
    <FluentTextArea @bind-Value=value2 Cols="60"></FluentTextArea>
</p>
@code {
    string? value1, value2;
}