<h5>Default</h5>
<FluentTextArea Appearance="Appearance.Filled"></FluentTextArea>
<FluentTextArea Appearance="Appearance.Filled">
    <span>label</span>
</FluentTextArea>

<h5>Placeholder</h5>
<FluentTextArea Appearance="Appearance.Filled" Placeholder="Placeholder"></FluentTextArea>

<!-- Required -->
<h5>Required</h5>
<FluentTextArea Appearance="Appearance.Filled" Required="true"></FluentTextArea>

<!-- Disabled -->
<h5>Disabled</h5>
<FluentTextArea Appearance="Appearance.Filled" Disabled="true"></FluentTextArea>
<FluentTextArea Appearance="Appearance.Filled" Disabled="true">
    <span>label</span>
</FluentTextArea>
<FluentTextArea Appearance="Appearance.Filled" Disabled="true" Placeholder="placeholder"></FluentTextArea>

<!-- Read only -->
<h5>Read only</h5>
<FluentTextArea Appearance="Appearance.Filled" Value="Readonly text area" Readonly="true">
    label
</FluentTextArea>
<FluentTextArea Appearance="Appearance.Filled" Value="Readonly text area" Readonly="true">
    label
</FluentTextArea>