<h4>Checked</h4>
<FluentRadioGroup @bind-Value=value1 Name="checkedstate">
    <FluentRadio Name="checkedstate" Value=@("checked") Checked="true"></FluentRadio>
</FluentRadioGroup>

<h4>Required</h4>
<FluentRadioGroup @bind-Value=value2>
    <FluentRadio Value=@("required") Required="true"></FluentRadio>
</FluentRadioGroup>

<h4>Disabled</h4>
<FluentRadioGroup @bind-Value=value3>
    <FluentRadio Disabled="true"></FluentRadio>
    <FluentRadio Disabled="true">label</FluentRadio>
    <FluentRadio Disabled="true" Checked="true">checked</FluentRadio>
</FluentRadioGroup>
@code {
    string? value1, value2, value3;
}