<p>Without a label: <FluentRadioGroup TValue="string"><FluentRadio TValue="string"></FluentRadio></FluentRadioGroup></p>
<p>With a label: <FluentRadioGroup TValue="string"><FluentRadio TValue="string">label</FluentRadio></FluentRadioGroup></p>