<h4>Visual vs audio label</h4>
<FluentRadio>
    <span aria-label="Audio label">Visible label</span>
</FluentRadio>

<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <label id="label1">Outside label</label>
    <FluentRadio aria-labelledby="label1"></FluentRadio>
</div>