<h5>Checked</h5>
<FluentRadio Value="checked" Checked="true"></FluentRadio>

<h5>Required</h5>
<FluentRadio Value="required" Required="true"></FluentRadio>

<h5>Disabled</h5>
<FluentRadio Disabled="true"></FluentRadio>
<FluentRadio Disabled="true">label</FluentRadio>
<FluentRadio Disabled="true" Checked="true">checked</FluentRadio>