<h4>Visual vs audio label</h4>
<FluentRadioGroup TValue="string">
    <FluentRadio TValue="string">
        <span aria-label="Audio label">Visible label</span>
    </FluentRadio>
</FluentRadioGroup>

<div style="display: flex; flex-direction: column; margin-top: 12px;">
    <FluentRadioGroup TValue="string">
        <label id="label1">Outside label</label>

        <FluentRadio aria-labelledby="label1" TValue="string"></FluentRadio>
    </FluentRadioGroup>
</div>
