@page "/Header"

@using FluentUI.Demo.Shared.Pages.Header.Examples

<PageTitle>@App.PageTitle("Header")</PageTitle>

<h1>Header</h1>

<p>
    The <code>FluentHeader</code> component is used to display a title (and possibly other components) in a colored bar at the top of a site or application. For the background color it uses the currently selected accent color.
</p>

<h2 id="example">Example</h2>

<DemoSection Component="typeof(HeaderDefault)" Title="Header" />

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentHeader)" />
