@page "/Header"

@using FluentUI.Demo.Shared.Pages.Header.Examples

<h1>Header</h1>

<p>
    The <code>FluentHeader</code> component is used display a title (and possibly other components) in a colored bar at the top of a site or application. For the background color it uses the currently selected accent color.
</p>

<h2>Example</h2>

<DemoSection Component="typeof(HeaderDefault)" Title="Header" />

<h2>Documentation</h2>

<ApiDocumentation Component="typeof(FluentHeader)" />
