<FluentButton IconStart="@(new Icons.Regular.Size20.Globe())"
              Appearance="ButtonAppearance.Primary">
    Button
</FluentButton>

<FluentButton IconEnd="@(new Icons.Regular.Size20.Globe())">
    Button
</FluentButton>

<FluentButton IconStart="@(new Icons.Regular.Size20.Globe())" />

<br />
<p>With icon in the content. By doing it this way, it is possible to specify a <code>Color</code> for the icon.</p>
<FluentButton>
    <FluentIcon Value="@(new Icons.Regular.Size32.Globe())" Color="Color.Error" Slot="start" />
    Button
</FluentButton>
