<FluentTabs ActiveTabId="tab2" @bind-ActiveTab="@ActiveTab" @bind-ActiveTab:after="@OnTabChanged">
    <FluentTab Id="tab1" Header="Chat">
        Here's some information about the chat.
    </FluentTab>

    <FluentTab Id="tab2" Header="Files" Disabled="true">
        Here's the list of all files.
    </FluentTab>

    <FluentTab Id="tab3" Header="Recap">
        Here's some information about the recap.
    </FluentTab>
</FluentTabs>

<p>
    ActiveTab: @(ActiveTab?.Header)
</p>

@code
{
    FluentTab? ActiveTab;

    void OnTabChanged()
    {
        Console.WriteLine($"Tab changed to '{ActiveTab?.Header}'."); 
    }
}
