.fluentui-counterbadge-container {
    display: inline;
    position: relative;
    height: 100%;
}

.fluentui-counterbadge {
    position: absolute;
    z-index: 10;
    font-size: var(--type-ramp-minus-2-font-size);
    font-weight: 600;
    border-radius: 10000px;
    letter-spacing: 0;
    min-width: 10px;
    padding: 4px 4px;
    line-height: 1;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    box-sizing: content-box;
    cursor: default;
}

    .fluentui-counterbadge[dot-only] {
        width: var(--design-unit);
        min-width: unset;
        height: var(--design-unit);
    }
