# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build and Test Core Lib

on:
  # Allow manually running the workflow
  workflow_dispatch:

  push:
    branches:
      - dev
    paths-ignore:
      - '**/*.gitignore'
      - '**/*.gitattributes'
  
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - dev
    paths-ignore:
      - '**/*.gitignore'
      - '**/*.gitattributes'

env:
  PROJECTS: "./src/Core/Microsoft.FluentUI.AspNetCore.Components.csproj"
  TESTS: "./tests/Core/Microsoft.FluentUI.AspNetCore.Components.Tests.csproj"

jobs:
  Build:

    runs-on: windows-latest

    permissions:
      checks: write
      pull-requests: write

    steps:
     - name: Checkout source
       uses: actions/checkout@v4

     - name: Setup .NET 8.0
       uses: actions/setup-dotnet@v4
       with:
        dotnet-version: 8.0.x

     # Build

     - name: Restore
       run: dotnet restore
       
     - name: Build
       run: dotnet build ${{ env.PROJECTS }} --configuration Release
       working-directory: ${{ github.workspace }}

     # Test Coverage

     - name: Test
       run: dotnet test ${{ env.TESTS }} --verbosity normal --configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:DebugType=Full
       working-directory: ${{ github.workspace }}

     - name: ReportGenerator
       uses: danielpalme/ReportGenerator-GitHub-Action@5
       with:
         reports: '**/coverage.cobertura.xml'
         targetdir: 'CoverageReports'
         reporttypes: 'HtmlInline;Cobertura'
     
     - name: Upload coverage report
       uses: actions/upload-artifact@v2
       with:
         name: CoverageReports
         path: CoverageReports