@page "/IssueTester"
@page "/IssueTester/{*routeparameters}"
@inject NavigationManager NavigationManager

<h1>IssueTester</h1>

<p>Route: @RouteParameters </p>

<FluentStack>
    <FluentButton @onclick="@(() => NavigationManager.NavigateTo("/IssueTester/123"))" Title="Route parameter(s)">123</FluentButton>
    <FluentButton @onclick="@(() => NavigationManager.NavigateTo("/IssueTester/123/456"))" Title="Route parameter(s)">123/456</FluentButton>
</FluentStack>

<p style="padding-top: 10px;">Note that when clicking these button, the 'Incubation lab' navigation menu item stays selected.</p>

@code {
    [Parameter]
    public string? RouteParameters { get; set; }

}