@page "/issue-tester"
<PageTitle>@App.PageTitle("Lab Overview")</PageTitle>

<h1><FluentIcon Value="@(new Icons.Regular.Size24.WrenchScrewdriver())" />Issue Tester</h1>


<DemoSection Component="typeof(IssueTester)" Title="Testbed for issues reported on GH" />

