@page "/IssueTester"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">
    Current count: <FluentBadge Appearance="Appearance.Accent">@currentCount</FluentBadge>
</p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

<br />
<br />

<EditForm Model="@Content" OnValidSubmit="@SaveAsync">
    <FluentStack Orientation="Orientation.Vertical">
        <FluentCheckbox @bind-Value=@Content.IsChecked>Check test</FluentCheckbox>
        <FluentSwitch @bind-Value=Content.Switch CheckedMessage="On" UncheckedMessage="Off">
            Switch test
        </FluentSwitch>
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>

@code {
    public class TestData
    {
        public string? Title { get; set; }

        public bool IsChecked { get; set; }
        public bool Switch { get; set; }
    }

    public TestData Content = new();

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private async Task SaveAsync()
    {
    }
}
