@page "/IssueTester"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<EditForm Model="@this" OnValidSubmit="OnValidSubmit" FormName="MyForm">
    <FluentTextField @bind-Value="value"></FluentTextField><br />
    <InputText @bind-Value="value"></InputText><br />
    <FluentButton Type="ButtonType.Submit">Submit</FluentButton><br />
    <span>Submit message: @submitMessage</span>
</EditForm>

@code {
    private string value = "edit, then hit enter to submit";
    private string submitMessage = "";

    private void OnValidSubmit()
    {
        submitMessage = $"Submitted: {value}";
    }
}