@inherits FluentComponentBase
<fluent-accordion-item accordion-item-id="@AccordionItemId" 
                       expanded="@Expanded"
                       @attributes="AdditionalAttributes">
    <span slot="heading">@Heading</span>
    @ChildContent
</fluent-accordion-item>
