@inherits FluentComponentBase
<fluent-accordion-item @ref=Element
                       id="@Id"
                       heading-level=@HeadingLevel
                       expanded="@Expanded"
                       @attributes="AdditionalAttributes">
    <span slot="heading">@Heading</span>
    @ChildContent
</fluent-accordion-item>
