@namespace Microsoft.FluentUI.AspNetCore.Components
@implements IToastContentComponent<CommunicationToastContent>

<div class="fluent-toast-body">
    @if (!string.IsNullOrWhiteSpace(Content.Subtitle))
    {
        <div class="fluent-toast-subtitle">@Content.Subtitle</div>
    }

    @if (!string.IsNullOrWhiteSpace(Content.Details))
    {
        <div class="fluent-toast-details">@Content.Details</div>
    }
</div>
