@namespace Microsoft.FluentUI.AspNetCore.Components
@implements IToastContentComponent<ProgressToastContent>


<div class="fluent-toast-body">
    @if (!string.IsNullOrWhiteSpace(Content.Details))
    {
        <div class="fluent-toast-details">@Content.Details</div>
    }

    <FluentProgress Class="fluent-toast-progressbar" Min="0" Max="100" Value="@Content.Progress"></FluentProgress>
    @if (Content.Progress is not null)
    {
        <div class="fluent-toast-progressbar-percentage">@Content.Progress%</div>
    }
</div>